<app-usernavbar></app-usernavbar>
<div class='well' (resized)="onResized($event)">
  <div class="row ml-1">
    <h5 *ngIf="vpActive">{{ 'vpKeyMetric.lbl.vc' | translate }}:
      <a *ngIf="hasVCPerm(permVC.View)" (click)="gotoVC(vpActive)">{{ vpActive.vc.name }}</a>
      <span *ngIf="!hasVCPerm(permVC.View)">{{ vpActive.vc.name }}</span>
    </h5>
  </div>
  <div *ngIf="vpActive" class='row'>
    <div class='col-7'>
      <h2 *ngIf="vpActive" class="ml-1">
        {{ getVPType(vpActive.vpType) }}:
        <a (click)="gotoVPDetail(vpActive)">{{vpActive.name}}</a>
        <span *ngIf="getDropDownList(1, true).length > 1" class="dropdown" class="ml-2">
          <a class="dropdown-toggle" data-toggle="dropdown" style="!important" title="{{getDropDown('description')}}">{{getDropDown('variantName')}}</a>
          <div class="dropdown-menu">
            <div *ngFor="let item of getDropDownList(1, true)">
              <a *ngIf="!isActiveVariant(item)" class="dropdown-item" (click)="switchVariant(item.variantName)" title="{{getVariantInfo(item)}}">{{ item.name }}</a>
            </div>
          </div>
        </span>
        <a>
          <small *ngIf="vpvActive" data-toggle="modal" data-target="#VpvDetails" (click)="initCustomFields(vpActive)" class="mx-2" title="{{ vpvActive.ampelErlaeuterung || 'vpKeyMetric.lbl.noTrafficLight' | translate }}">
          <ng-container *ngTemplateOutlet="trafficLight; context:{level: vpvActive.ampelStatus} " ></ng-container>
          </small>
        </a>
      </h2>
      <div *ngIf="vpvActive?.variantName == ''" class="ml-3" title="{{ vpActive.description }}">
        {{ getShortText(vpActive.description, 100) }}
      </div>
      <div *ngIf="dropDownIndex > 0" class="ml-3" title="{{ dropDown[dropDownIndex].description }}">
        {{ getShortText(dropDown[dropDownIndex].description, 100) }}
      </div>
      <div *ngIf="vpvActive?.description && !vpActive.description.includes(vpvActive.description)" class="ml-3" title="{{ vpvActive.description }}">
        {{ getShortText(vpvActive.description, 100) }}
      </div>
    </div>
    <div class='col-5 mt-1'>
      <h5 *ngIf="vpActive.managerId" class="col">
        <span title="{{getVPManager(vpActive, true) }}">
          {{ 'vpKeyMetric.lbl.manager' | translate }}:
          <span>{{ getVPManager(vpActive, false) }}, </span>
        </span>
        <span>
          {{ 'vpKeyMetric.lbl.vpStatus' | translate }}:
          <span>{{ getVPStatus() }}</span>
        </span>
      </h5>
    </div>
  </div>

  <div *ngIf="vpvActive">
    <div class="row">
      <h4 class="col-6 text-dark">
        <div>
          <div class="d-none d-lg-block">
            <div class="form-group row">
              <!-- <label for="vpvFrom" class="col col-form-label">{{ (isLatestVPV(vpvActive) ? 'vpKeyMetric.titleVersion' : 'vpKeyMetric.titleVersionOld') | translate }}:</label>
              <input id="vpvFrom" type="date" class="col-4 form-control mt-2" name="refDateStr" [(ngModel)]="refDateStr" (change)="changeRefDate()" title="{{getTimestampTooltip(vpvActive)}}"> -->
              <label class="ml-3" title="{{getTimestampTooltip(vpvActive)}}">
                {{ (isLatestVPV(vpvActive) ? 'vpKeyMetric.titleVersion' : 'vpKeyMetric.titleVersionOld') | translate }}:
                <span>
                  {{vpvActive.timestamp | date: 'dd.MM.YYYY'}}
                </span>
              </label>
              <label class="ml-3">
                <a (click)="viewVersions = !viewVersions" title="{{ 'vpKeyMetric.titleShowVPVersions' | translate }}">
                  <i class="fa fa-clock" [ngClass]="{'text-secondary': !viewVersions, 'text-success': viewVersions}"></i>
                </a>
                <a *ngIf="!checkBaselineVersion(vpvActive)" title="{{ 'vpKeyMetric.lbl.newerBL' | translate }}: {{vpvBaselineNewestTS | date :'dd.MM.yyyy HH:mm'}}">
                  <ng-container *ngTemplateOutlet="indicator; context:{level: vpvActive.variantName == '' ? 3 : 2} " ></ng-container>
                </a>
              </label>
            </div>
          </div>
          <div class="d-block d-lg-none" title="{{getTimestampTooltip(vpvActive)}}">
            V.: {{ vpvActive.timestamp | date :'dd.MM.'}}
          </div>
        </div>
      </h4>
    </div>
    <div *ngIf="viewVersions && graphDataTimeline.length > 1" class="row mt-2">
      <div class="col-10">
        <app-timeline-chart [graphData]="graphDataTimeline" [graphOptions]="graphOptionsTimeline" [parentThis]="parentThis" [language]="currentLang"></app-timeline-chart>
      </div>
      <div class="col-2">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" (change)="viewVPVOverTime()" class="custom-control-input" id="allVariants" name="viewAllVariants" [(ngModel)]="viewAllVariants">
            <label class="custom-control-label" for="allVariants">{{ 'vpKeyMetric.lbl.allVariants' | translate }}</label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="vpvActive" class="container-fluid">
    <div *ngIf="!getPreView()" class="row d-print-none">
      <div class="col-9 btn-toolbar" style="padding: unset;">
        <button *ngIf="hasVPPerm(permVP.View)" type="button" class="btn btn-md btn-light mr-1" (click)="switchView('Overview')">{{ 'vpKeyMetric.btn.vpOverview' | translate }}</button>
        <button *ngIf="hasVPPerm(permVP.View)" type="button" class="btn btn-md btn-light mr-1" (click)="switchView('KeyMetrics')">{{ 'vpKeyMetric.btn.vpKeyMetric' | translate }}</button>
        <button *ngIf="hasVPPerm(permVP.Modify + permVP.ViewAudit) && hasOrga" type="button" class="btn btn-md btn-light mr-1" (click)="switchView('Capacity')">{{ 'vpKeyMetric.btn.vpCapacity' | translate }}</button>
        <div class="dropdown mr-1">
          <button class="btn btn-md btn-light dropdown-toggle"  data-toggle="dropdown">
            {{ 'vpKeyMetric.btn.vpView' | translate }}
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu">
            <a *ngIf="hasKM(vpvActive.keyMetrics, 'Cost') && hasOrga" class="dropdown-item" (click)="switchView('Cost', false)">{{ 'vpKeyMetric.lbl.metricCost' | translate }}</a>
            <a class="dropdown-item" (click)="switchView('Deadline', false)">{{ 'vpKeyMetric.lbl.metricDeadline' | translate }}</a>
            <a class="dropdown-item" (click)="switchView('Delivery', false)">{{ 'vpKeyMetric.lbl.metricDelivery' | translate }}</a>
            <a *ngIf="customEdit && hasVPPerm(permVP.Modify)" class="dropdown-item" (click)="initCustomURL('edit')">{{customEdit}}</a>
            <!-- ur: 12.09.2022: ProjectEdit only enabled, if the user has the Modify-Permission -->
            <a *ngIf="customEdit && !hasVPPerm(permVP.Modify)" class="dropdown-item disabled" (click)="initCustomURL('edit')">{{customEdit}}</a>
            <!-- old -- <a [href]="customURL" class="dropdown-item" (click)="initCustomURL('edit')" >{{customEdit}}</a> -->
            <!-- <a *ngIf="getEnableDisable('EnablePredict', 2, true) && customPredict" class="dropdown-item" (click)="initCustomURL('predict')" data-toggle="modal" data-target="#vpvModalCustomURL">{{customPredict}}</a> -->
            <a class="dropdown-item" (click)="switchView('All')">{{ 'vpKeyMetric.btn.vpViewAll' | translate }}</a>
            <a *ngIf="vpvActive" class="dropdown-item" data-toggle="modal" data-target="#VpvDetails" (click)="initCustomFields(vpActive)">{{ 'vpKeyMetric.btn.vpViewProperties' | translate }}</a>
        </div>
        </div>
          <div *ngIf="canCommit() || canCopyVersion()" class="dropdown mr-1">
            <button class="btn btn-md btn-light dropdown-toggle"  data-toggle="dropdown">
              {{ 'vpKeyMetric.btn.vpvChange' | translate }}
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <a *ngIf="canCopyVersion()"class="dropdown-item" (click)="initNewVPV('Copy')" data-toggle="modal" data-target="#vpvModalCopy">{{ 'vpKeyMetric.btn.vpvCopy' | translate }}</a>
              <a *ngIf="canModify() && canCopyVersion()" class="dropdown-item" (click)="initNewVPV('Move')" data-toggle="modal" data-target="#vpvModalMove">{{ 'vpKeyMetric.btn.vpvMove' | translate }}</a>
              <a *ngIf="canCommit()" class="dropdown-item"  (click)="setVPToCommit()" data-toggle="modal" data-target="#VpvCommit">{{ 'vpKeyMetric.btn.vpCommit' | translate }}</a>
            </div>
        </div>
      </div>
    </div>
    <hr>

    <div *ngIf="currentView == 'Overview'">
      <app-comp-viewvp [visboprojectversions]="activeVPVs" [vpvid]="vpvActive._id" [combinedPerm]="combinedPerm" (switchViewChild)="switchViewParent($event)"></app-comp-viewvp>
    </div>

    <div *ngIf="currentView == 'KeyMetrics' || currentViewKM">
      <app-comp-viewkeymetrics [visboprojectversions]="activeVPVs" [vpvid]="vpvActive._id" [combinedPerm]="combinedPerm" (switchViewChild)="switchViewParent($event)"></app-comp-viewkeymetrics>
    </div>

    <div *ngIf="currentView == 'Capacity' && vcOrga">
      <app-comp-viewcapacity [vpActive]="vpActive" [vpvActive]="vpvActive" [vcOrganisation]="vcOrga[0]" [combinedPerm]="combinedPerm"></app-comp-viewcapacity>
    </div>
    <div *ngIf="currentView == 'Cost'">
      <app-comp-viewcost [vpvActive]="vpvActive" [combinedPerm]="combinedPerm"></app-comp-viewcost>
    </div>

    <div *ngIf="currentView == 'Deadline'">
      <app-comp-viewdeadline [vpvActive]="vpvActive" [combinedPerm]="combinedPerm"></app-comp-viewdeadline>
    </div>

    <div *ngIf="currentView == 'Delivery'">
      <app-comp-viewdelivery [vpvActive]="vpvActive" [combinedPerm]="combinedPerm"></app-comp-viewdelivery>
    </div>

    <div *ngIf="currentView == 'All'">
      <div *ngIf="hasVPPerm(permVP.ViewAudit) && hasKM(vpvActive.keyMetrics, 'Cost') && hasOrga" class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              {{ 'vpKeyMetric.lbl.metricCost' | translate }}
            </button>
          </h5>
        </div>

        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
          <div class="card-body">
            <app-comp-viewcost [vpvActive]="vpvActive" [combinedPerm]="combinedPerm"></app-comp-viewcost>
          </div>
        </div>
      </div>
      <div *ngIf="hasKM(vpvActive.keyMetrics, 'Deadline')" class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{ 'vpKeyMetric.lbl.metricDeadline' | translate }}
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <app-comp-viewdeadline [vpvActive]="vpvActive" [combinedPerm]="combinedPerm"></app-comp-viewdeadline>
          </div>
        </div>
      </div>
      <div *ngIf="hasKM(vpvActive.keyMetrics, 'Delivery')" class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              {{ 'vpKeyMetric.lbl.metricDelivery' | translate }}
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
          <div class="card-body">
            <app-comp-viewdelivery [vpvActive]="vpvActive" [combinedPerm]="combinedPerm"></app-comp-viewdelivery>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #indicator let-level="level">
  <i class="fa" [ngClass]="{'fa-check-circle text-success': level == 1, 'fa-exclamation-triangle text-warning': level == 2, 'fa-exclamation-circle text-danger': level == 3}"></i>
</ng-template>

<ng-template #trafficLight let-level="level">
  <i class="fas fa-lightbulb" [ngClass]="{'text-secondary': level == 0, 'text-success': level == 1, 'text-warning': level == 2, 'text-danger': level == 3}"></i>
</ng-template>

<ng-template #highlight let-selected="selected" let-text="text">
  <span [ngClass]="{'font-weight-bold': selected == true, 'font-weight-normal': selected == false}">{{text}}</span>
</ng-template>

<!-- Modal Show Project Version Info -->
<div *ngIf="vpvActive" class="modal fade" id="VpvDetails" tabindex="-1" role="dialog" aria-labelledby="VpvDetailsTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VpvDetailsTitle">
          <div title="{{ vpvActive.timestamp | date :'dd.MM.yyyy HH:mm:ss'}}">
            {{ 'vpKeyMetric.titleDetailVersion' | translate }}: {{vpvActive.timestamp | date :'dd.MM.yy HH:mm'}}
          </div>
          <div *ngIf="vpvBaseline" title="{{ vpvBaseline.timestamp | date :'dd.MM.yyyy HH:mm:ss'}}">
            {{ 'vpKeyMetric.titleBaseline' | translate }}: {{ vpvBaseline.timestamp | date :'dd.MM.yy HH:mm'}}
          </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="VpvDetailsForm">
          <table *ngIf="vpvActive" class='table table-hover'>
            <!--Table head-->
            <thead>
              <tr>
                <th>{{ 'vpKeyMetric.lbl.name' | translate }}</th>
                <th>{{ 'vpKeyMetric.lbl.info' | translate }}</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody>
              <tr *ngIf="vpvActive.startDate">
                <td>{{ 'vpKeyMetric.lbl.startDate' | translate }}</td>
                <td>
                  {{ vpvActive.startDate | date :'dd.MM.yyyy'}}
                  <span *ngIf="vpvBaseline && vpvBaseline.startDate != vpvActive.startDate"> ({{ vpvBaseline.startDate | date :'dd.MM.yyyy'}}) </span>
                </td>
              </tr>
              <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.endDateCurrent">
                <td>{{ 'vpKeyMetric.lbl.endDate' | translate }}</td>
                <td>
                  {{ vpvActive.keyMetrics.endDateCurrent | date :'dd.MM.yyyy'}}
                  <span *ngIf="vpvBaseline && vpvBaseline.endDate != vpvActive.keyMetrics.endDateCurrent"> ({{ vpvBaseline.endDate | date :'dd.MM.yyyy'}}) </span>
                </td>
              </tr>
              <tr *ngIf="!(vpvActive.keyMetrics && vpvActive.keyMetrics.endDateCurrent) && vpvActive.endDate">
                <td>{{ 'vpKeyMetric.lbl.endDate' | translate }}</td>
                <td>
                  <span> {{ vpvActive.endDate | date :'dd.MM.yyyy'}}</span>
                </td>
              </tr>
              <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.RACCurrent && vpvActive.keyMetrics.RACBaseLast">
                <td title="{{ 'keyMetrics.longRACBaseCurr' | translate }}">{{ 'keyMetrics.longRACBaseCurr' | translate }}</td>
                <td>
                  {{ vpvActive.keyMetrics.RACBaseLast | number:'1.0-0' }} T€
                   / {{ vpvActive.keyMetrics.RACCurrent | number:'1.0-0' }} T€
                </td>
              </tr>            
              <tr *ngIf="vpvActive.keyMetrics && !vpvActive.keyMetrics.RACBaseLast">
                <td title="{{ 'keyMetrics.longRAC' | translate }}">{{ 'keyMetrics.shortRAC' | translate }}</td>
                <td>
                  {{ vpvActive.Erloes | number:'1.0-0' }} T€
                </td>
              </tr>
              <tr *ngIf="!vpvActive.keyMetrics">
                <td title="{{ 'keyMetrics.longRAC' | translate }}">{{ 'keyMetrics.shortRAC' | translate }}</td>
                <td>
                  {{ vpvActive.Erloes | number:'1.0-0' }} T€
                </td>
              </tr>
              <tr>
                <td>{{ 'keyMetrics.lbl.trafficLight' | translate }}</td>
                <td title="{{ vpvActive.ampelErlaeuterung }}">
                  <ng-container *ngTemplateOutlet="trafficLight; context:{level: vpvActive.ampelStatus} " ></ng-container>
                  <br>
                  {{ vpvActive.ampelErlaeuterung }}
                </td>
              </tr>
              <tr *ngIf="vpvActive.actualDataUntil">
                <td>{{ 'vpKeyMetric.lbl.actualDataUntil' | translate }}</td>
                <td>
                  {{ getMonthEnd(vpvActive.actualDataUntil) | date :'dd.MM.yyyy' }}
                </td>
              </tr>
              <tr *ngIf="(vpActive.customFieldDate.length > 0 && customCommit) || customVPAdd">
                <td>{{ 'customField._PMCommit' | translate }}</td>
                <td>
                  <label id="VPCommit">{{ customCommit | date :'dd.MM.yyyy HH:mm' }} </label>
                </td>
              </tr>
              <tr *ngIf="vpvActive.description">
                <td>{{ 'vpKeyMetric.lbl.description' | translate }}</td>
                <td title="{{ vpvActive.description }}">{{ getShortText(vpvActive.description, 40) }}</td>
              </tr>
              <tr *ngIf="vpvActive.VorlagenName">
                <td>{{ 'vpKeyMetric.lbl.template' | translate }}</td>
                <td title="{{ vpvActive.VorlagenName }}">
                  {{ getShortText(vpvActive.VorlagenName, 20) }}
                </td>
              </tr>
              <tr>
                <td><b>{{ 'vpKeyMetric.lbl.projectProperty' | translate }}</b></td>
                <td>              
                </td>
              </tr>  
              <tr *ngIf="vpManagerEmail"> 
                <td>{{ 'vpKeyMetric.lbl.manager' | translate }}</td>
                <td>
                  <select *ngIf="hasVPPerm(permVP.Modify)" id="VPManager" class="dropdown-item px-1" id="vpManagerEmail" name="vpManagerEmail" [(ngModel)]="vpManagerEmail" (change)="setModified()">
                    <option *ngFor="let item of vpManagerList" value="{{item.email}}">{{ item.email }}</option>
                  </select>
                  <label id="VPManager" *ngIf="!hasVPPerm(permVP.Modify)">{{ getVPManager(vpActive) }} </label>
                </td>
              </tr> 
              <tr> 
                <td>{{ 'vpKeyMetric.lbl.vpStatus' | translate }}</td>
                <td>
                  <select *ngIf="canChangeVPDetails(false)" id="VPstatus" class="dropdown-item px-1" id="customVPStatus" name="customVPStatus" [(ngModel)]="customVPStatus" (change)="setModifiedVPStatus()">
                    <option *ngFor="let item of dropDownVPStatus" value="{{item.name}}">{{ item.localName }}</option>
                  </select>
                  <label id="VPStatus" *ngIf="!canChangeVPDetails(false)">{{ getShortText(getVPStatus(), 20) }} </label>
                </td>
              </tr>
              <tr *ngIf="customBU != undefined || customVPAdd">
                <td>{{ 'customField._businessUnit' | translate }}</td>
                <td title="{{ customBU }}">
                  <a *ngIf="canChangeVPDetails(true) && dropDownBU?.length > 1" class="dropdown-toggle" data-toggle="dropdown" style="!important">{{ customBU }}</a>
                  <div class="dropdown-menu">
                    <a *ngFor="let item of dropDownBU; let itemIndex = index" class="dropdown-item">
                      <div class="dropdown-item" (click)="customBU = item; setModified()">{{ item }}</div>
                    </a>
                  </div>
                  <input id="VPBU" *ngIf="canChangeVPDetails(true) && (!dropDownBU || dropDownBU.length <= 1)" type="text" (change)="setModified()" name=customBU [(ngModel)]="customBU">
                  <label id="VPBU" *ngIf="!canChangeVPDetails(true)">{{ getShortText(customBU, 20) }} </label>
                </td>
              </tr>
              <tr *ngIf="customStrategicFit >= 0 || customVPAdd">
                <td>{{ 'customField._strategicFit' | translate }}</td>
                <td>
                  <input id="VPSF" *ngIf="canChangeVPDetails(true)" type="number" (change)="setModified()" name=customStrategicFit [(ngModel)]="customStrategicFit" min=0 max=10>
                  <label id="VPSF" *ngIf="!canChangeVPDetails(true)">{{ customStrategicFit }} </label>
                </td>
              </tr>
              <tr *ngIf="customRisk >= 0 || customVPAdd">
                <td>{{ 'customField._risk' | translate }}</td>
                <td>
                  <input id="VPRisk" *ngIf="canChangeVPDetails(true)" type="number" (change)="setModified()" name=customRisk [(ngModel)]="customRisk" min=0 max=10>
                  <label id="VPRisk" *ngIf="!canChangeVPDetails(true)">{{ customRisk }} </label>
                </td>
              </tr>
              <tr *ngIf="vpActive.kundennummer || canChangeVPDetails(false)">
                <td>{{ 'vpKeyMetric.lbl.customerID' | translate }}</td>
                <td>
                  <input id="VPCustomerID" *ngIf="canChangeVPDetails(false)" type="string" (change)="setModified()" name=customerID [(ngModel)]="customerID">
                  <label id="VPCustomerID" *ngIf="!canChangeVPDetails(false)">{{ customerID }} </label>
                </td>
              </tr>
              <tr *ngFor="let item of editCustomFieldString">
                <td>{{ item.name }}</td>
                <td *ngIf="!canChangeVPDetails()" title="{{ item.value }}">
                  {{ getShortText(item.value, 20) }}
                </td>
                <td *ngIf="canChangeVPDetails()">
                  <input id="customFieldStringID" type="text" class="form-control" (change)="setModified()" name="{{ item.name }}" [(ngModel)]="item.value">
                </td>
              </tr>
              <tr *ngFor="let item of editCustomFieldDouble">
                <td>{{ item.name }}</td>
                <td *ngIf="!canChangeVPDetails()">{{ item.value }}</td>
                <td *ngIf="canChangeVPDetails()">
                  <input id="customFieldDoubleID" type="number" class="col-8 form-control" (change)="setModified()" name="{{ item.name }}" [(ngModel)]="item.value">
                </td>
              </tr>
              <tr *ngFor="let item of editCustomFieldDate">
                <td>{{ item.name }}</td>
                <td *ngIf="!canChangeVPDetails()">{{ item.value }}</td>
                <td *ngIf="canChangeVPDetails()">
                  <input id="customFieldDateID" type="number" class="col-8 form-control" (change)="setModified()" name="{{ item.name }}" [(ngModel)]="item.value">
                </td>
              </tr>
              <!-- ur: 30.08.2023: Preparation for adding new customFields -->
              
              <!-- <tr *ngIf="customVPAdd">
                <ng-container *ngFor="let item of newCustomFieldString">
                  <td>{{ item.name }}</td>              
                  <td *ngIf="canChangeVPDetails()">
                    <input id="customFieldStringID" type="text" class="form-control" (change)="setModified()" name="{{ item.name }}" [(ngModel)]="item.value">
                  </td>
                </ng-container>
              </tr>
              <tr *ngIf="customVPAdd">
                <ng-container *ngFor="let item of newCustomFieldDouble">              
                  <td>{{ item.name }}</td>                
                  <td *ngIf="canChangeVPDetails()">
                    <input id="customFieldDoubleID" type="number" class="col-8 form-control" (change)="setModified()" name="{{ item.name }}" [(ngModel)]="item.value">
                  </td>
                </ng-container>
              </tr>           -->
            </tbody>
          </table>
          <div class="modal-footer align-items-end">
            <button class="btn btn-secondary" data-dismiss="modal">{{ 'vpKeyMetric.btn.back' | translate }}</button>
            <button *ngIf="checkVPCustomValues()" class="btn btn-primary" (click)="addVPCustomValues()">{{ 'vpKeyMetric.btn.add' | translate }}</button>
            <button *ngIf="customVPModified" class="btn btn-primary" data-dismiss="modal" (click)="vpUpdate()">{{ 'vpKeyMetric.btn.save' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Show Project Version Info to Commit-->
<div *ngIf="vpvActive" class="modal fade" id="VpvCommit" tabindex="-1" role="dialog" aria-labelledby="VpvCommitTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VpvCommitTitle">
          <div title="{{ vpvActive.timestamp | date :'dd.MM.yyyy HH:mm:ss'}}">
            {{ 'vpKeyMetric.titleDetailVersion' | translate }}: {{vpvActive.timestamp | date :'dd.MM.yy HH:mm'}}
          </div>
          <div *ngIf="vpvBaseline" title="{{ vpvBaseline.timestamp | date :'dd.MM.yyyy HH:mm:ss'}}">
            {{ 'vpKeyMetric.titleBaseline' | translate }}: {{ vpvBaseline.timestamp | date :'dd.MM.yy HH:mm'}}
          </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label *ngIf="customVPToCommit" class="bg-warning text-white">{{ 'vpKeyMetric.msg.confirmCommit' | translate }}</label>
        </div>
        <form name="VpvCommitForm">
          <table *ngIf="vpvActive" class='table table-hover'>
            <!--Table head-->
            <thead>
              <tr>
                <th>{{ 'vpKeyMetric.lbl.name' | translate }}</th>
                <th>{{ 'vpKeyMetric.lbl.info' | translate }}</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody>
              <tr *ngIf="vpvActive.startDate">
                <td>{{ 'vpKeyMetric.lbl.startDate' | translate }}</td>
                <td>
                  {{ vpvActive.startDate | date :'dd.MM.yyyy'}}
                  <span *ngIf="vpvBaseline && vpvBaseline.startDate != vpvActive.startDate"> ({{ vpvBaseline.startDate | date :'dd.MM.yyyy'}}) </span>
                </td>
              </tr>
              <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.endDateCurrent">
                <td>{{ 'vpKeyMetric.lbl.endDate' | translate }}</td>
                <td>
                  {{ vpvActive.keyMetrics.endDateCurrent | date :'dd.MM.yyyy'}}
                  <span *ngIf="vpvBaseline && vpvBaseline.endDate != vpvActive.keyMetrics.endDateCurrent"> ({{ vpvBaseline.endDate | date :'dd.MM.yyyy'}}) </span>
                </td>
              </tr>
              <tr *ngIf="!(vpvActive.keyMetrics && vpvActive.keyMetrics.endDateCurrent) && vpvActive.endDate">
                <td>{{ 'vpKeyMetric.lbl.endDate' | translate }}</td>
                <td>
                  <span> {{ vpvActive.endDate | date :'dd.MM.yyyy'}}</span>
                </td>
              </tr>
              <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.costCurrentTotal">
                <td>{{ 'vpKeyMetric.lbl.costTotalCommited' | translate }}</td>
                <td>
                   <span> {{ vpvActive.keyMetrics.costCurrentTotal |  number:'1.0-0' }} T€ ({{100 - savingCostTotal | number:'1.0-0'}} %)</span>
                </td>
              </tr>
              <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.costCurrentActual">
                <td>{{ 'vpKeyMetric.lbl.costActualCommited' | translate }}</td>
                <td>
                  <span> {{vpvActive.keyMetrics.costCurrentActual |  number:'1.0-0' }} T€ ({{100 - savingCostActual | number:'1.0-0'}} %)</span>
                </td>
              </tr>
              <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.timeCompletionCurrentTotal">
                <td>{{ 'vpKeyMetric.lbl.deadlinesCommited' | translate }}</td>
                <td>
                  <span>
                    {{vpvActive.keyMetrics.timeCompletionCurrentActual | number:'1.0-1'}}
                    {{ 'vpKeyMetric.lbl.ofUntilToday' | translate }}
                    {{vpvActive.keyMetrics.timeCompletionBaseLastActual | number:'1.0-0'}}
                    {{ 'vpKeyMetric.lbl.toBeDone' | translate }}
                    {{vpvActive.timestamp | date :'dd.MM.yyyy'}}
                    ({{timeCompletionActual | number:'1.0-0'}} %)
                  </span>
                </td>
              </tr>
              <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.deliverableCompletionCurrentTotal">
                <td>{{ 'vpKeyMetric.lbl.deliveriesCommited' | translate }}</td>
                <td>
                  <span>
                    {{vpvActive.keyMetrics.deliverableCompletionCurrentActual | number:'1.0-1'}}
                    {{ 'vpKeyMetric.lbl.ofUntilToday' | translate }}
                    {{vpvActive.keyMetrics.deliverableCompletionBaseLastActual | number:'1.0-0'}}
                    {{ 'vpKeyMetric.lbl.toBeDone' | translate }}
                    {{vpvActive.timestamp | date :'dd.MM.yyyy'}}
                    ({{deliveryCompletionActual | number:'1.0-0'}} %)
                  </span>
                </td>
              </tr>
              <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.RACCurrent">
                <td>{{ 'vpKeyMetric.lbl.racCurrentCommited' | translate }}</td>
                <td>
                   <span> {{ vpvActive.keyMetrics.RACCurrent |  number:'1.0-0' }} T€ ({{100 - savingRAC | number:'1.0-0'}} %)</span>
                </td>
              </tr>
              <!-- <tr *ngIf="vpvActive.keyMetrics && vpvActive.keyMetrics.RACBaseLast">
                <td>{{ 'vpKeyMetric.lbl.racBaseLastCommited' | translate }}</td>
                <td>
                  <span> {{vpvActive.keyMetrics.RACBaseLast |  number:'1.0-0' }} T€ ({{100 - savingCostActual | number:'1.0-0'}} %)</span>
                </td>
              </tr> -->
              <tr *ngFor="let item of editCustomFieldDate">
                <td>{{ item.name }}</td>
                <td *ngIf="!hasVPPerm(permVP.Modify) || customVPToCommit">{{ item.value }}</td>
                <td *ngIf="hasVPPerm(permVP.Modify) && !customVPToCommit">
                  <input id="customFieldDateID" type="number" class="col-8 form-control" (change)="setModified()" name="{{ item.name }}" [(ngModel)]="item.value">
                </td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer align-items-end">
            <button class="btn btn-secondary" data-dismiss="modal">{{ 'vpKeyMetric.btn.back' | translate }}</button>
            <button *ngIf="checkVPCustomValues() && !customVPToCommit" class="btn btn-primary" (click)="addVPCustomValues()">{{ 'vpKeyMetric.btn.add' | translate }}</button>
            <button *ngIf="customVPModified && !customVPToCommit" class="btn btn-primary" data-dismiss="modal" (click)="vpUpdate()">{{ 'vpKeyMetric.btn.save' | translate }}</button>
            <button *ngIf="customVPToCommit" class="btn btn-warning text-white" data-dismiss="modal" (click)="vpUpdate()">{{ 'vpKeyMetric.btn.vpCommit' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal move start&end Date of VPV -->
<div *ngIf="vpvActive" class="modal fade" id="vpvModalMove" tabindex="-1" role="dialog" aria-labelledby="vpvModalMoveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vpvModalMoveTitle">{{ 'vpKeyMetric.titleVPVMove' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="newVPV && newVPV.variantName == 'pfv'">
          <label class="bg-warning">{{ 'vpKeyMetric.msg.changePFV' | translate }}</label>
        </div>
        <form *ngIf="newVPV" name="vpvMove" #f2="ngForm" novalidate>
          <div class="form-group">
            <label for="startDateID" class="col-4 col-form-label">{{ 'vpKeyMetric.lbl.startDate' | translate }}:</label>
            <input *ngIf="canModifyDate('startDate')" id="startDateID" type="date" class="col-6 col-form-label" name="newVPVstartDate" [ngModel]="newVPVstartDate | date:'yyyy-MM-dd'" (input)="newVPVstartDate=parseDate($event.target.value)" (change)="updateDateRange()">
            <label *ngIf="!canModifyDate('startDate')" id="startDateID" class="col-6 col-form-label">{{ newVPV.startDate | date:'dd.MM.yyyy' }}</label>
          </div>
          <div class="form-group">
            <label for="endDateID" class="col-4 col-form-label">{{ 'vpKeyMetric.lbl.endDate' | translate }}:</label>
            <input id="endDateID" type="date" class="col-6 col-form-label" name="newVPVendDate" [ngModel]="newVPVendDate | date:'yyyy-MM-dd'" (input)="newVPVendDate=parseDate($event.target.value)" (change)="updateDateRange()">
          </div>
          <div class="custom-control custom-checkbox ml-3">
              <input type="checkbox" class="custom-control-input" id="scaleCheckBox" name="scaleCheckBox" [(ngModel)]="scaleCheckBox">
              <label class="custom-control-label" for="scaleCheckBox">{{ 'vpKeyMetric.lbl.scaleCheck' | translate }}</label>
          </div>
          <div *ngIf="scaleCheckBox" class="form-group">
            <label for="scaleID" class="col-4 col-form-label">{{ 'vpKeyMetric.lbl.scaleFactor' | translate }}:</label>
            <input id="scaleID" type="number" class="col-6 col-form-label" name="scaleFactor" [(ngModel)]="scaleFactor" min="-99" (change)="updateScaleFactor()"> %
          </div>
          <div *ngIf="scaleCheckBox" class="form-group">
            <label for="scaleStartDateID" class="col-4 col-form-label">{{ 'vpKeyMetric.lbl.scaleStartDate' | translate }}:</label>
            <input id="scaleStartDateID" type="date" class="col-6 col-form-label" name="newVPVscaleStartDate" [ngModel]="newVPVscaleStartDate | date:'yyyy-MM-dd'" min="{{getScaleDate('Min') | date:'yyyy-MM-dd'}}" max="{{getScaleDate('Max') | date:'yyyy-MM-dd'}}" (input)="newVPVscaleStartDate=parseDate($event.target.value)">
          </div>

        </form>
        <div class="modal-footer align-items-end">
          <button id="vpvMoveCancel" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vpKeyMetric.btn.back' | translate }}</button>
          <button id="vpvMoveConfirm" *ngIf="!changeStatus" type="submit" class="btn btn-primary disabled mx-1">{{ 'vpKeyMetric.btn.vpvChange' | translate }}</button>
          <button id="vpvMoveConfirm" *ngIf="changeStatus" type="submit" class="btn btn-primary mx-1" (click)="moveVPV()" data-dismiss="modal">{{ 'vpKeyMetric.btn.vpvChange' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal copy VPV -->
<div  *ngIf="vpvActive" class="modal fade" id="vpvModalCopy" tabindex="-1" role="dialog" aria-labelledby="vpvModalCopyTitle" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vpvModalCopyTitle">{{ 'vpKeyMetric.titleVPVCopy' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="newVPVvariantName == 'pfv'">
          <label class="bg-warning">{{ 'vpKeyMetric.msg.changePFV' | translate }}</label>
        </div>
        <!-- <div *ngIf="vpvActive.variantName != '' && newVPVvariantName == ''">
          <label class="bg-warning">{{ 'vpKeyMetric.msg.overwriteSTD' | translate }}</label>
        </div> -->
        <form *ngIf="newVPV && vpvActive" name="vpvCopy" #f3="ngForm" novalidate>
          <div class="form-group">
            <label for="sourceVariantID" class="col-4 col-form-label">{{ 'vpKeyMetric.lbl.source' | translate }}:</label>
            <label id="sourceVariantID" class="col-6 col-form-label">{{ getVariantName(vpvActive.variantName, true) }}</label>
          </div>
          <div class="form-group">
            <div class="row ml-1 mt-1">
              <label for="variantNameID" class="col-4 col-form-label">{{ 'vpKeyMetric.lbl.destination' | translate }}:</label>
              <div class="col-6 form-control">
                <div *ngIf="getDropDownList(2, false).length >= 1" class="dropdown ml-2 my-1">
                  <a class="dropdown-toggle" data-toggle="dropdown" style="!important">{{getVariantName(newVPVvariantName)}}</a>
                  <div class="dropdown-menu">
                    <a *ngFor="let item of getDropDownList(2, false); let variantIndex=index" class="dropdown-item" (click)="switchCopyVariant(item)">{{ item.name }}</a>
                  </div>
                </div>
              </div>
              <div *ngIf="hasVPPerm(permVP.Modify + permVP.CreateVariant)" class="col-1 form-control">
                <a data-dismiss="modal" data-toggle="modal" data-target="#CreateVPVariant" title="{{ 'vpKeyMetric.lbl.titleCreateVariant' | translate }}">
                  <i class="fas fa-plus"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div *ngIf="newVPVvariantName == 'pfv'">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="reduceLevelID" [(ngModel)]="reduceLevel" name="reduceLevel" >
                <label class="custom-control-label" for="reduceLevelID">{{ 'vpKeyMetric.msg.reduce' | translate }}</label>
              </div>
              <div *ngIf="reduceLevel" class="form-group row ml-0">
                <label class="col-4 col-form-label">{{ 'vpKeyMetric.lbl.level' | translate }}:</label>
                <input id="levelID" type="number" class="col-2 form-control" name="level" [(ngModel)]="level">
              </div>
            </div>
          </div>
          <div class="modal-footer align-items-end">
            <button id="vpvCopyCancel" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vpKeyMetric.btn.back' | translate }}</button>
            <button id="vpvCopyConfirm" type="submit" class="btn btn-primary mx-1" (click)="copyVPV()" data-dismiss="modal">{{ 'vpKeyMetric.btn.vpvCopy' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Create Project Variant -->
<div *ngIf="vpActive" class="modal fade" id="CreateVPVariant" role="dialog" aria-labelledby="CreateVPVariantTitle" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CreateVPVariantTitle">{{ 'vpKeyMetric.titleCreateVariant' | translate:{'name': vpActive.name } }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="newVariant" #f3="ngForm" novalidate>
          <div class="form-group">
            <label for="NewVariantName" class="col-form-label">{{ 'vpDetail.lbl.variant' | translate }}:</label>
            <input id="NewVariantName" type="text" class="form-control" name="variantName" [(ngModel)]="newVariant.variantName" #variantName="ngModel" required>
            <div *ngIf="f3.submitted && !variantName.valid" class="help-block">{{ 'vpDetail.msg.variantRequired' | translate }}</div>
          </div>
          <div class="form-group">
            <label for="NewVariantDesc" class="col-form-label">{{ 'vpDetail.lbl.description' | translate }}:</label>
            <textarea id="NewVariantDesc" name=variantDesc class="form-control" name="description" [(ngModel)]="newVariant.description" #description="ngModel"></textarea>
          </div>
          <div class="modal-footer align-items-end">
            <button class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#vpvModalCopy">{{ 'vpKeyMetric.btn.back' | translate }}</button>
            <button id="Change" *ngIf="!variantName.valid" type="submit" class="btn btn-primary mx-1">{{ 'vpKeyMetric.btn.add' | translate }}</button>
            <button id="Change" *ngIf="variantName.valid" type="submit" class="btn btn-primary mx-1" (click)="createVPVariant()" data-dismiss="modal" data-toggle="modal" data-target="#vpvModalCopy">{{ 'vpKeyMetric.btn.add' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal call Edit URL -->
<!-- div *ngIf="vpvActive" class="modal fade" id="vpvModalEdit" tabindex="-1" role="dialog" aria-labelledby="vpvModalEditTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vpvModalEditTitle">{{ 'vpKeyMetric.titleVPVEdit' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="vpvCustomEdit" #f3="ngForm" novalidate>
          <label>{{ 'vpKeyMetric.msg.localInstallationRequired' | translate }}</label>
          <div class="modal-footer align-items-end">
            <button id="vpvCustomEditCancel" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vpKeyMetric.btn.back' | translate }}</button>
            <button *ngIf="customURL" type="button" class="btn btn-primary mx-1">
              <a class="text-white" [href]="customURL | safeUrl">{{customEdit}}</a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- Modal call Custom URL -->
<div *ngIf="vpvActive" class="modal fade" id="vpvModalCustomURL" tabindex="-1" role="dialog" aria-labelledby="vpvModalCustomURLTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vpvModalCustomPredictTitle">{{ 'vpKeyMetric.titleVPVCustomPredict' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="vpvCustomPredict" #f3="ngForm" novalidate>
          <div class="form-group">
            <div class="custom-control custom-checkbox ml-3">
                <input type="checkbox" class="custom-control-input" id="allVersionsBox" name="allVersionsBox" [(ngModel)]="allVersions">
                <label class="custom-control-label" for="allVersionsBox">{{ 'vpKeyMetric.lbl.allVersions' | translate }}</label>
            </div>
            <button *ngIf="customURL" type="button" class="button btn-primary mt-3 ml-3">
              <a class="text-white" [href]="customURL | safeUrl">{{customPredict}}</a>
            </button>
          </div>
          <div class="modal-footer align-items-end">
            <button id="vpvCustomPredictCancel" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vpKeyMetric.btn.back' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #indicator let-level="level">
  <i class="fa" [ngClass]="{'fa-check-circle text-success': level == 1, 'fa-exclamation-triangle text-warning': level == 2, 'fa-exclamation-circle text-danger': level == 3}"></i>
</ng-template>
