.cld-date{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}
.calendar{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}
.calendar input{
    max-width: 155px;
}