.cld-date{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}
.calendar{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}
.calendar input{
    max-width: 155px;
}
.table-custom {
    width: 100%;
    max-width: 2500px;
    margin: left;
}
#TimeRecHead {
    /* rote farbe - background-color: rgb(241, 8, 8); */
    /* background-color: #f1b308; */
    color: black;
    font-size: 120%;
}
#TimeRecList {
    /* background-color: #ecdeb7; */
    color: black;;
}