<div *ngIf="!sysadmin">
  <app-usernavbar></app-usernavbar>
</div>
<div *ngIf="sysadmin">
  <app-sysnavbar></app-sysnavbar>
</div>
<div *ngIf="visbocenter" class='well'>
  <div class='row'>
    <h2 class='panel-heading ml-0'>
      {{ 'vcAudit.title' | translate }}: <a (click)="goBack()">{{visbocenter.name}}</a>
    </h2>
  </div>
  <form name="form" (ngSubmit)="getVisboCenterAudits()" #f="ngForm" novalidate>
    <div *ngIf="sysadmin" class="form-group row">
      <label for="auditFrom" class="col-1 col-form-label">{{ 'vcAudit.lbl.from' | translate }}:</label>
      <input id="auditFrom" type="datetime-local" class="col-2 col-sm-4 form-control" name="auditFrom" [(ngModel)]="auditFrom">
      <label for="auditTo" class="col-1 col-form-label">{{ 'vcAudit.lbl.to' | translate }}:</label>
      <input id="auditTo" type="datetime-local" class="col-2 col-sm-4 form-control" name="auditTo" [(ngModel)]="auditTo" >
    </div>
    <div *ngIf="!sysadmin" class="form-group row">
      <label for="auditFrom" class="col-1 col-form-label">{{ 'vcAudit.lbl.from' | translate }}:</label>
      <input id="auditFrom" type="date" class="col-2 col-sm-4 form-control" name="auditFrom" [(ngModel)]="auditFrom">
      <label for="auditTo" class="col-1 col-form-label">{{ 'vcAudit.lbl.to' | translate }}:</label>
      <input id="auditTo" type="date" class="col-2 col-sm-4 form-control" name="auditTo" [(ngModel)]="auditTo" >
    </div>
    <div class="form-group row">
      <label for="auditText" class="col-1 col-form-label">{{ 'vcAudit.lbl.filter' | translate }}:</label>
      <input id="auditText" type="text" class="col-2 col-sm-3 form-control" name="auditText" [(ngModel)]="auditText" >

      <label for="auditCount" class="col-1 col-form-label">{{ 'vcAudit.lbl.max' | translate }}:</label>
      <select id="auditCount" class="col-1 form-control mx-1" name="auditCount" [(ngModel)]="auditCount">
        <option>50</option>
        <option>100</option>
        <option>500</option>
        <option>2000</option>
      </select>

      <select id="auditArea" class="col-1 form-control mx-1" id="auditType" name="auditArea" [(ngModel)]="auditArea">
        <option *ngFor="let actionItem of auditAreaList" value="{{actionItem.name}}">{{ 'vcAudit.dropDown.'+actionItem.name | translate }}</option>
      </select>
      <select id="auditType" class="col-1 form-control mx-1" id="auditType" name="auditType" [(ngModel)]="auditType">
        <option *ngFor="let actionItem of auditTypeList" value="{{actionItem.name}}">{{ 'vcAudit.dropDown.'+actionItem.name | translate }}</option>
      </select>
      <div class='btn-group'>
        <button type="button" class="btn btn-sm btn-primary ml-auto mx-1" (click)="getVisboCenterAudits()">{{ 'vcAudit.btn.filter' | translate }}</button>
        <button type="button" class="btn btn-sm btn-secondary ml-auto mx-1" (click)="downloadVisboAudit()">{{ 'vcAudit.btn.download' | translate }}</button>
      </div>
    </div>
  </form>

  <div class='container-fluid'>
    <div class='panel-body'>
      <table class='table table-hover table-sortable'>

        <thead id="AuditHead">
          <tr>
            <th id="SortDate" class="d-none d-md-table-cell" (click)="sortTable(1)">{{ 'vcAudit.lbl.created' | translate }}</th>
            <th id="SortUser" (click)="sortTable(2)">{{ 'vcAudit.lbl.user' | translate }}</th>
            <th id="SortAction" (click)="sortTable(3)"> {{ 'vcAudit.lbl.action' | translate }}</th>
            <th id="SortVP" class="d-none d-lg-table-cell" (click)="sortTable(8)"> {{ 'vcAudit.lbl.vp' | translate }}</th>
            <th id="SortInfo" class="d-none d-md-table-cell" (click)="sortTable(4)"> {{ 'vcAudit.lbl.info' | translate }}</th>
            <th id="SortResult" class="d-none d-lg-table-cell" (click)="sortTable(5)"> {{ 'vcAudit.lbl.result' | translate }}</th>
            <th>Detail</th>
          </tr>
        </thead>

        <tbody id="AuditList">
          <tr *ngFor="let auditentry of audit; let auditIndex=index" (click)='helperAuditIndex(auditIndex)'
          data-toggle="modal" data-target="#AuditDetail">
            <td id="ColCreated" *ngIf="isToday(auditentry.createdAt)" class="d-none d-md-table-cell">{{auditentry.createdAt | date :'HH:mm:ss'}}</td>
            <td id="ColCreated" *ngIf="!isToday(auditentry.createdAt)" class="d-none d-md-table-cell">{{auditentry.createdAt | date :'dd.MM HH:mm'}}</td>
            <td id="ColUser" *ngIf="auditentry.user" >{{auditentry.user.email }}</td>
            <td id="ColUser" *ngIf="!auditentry.user"> Unknown </td>
            <td id="ColAction">{{auditentry.actionDescription }}</td>
            <td id="ColVP" class="d-none d-lg-table-cell" >{{auditentry.vp ? auditentry.vp.name : '' }}</td>
            <td id="ColInfo" class="d-none d-md-table-cell" >{{helperShortenText(auditentry.actionInfo, 30) }}</td>
            <td id="ColResult" class="d-none d-lg-table-cell" >{{helperResponseText(auditentry) }}</td>
            <td>
              <button id="ColDetail" class="Detail" (click)='helperAuditIndex(auditIndex)'
              data-toggle="modal" data-target="#AuditDetail">i</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="audit && audit.length == 0">
        <h3 class="d-flex justify-content-center">
          {{ 'vcAudit.msg.noAudit' | translate }}
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AuditDetail" tabindex="-1" role="dialog" aria-labelledby="Audit Detail" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" *ngIf="auditIndex >= 0 && auditIndex < audit.length">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AuditDetailTitle">{{ 'vcAudit.titleDetail' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-11">
            <h3 id="ButtonPrev" (click)='pageAuditIndex(-1)'><a class="px-3 col-1 fas fa-caret-square-left"></a></h3>
          </div>
          <div class="col-1">
            <h3 id="ButtonNext" (click)='pageAuditIndex(1)'><a class="px-3 col-1 fas fa-caret-square-right"></a></h3>
          </div>
        </div>
        <form id="auditEntry">
          <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.created' | translate }}:</label>
          <label id="auditCreated" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].createdAt | date :'dd.MM.yyyy HH:mm:ss.SSS' }} </label>
          <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.user' | translate }}:</label>
          <label id="auditUser" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].user.email }} </label>
          <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.action' | translate }}:</label>
          <label id="auditAction" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].actionDescription }} </label>
          <div *ngIf="audit[auditIndex].actionInfo">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.info' | translate }}:</label>
            <label id="auditInfo" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].actionInfo }} </label>
          </div>
          <div *ngIf="audit[auditIndex].vc">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.vc' | translate }}:</label>
            <label id="auditVC" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].vc.name }} </label>
          </div>
          <div *ngIf="audit[auditIndex].vp">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.vp' | translate }}:</label>
            <label id="auditVP" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].vp.name }} ({{ audit[auditIndex].vp.vpid }}) </label>
          </div>
          <div *ngIf="audit[auditIndex].vpv">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.vpv' | translate }}:</label>
            <label id="auditVPV" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].vpv.name }} ({{ audit[auditIndex].vpv.vpvid }})</label>
          </div>
          <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.result' | translate }}:</label>
          <label class="v_compact_t col-7 form-control-static">{{ helperResponseText(audit[auditIndex]) }} </label>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.techAction' | translate }}:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].action }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.url' | translate }}:</label>
            <label class="v_compact_t col-7 form-control-static" style="overflow-wrap: break-word;">{{ audit[auditIndex].url }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.responseTime' | translate }}:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].result.time }} ms </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.responseSize' | translate }}:</label>
            <label class="v_compact_t col-7 form-control-static">{{ helperFormatBytes(audit[auditIndex].result.size || 0, 2) }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.userAgent' | translate }}:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].userAgent }}</label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.ip' | translate }}:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].ip }}</label>
          </div>
          <div *ngIf="showMore && audit[auditIndex].ttl">
            <label class="v_compact_t col-4 form-control-static">{{ 'vcAudit.lbl.ttl' | translate }}:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].ttl | date :'dd.MM HH:mm' }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button id="ButtonMore" *ngIf="!showMore" type="button" class="btn btn-secondary" (click)="toggleDetail()">{{ 'vcAudit.btn.more' | translate }}</button>
        <button id="ButtonLess" *ngIf="showMore" type="button" class="btn btn-secondary" (click)="toggleDetail()">{{ 'vcAudit.btn.less' | translate }}</button>
        <button id="ButtonBack" type="button" class="btn btn-primary" data-dismiss="modal">{{ 'vcAudit.btn.back' | translate }}</button>
      </div>
    </div>
  </div>
</div>
