
.dropdown-item.tree-item {
    opacity: 0.7;
}

.dropdown-item.tree-item.tree-item__selected {
    background-color: #bddaea;
}

.dropdown-item.tree-item.tree-item__parent-selected {
    background-color: #dcedf7;
}

.dropdown-item.tree-item:hover {
    opacity: 1;
}