<div class='well'>    
  <div  class='container-fluid'>
    <div class="row text-dark">
      <div class="my-1">       
          <!-- <span>{{ 'vpfVersion.lbl.show' | translate }} </span> -->
          <span>{{ 'ViewCapacity.title1'  | translate }}</span>

          <span class="dropdown">
            <a class="font-weight-bold dropdown-toggle" data-toggle="dropdown" style="border-bottom: 1px dashed darkgrey !important">
              {{ressourceID}}
            </a>
            <div class="dropdown-menu" (click)="$event.stopPropagation();">
              <div *ngIf="orgaTreeData">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: orgaTreeData.children, level: 0 }"></ng-container>
              </div>
            </div>
          </span>
          

          <span>{{ 'ViewCapacity.title2'  | translate }}</span>
          
          <span class="dropdown">
            <a class="font-weight-bold dropdown-toggle" data-toggle="dropdown" style="border-bottom: 1px dashed darkgrey !important">
              {{showUnit | translate}}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="updateShowUnit('ViewCapacity.lbl.pd')">{{ 'ViewCapacity.lbl.pd' | translate }}</a>
              <a class="dropdown-item" (click)="updateShowUnit('ViewCapacity.lbl.euro')">{{ 'ViewCapacity.lbl.euro' | translate }}</a>
            </div>
          </span>

          <!-- <select class="mb-2 mr-auto border-0 font-weight-bold" name="showUnit" [(ngModel)]="showUnit" (change)="visboViewCapacityOverTime()" style="border-bottom: 1px dashed darkgrey !important">
            <option>{{ 'ViewCapacity.lbl.pd' | translate }}</option>
            <option>{{ 'ViewCapacity.lbl.euro' | translate }}</option>
          </select>  -->
          <!-- <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfOrgaSelector">{{showUnit}}</a></span> -->
          <!-- <span class="ml-2 pt-2"><a data-toggle="modal" data-target="#VpfMetricSelector"><i class="fa fa-cog" aria-hidden="true"></i></a></span> -->
      </div>
    </div>
    <div class="row text-dark">
      <div class="row ml-0">
        <!-- <span> {{ 'vpfVersion.lbl.and' | translate }} </span> -->
        <span class="pt-2">{{ 'ViewCapacity.titleTimeFrom'  | translate }}</span>
        <!-- <label for="capacityFrom" class="mb-2 mr-sm-2">von </label> -->
        <input id="capacityFrom" type="date" class="form-control mb-4 mr-auto border-0 font-weight-bold" style="width:170px" name="capacityFrom" [ngModel]="capacityFrom | date:'yyyy-MM-dd'" (input)="capacityFrom=parseDate($event.target.value)" (change)="visboViewCapacityOverTime()" >
        <!-- <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfTimeSelectorFrom">{{capacityFrom}}</a></span>   -->      
        <span class="pt-2">{{ 'ViewCapacity.titleTimeTo'  | translate }}</span>
        <input id="capacityTo" type="date" class="form-control mb-4 mr-auto border-0 font-weight-bold" style="width:170px" name="capacityTo" [ngModel]="capacityTo | date:'yyyy-MM-dd'" (input)="capacityTo=parseDate($event.target.value)" (change)="visboViewCapacityOverTime()" >
        <!-- <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfTimeSelectorTo">{{capacityTo}}</a></span>    -->    
        <!-- <span class="pt-2"><a data-toggle="modal" data-target="#VpfMetricSelector"><i class="fa fa-cog" aria-hidden="true"></i></a></span> -->
      </div>
    </div>
    <!-- </div>     
    <h5 class="text-right">
      <i *ngIf="!chart" (click)="toggleVisboChart()" class="mt-3 fa fa-signal" aria-hidden="true"></i>
      <i *ngIf="chart" (click)="toggleVisboChart()" class="mt-3 fa fa-list" aria-hidden="true"></i>
    </h5> -->
  </div>
<!--<div class="form-inline" *ngIf="orgaTreeData">
    <label for="showUnit" class="mb-2 mr-sm-2">{{ 'ViewCapacity.btn.showUnit' | translate }}</label>
    <select class="form-control mb-2 mr-sm-2" name="showUnit" [(ngModel)]="showUnit" (change)="visboViewCapacityOverTime()">
      <option>{{ 'ViewCapacity.lbl.pd' | translate }}</option>
      <option>{{ 'ViewCapacity.lbl.euro' | translate }}</option>
    </select>  -->
    <!-- <div class="col-sm-1"></div>  -->
    <!-- <label for="Ressourcen" class="mb-2 mr-sm-2">{{ 'ViewCapacity.btn.ressourceID' | translate }} </label>

    <span class="mb-2 mx-2 font-weight-bold"><a data-toggle="modal" data-target="#VpfOrgaSelector">{{ressourceID}}</a></span> -->

    <!-- <input id="ressourceID" type="text" class="form-control mb-2 mr-sm-2" name="ressourceID" [(ngModel)]="ressourceID" (change)="visboCapacityCalc()" > -->
    <!-- <div class="col-sm-4"></div> -->
    <!-- <label for="capacityFrom" class="mb-2 mr-sm-2">{{ 'ViewCapacity.btn.from' | translate }} </label>
    <input id="capacityFrom" type="date" class="form-control mb-2 mr-sm-2" name="capacityFrom" [ngModel]="capacityFrom | date:'yyyy-MM-dd'" (input)="capacityFrom=parseDate($event.target.value)" (change)="visboViewCapacityOverTime()" >
    <label for="capacityTo" class="mb-2 mr-sm-2">{{ 'ViewCapacity.btn.to' | translate }} </label>
    <input id="capacityTo" type="date" class="form-control mb-2 mr-sm-2" name="capacityTo" [ngModel]="capacityTo | date:'yyyy-MM-dd'"  (input)="capacityTo=parseDate($event.target.value)" (change)="visboViewCapacityOverTime()" >
    <span class="ml-2"><a data-toggle="modal" data-target="#VpfOrgaSelector"><i class="fa fa-cog" aria-hidden="true"></i></a></span> -->
  <!-- </div> -->

  <div *ngIf="displayCapacity() >= 0">
    <div *ngIf="graphDataComboChart.length > 0" >
      <app-combo-chart [graphData]="graphDataComboChart" [graphOptions]="graphOptionsComboChart" [parentThis]="parentThis" [language]="currentLang"></app-combo-chart>
      <!-- <i class="fas fa-info-circle fa-lg mx-2 mt-2 text-secondary" title="{{ 'keyMetrics.lbl.showLegend' | translate }}" data-toggle="modal" data-target="#VpvLegend"></i> -->
    </div>
  </div>
  <div *ngIf="graphDataComboChart.length == 0" >
    {{ 'ViewCapacity.msg.noCapacity' | translate }}
  </div>
  <!-- here will be shown the text: Keine Kapaität the spinner -->
  <div *ngIf="ressourceID == ''" >
    {{ 'ViewCapacity.msg.noCapacity' | translate }}
  </div>

  <!-- Here is the call for the organisation-tree, chooseable with checkboxes, expandable with brackets -->
  <!-- <ul *ngIf="orgaTreeData" [ngStyle]="{'list-style-type': 'none'}" >
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: orgaTreeData.children }"></ng-container>
  </ul> -->
  <!-- End of Call -->
  

  <!-- Here are the definitions in HTLM, Angular and Bootstrap for the organisation-tree, chooseable with checkboxes, expandable with brackets -->
  <ng-template #recursiveList let-list let-level="level">
    <div *ngFor="let item of list" style="white-space: nowrap;">
      <div class="dropdown-item tree-item"
      [ngClass]="{'tree-item__selected': item.isSelected === 'SELECTED', 'tree-item__parent-selected': item.isSelected === 'PARENT_SELECTED'}">
        <span [style.margin-left]="(level * 20) + 'px'"> <!--indentation for the tree structure -->
          <a (click)="$event.stopPropagation(); item.showChildren = !item.showChildren;">
            <i class="fa" [ngClass]="{'fa-chevron-right': !item.showChildren, 'fa-chevron-down': item.showChildren}"></i>
          </a>
          <span class="ml-sm-1">
            <a (click)="selectLeaf(item)">{{item.name}}</a>
          </span>  
        </span>
      </div>
      <div *ngIf="item.children?.length > 0 && item.showChildren" [ngStyle]="{'list-style-type': 'none'}">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children, level: level + 1 }"></ng-container>
      </div>
    </div>
  </ng-template>

<!--
  #dcedf7
  #bddaea
-->

  <!-- End of definitions for the OrgaTree -->

  <!-- <div>
    <a class="btn btn-clear btn-xs" data-ng-show="item.items.length" ng-click="expandNode(this,$event)">
        <i class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></i>
    </a>
    <span class="node-header">
        <input type="checkbox" ng-checked="item.isSelected" indeterminate-checkbox node="item" />
    </span>
    {{item.title}}

  </div>

  <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed,displayed:!collapsed}">
    <li ng-repeat="item in item.items" ui-tree-node collapsed="true" ng-include="'items_renderer.html'">
    </li>
  </ol> -->




  <div *ngIf="displayCapacity() < 0" >
    <div class="spinner-border" role="status"></div>
    <span> {{ 'ViewCapacity.msg.calculating' | translate }}</span>
  </div>
</div>

<!-- Modal Show Shortcut explanation -->
<div class="modal fade" id="VpvLegend" tabindex="-1" role="dialog" aria-labelledby="VpvDetailsTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>{{ 'keyMetrics.lbl.shortcut' | translate }}</th>
              <th>{{ 'keyMetrics.lbl.explanation' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'keyMetrics.shortPV' | translate }}</td>
              <td>{{ 'keyMetrics.longPV' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'keyMetrics.shortAC' | translate }}</td>
              <td>{{ 'keyMetrics.longAC' | translate }}</td>
            </tr>
            <!-- <tr>
              <td>{{ 'keyMetrics.shortAC' | translate }}</td>
              <td>{{ 'keyMetrics.longAC' | translate }}</td>
            </tr> -->
            <tr>
              <td>{{ 'keyMetrics.shortETC' | translate }}</td>
              <td>{{ 'keyMetrics.longETC' | translate }}</td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer align-items-end">
          <button class="btn btn-primary" data-dismiss="modal">{{ 'vpViewCost.btn.back' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Change Orga Selection -->
<!-- <div class="modal fade" id="VpfOrgaSelector" tabindex="-1" role="dialog" aria-labelledby="VpfOrgaSelectorTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VpfOrgaSelectorTitle">{{ 'vpfVersion.titleRessourceChange' | translate }}</h5>
        <button type="button" class="close"  (click)="changeOrga()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul [ngStyle]="{'list-style-type': 'none'}" *ngIf="orgaTreeData">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: orgaTreeData.children }"></ng-container>
        </ul>
      </div>
    </div>
  </div>
</div> -->
