<div class='well'>
  <div class="form-inline">
    <label for="showUnit" class="mb-2 mr-sm-2">{{ 'ViewCapacity.btn.showUnit' | translate }}</label>
    <select class="form-control mb-2 mr-sm-2" name="showUnit" [(ngModel)]="showUnit" (change)="visboViewCapacityOverTime()">
      <option>{{ 'ViewCapacity.lbl.pd' | translate }}</option>
      <option>{{ 'ViewCapacity.lbl.euro' | translate }}</option>
    </select>
    <!-- <div class="col-sm-1"></div>  -->
    <label for="Ressourcen" class="mb-2 mr-sm-2">{{ 'ViewCapacity.btn.ressourceID' | translate }} </label>
    <input id="ressourceID" type="text" class="form-control mb-2 mr-sm-2" name="ressourceID" [(ngModel)]="ressourceID" (change)="visboCapacityCalc()" >
    <!-- <div class="col-sm-4"></div> -->
    <label for="capacityFrom" class="mb-2 mr-sm-2">{{ 'ViewCapacity.btn.from' | translate }} </label>
    <input id="capacityFrom" type="date" class="form-control mb-2 mr-sm-2" name="capacityFrom" [ngModel]="capacityFrom | date:'yyyy-MM-dd'" (input)="capacityFrom=parseDate($event.target.value)" (change)="visboViewCapacityOverTime()" >    
    <label for="capacityTo" class="mb-2 mr-sm-2">{{ 'ViewCapacity.btn.to' | translate }} </label>
    <input id="capacityTo" type="date" class="form-control mb-2 mr-sm-2" name="capacityTo" [ngModel]="capacityTo | date:'yyyy-MM-dd'"  (input)="capacityTo=parseDate($event.target.value)" (change)="visboViewCapacityOverTime()" >
  </div>

  <div *ngIf="displayCapacity() >= 0">
    <div *ngIf="graphDataComboChart.length > 0" >
      <app-combo-chart [graphData]="graphDataComboChart" [graphOptions]="graphOptionsComboChart" [parentThis]="parentThis" [language]="currentLang"></app-combo-chart>
      <!-- <i class="fas fa-info-circle fa-lg mx-2 mt-2 text-secondary" title="{{ 'keyMetrics.lbl.showLegend' | translate }}" data-toggle="modal" data-target="#VpvLegend"></i> -->
    </div>
  </div>
  <div *ngIf="graphDataComboChart.length == 0" >
    {{ 'ViewCapacity.msg.noCapacity' | translate }}
  </div>
  <!-- <div *ngIf="ressourceID == ''" >
    {{ 'ViewCapacity.msg.noCapacity' | translate }}
  </div> -->

  <ul [ngStyle]="{'list-style-type': 'none'}" *ngIf="orgaTreeData">
    <ng-template #recursiveList let-list>
      <li *ngFor="let item of list">
        <a (click)="item.showChildren = !item.showChildren">
          <i class="fa" [ngClass]="{'fa-chevron-right': !item.showChildren, 'fa-chevron-down': item.showChildren}"></i>
        </a>
        <span>
          <input class="mx-1" type="checkbox" [checked]="item.isSelected" (change)="reactionOnSelection(item, !item.isSelected)" />
          <span>{{item.name}}</span>
        </span>
        <ul *ngIf="item.children?.length > 0 && item.showChildren" [ngStyle]="{'list-style-type': 'none'}">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: orgaTreeData.children }"></ng-container>
  </ul>

  
  <!-- <div>
    <a class="btn btn-clear btn-xs" data-ng-show="item.items.length" ng-click="expandNode(this,$event)">
        <i class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></i>
    </a>
    <span class="node-header">
        <input type="checkbox" ng-checked="item.isSelected" indeterminate-checkbox node="item" />
    </span>
    {{item.title}}
    
  </div>

  <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed,displayed:!collapsed}">
    <li ng-repeat="item in item.items" ui-tree-node collapsed="true" ng-include="'items_renderer.html'">
    </li>
  </ol> -->



  
  <div *ngIf="displayCapacity() < 0" >
    <div class="spinner-border" role="status"></div>
    <span> {{ 'ViewCapacity.msg.calculating' | translate }}</span>
  </div>
</div>

<!-- Modal Show Shortcut explanation -->
<div class="modal fade" id="VpvLegend" tabindex="-1" role="dialog" aria-labelledby="VpvDetailsTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>{{ 'keyMetrics.lbl.shortcut' | translate }}</th>
              <th>{{ 'keyMetrics.lbl.explanation' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'keyMetrics.shortPV' | translate }}</td>
              <td>{{ 'keyMetrics.longPV' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'keyMetrics.shortAC' | translate }}</td>
              <td>{{ 'keyMetrics.longAC' | translate }}</td>
            </tr>
            <!-- <tr>
              <td>{{ 'keyMetrics.shortAC' | translate }}</td>
              <td>{{ 'keyMetrics.longAC' | translate }}</td>
            </tr> -->
            <tr>
              <td>{{ 'keyMetrics.shortETC' | translate }}</td>
              <td>{{ 'keyMetrics.longETC' | translate }}</td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer align-items-end">
          <button class="btn btn-primary" data-dismiss="modal">{{ 'vpViewCost.btn.back' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
