<app-sysnavbar></app-sysnavbar>
<div *ngIf="visboproject">
  <div class='container'>
    <h3>Project: <a (click)="gotoVPList(visboproject)">{{ visboproject.name | uppercase }}</a></h3>
    <h5>Visbo Center:
      <a (click)="gotoVCDetail(visboproject)">{{ visboproject.vc.name }}</a>
    </h5>
    <form>
      <div class="form-group row">
        <label for="vpName" class="col-4 col-md-3 col-form-label">Name:</label>
        <label id="VPName" class="col-8 form-control-static">{{ visboproject.name }} </label>
      </div>
      <div class="form-group row">
        <label for="vpDescription" class="col-4 col-md-3 col-form-label">Description:</label>
        <label id="VPDesc" class="col-8 form-control-static">{{ visboproject.description }} </label>
      </div>

      <div class="form-group row">
        <label for="Created" class="col-4 col-md-3 col-form-label">Created / Updated at:</label>
        <label id="VPCreated" class="col form-control-static col-form-label">{{ visboproject.createdAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
        <label id="VPUpdated" class="col form-control-static col-form-label">{{ visboproject.updatedAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
      </div>
    </form>
    <div class="btn-toolbar" style="">
      <button id="ViewAudit" *ngIf="hasVPPerm(permVP.ViewAudit)" type="button" class="btn btn-md btn-light mr-1" (click)="gotoVPAudit(visboproject)">View Audit</button>
      <button id="ViewGroup" *ngIf="!showGroups" type="button" class="btn btn-md btn-light mx-1" (click)="toggleUserGroup()">Show Groups</button>
      <button id="ViewUser" *ngIf="showGroups" type="button" class="btn btn-md btn-light mx-1" (click)="toggleUserGroup()">Show Users</button>
    </div>

    <div *ngIf="!showGroups" >
      <div >
        <div class='row'>
          <div class='col'>
            <h5 class='panel-heading'>
                Visbo Project Users
            </h5>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead id="UserHead">
              <tr>
                <th>Nr.</th>
                <th (click)="sortUserTable(1)">e-mail</th>
                <th (click)="sortUserTable(2)">Group</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody id="UserList">
              <tr *ngFor="let member of vgUsers; let memberIndex=index"> <!-- class="danger"> -->
                <td>{{memberIndex+1}}</td>
                <td id="ColUser" (click)='calcCombinedPerm(memberIndex)' data-toggle="modal" data-target="#VPUserDetail">{{member.email}}</td>
                <td id="ColGroup">{{member.groupName}}</td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="showGroups" >
      <div >
        <div class='row'>
          <div class='col'>
            <h5 class='panel-heading'>
                Visbo Project Groups
            </h5>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead id="GroupHead">
              <tr>
                <th>Nr.</th>
                <th (click)="sortGroupTable(1)">Group</th>
                <th (click)="sortGroupTable(2)">Members</th>
                <th >Flag</th>
                <th>Info</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody id="GroupList">
              <tr *ngFor="let member of vgGroups; let memberIndex=index">
                <td>{{memberIndex+1}}</td>
                <td id="ColGroup">{{member.name}}</td>
                <td id="ColMembers">{{member.users.length}}</td>
                <td id="ColGlobal" *ngIf="member.global">Global</td>
                <td id="ColGlobal" *ngIf="!member.global"></td>
                <td>
                  <button id="ColDetail" class="Detail" title="Detail of Group"
                   (click)='initGroup(member)' data-toggle="modal" data-target="#VpGroupModalCreate">i</button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Add/Change System Group -->
  <div *ngIf="actGroup" class="modal fade" id="VpGroupModalCreate" tabindex="-1" role="dialog" aria-labelledby="VpGroupModalCreateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="actGroup._id" class="modal-title" id="VpGroupModalCenterTitle">Modify a Group in the Visbo Center</h5>
          <h5 *ngIf="!actGroup._id" class="modal-title" id="VpGroupModalCenterTitle">Add a new Group to the Visbo Center</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="actGroup" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="actGroup.name" #name="ngModel" required>
              <div *ngIf="f.submitted && !name.valid" class="help-block">Group Name is required</div>
            </div>
            <!-- VP Permissions -->
            <div>
              <div>Define Visbo Project Permission</div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP1" name="checkedVPView" [(ngModel)]="actGroup.checkedVPView" #checkedVPView="ngModel">
                  <label class="custom-control-label" for="permVP1">View Visbo Project</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP2" name="checkedVPViewAudit" [(ngModel)]="actGroup.checkedVPViewAudit" #checkedVPViewAudit="ngModel" >
                  <label class="custom-control-label" for="permVP2">View Project Audit</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP3" name="checkedVPModify" [(ngModel)]="actGroup.checkedVPModify" #checkedVPModify="ngModel" >
                  <label class="custom-control-label" for="permVP3">Modify Visbo Project</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP4" name="checkedCreateVariant" [(ngModel)]="actGroup.checkedCreateVariant" #checkedCreateVariant="ngModel" >
                  <label class="custom-control-label" for="permVP4">Create Visbo Project Variant</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP5" name="checkedVPManagePerm" [(ngModel)]="actGroup.checkedVPManagePerm" #checkedVPManagePerm="ngModel" >
                  <label class="custom-control-label" for="permVP5">Manage Permissions, Users and Groups</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP6" name="checkedVPDelete" [(ngModel)]="actGroup.checkedVPDelete" #checkedVPDelete="ngModel" >
                  <label class="custom-control-label" for="permVP6">Delete Visbo Project</label>
              </div>
            </div>

            <div *ngIf="helperUsersPerGroup(actGroup.name)" class="mt-2">
              <label class="form-control-static">Group Members</label>
              <ng-container class="row" *ngFor="let member of vgUsers; let memberIndex=index" >
                <div class="col-8 ml-3" *ngIf="member.groupName == actGroup.name">
                  <a (click)="toggleUserGroup()" data-dismiss="modal">{{ member.email }}</a>
                </div>
              </ng-container>
            </div>
            <div *ngIf="!helperUsersPerGroup(actGroup.name)" class="mt-2">
              <label class="form-control-static">No Group Members</label>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Show User Permission -->
  <div *ngIf="vgUsers && userIndex >= 0" class="modal fade" id="VPUserDetail" tabindex="-1" role="dialog" aria-labelledby="VPUserDetailTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VPUserDetailTitle">Permission for {{vgUsers[userIndex].email}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- VP Permissions -->
          <div>Visbo Project Permission for User</div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.View)" type="checkbox" checked disabled class="custom-control-input" id="permVP1" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.View)" type="checkbox" disabled class="custom-control-input" id="permVP1" name="checkedView" >
            <label class="custom-control-label" for="permVP1">View Visbo Project</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.ViewAudit)" type="checkbox" checked disabled class="custom-control-input" id="permVP2" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.ViewAudit)" type="checkbox" disabled class="custom-control-input" id="permVP2" name="checkedView" >
            <label class="custom-control-label" for="permVP2">View Project Audit</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.Modify)" type="checkbox" checked disabled class="custom-control-input" id="permVP3" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.Modify)" type="checkbox" disabled class="custom-control-input" id="permVP3" name="checkedView" >
            <label class="custom-control-label" for="permVP3">Modify Visbo Project</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.CreateVariant)" type="checkbox" checked disabled class="custom-control-input" id="permVP4" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.CreateVariant)" type="checkbox" disabled class="custom-control-input" id="permVP4" name="checkedView" >
            <label class="custom-control-label" for="permVP4">Create Visbo Project Variant</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.ManagePerm)" type="checkbox" checked disabled class="custom-control-input" id="permVP5" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.ManagePerm)" type="checkbox" disabled class="custom-control-input" id="permVP5" name="checkedView" >
            <label class="custom-control-label" for="permVP5">Manage Permissions, Users and Groups</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.DeleteVP)" type="checkbox" checked disabled class="custom-control-input" id="permVP6" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.DeleteVP)" type="checkbox" disabled class="custom-control-input" id="permVP6" name="checkedView" >
            <label class="custom-control-label" for="permVP6">Delete Visbo Project</label>
          </div>
          <label class="form-control-static mt-2">Group Member Ship</label>
          <ng-container class="row" *ngFor="let member of vgUsers; let memberIndex=index" >
            <div class="col-8 ml-3" *ngIf="member.email == vgUsers[userIndex].email">
              <a (click)="toggleUserGroup()" data-dismiss="modal">{{ member.groupName }}</a>
            </div>
          </ng-container>

          <div class="form-group mt-2">
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
