<sysvisbo-navbar></sysvisbo-navbar>
<div *ngIf="visboproject">
  <div class='container'>
  <h3>Project: {{ visboproject.name | uppercase }}</h3>
  <form>
    <div class="form-group row">
      <label for="vpName" class="col-4 col-md-3 col-form-label">Name:</label>
      <input *ngIf="vpIsAdmin" type="text" name=vpName class="col-sm-8 form-control" [(ngModel)]="visboproject.name" placeholder="Name">
      <label *ngIf="!vpIsAdmin" class="col-8 form-control-static">{{ visboproject.name }} </label>
    </div>
    <div class="form-group row">
      <label for="vpDescription" class="col-4 col-md-3 col-form-label">Description:</label>
      <textarea *ngIf="vpIsAdmin" name=vpDescription class="col-8 form-control" [(ngModel)]="visboproject.description" placeholder="Type in your description"></textarea>
      <label *ngIf="!vpIsAdmin" class="col-8 form-control-static">{{ visboproject.description }} </label>
    </div>
    <div class="form-group row">
      <label for="vpPublic" class="col-4 col-md-3 col-form-label">Visibility:</label>
      <select *ngIf="vpIsAdmin" class="col-8 form-control"  name="vpPublic" [(ngModel)]="visboproject.vpPublic" #vpPublic="ngModel" required>
        <option value = false>Only for users from Visbo Project</option>
        <option value = true>All users from this Visbo Center and this Visbo Project</option>
      </select>
      <label *ngIf="!vpIsAdmin && vpPublic" class="col-8 form-control-static">All users from this Visbo Center and this Visbo Project</label>
      <label *ngIf="!vpIsAdmin && !vpPublic" class="col-8 form-control-static">Only for users from Visbo Project</label>
      <div *ngIf="f.submitted && !vpPublic.valid" class="help-block">Visibility of Project must be defined</div>
    </div>

    <div class="form-group row">
      <label for="Created" class="col-4 col-md-3 col-form-label">Created at:</label>
      <label class="col-8 form-control-static">{{ visboproject.createdAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
    </div>
    <div class="form-group row">
      <label for="Created" class="col-4 col-md-3 col-form-label">Updated at:</label>
      <label class="col-8 form-control-static">{{ visboproject.updatedAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
    </div>
  </form>
  <div>
    <div class='well'>
      <div class='row'>
        <div class='col'>
          <h5 class='panel-heading'>
              Project Users
          </h5>
        </div>
        <div *ngIf="vpIsSysAdmin == 'Admin'" class='col-6 col-md-2 align-self-end'>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary align-self-end" data-toggle="modal" data-target="#VpUserModalCreate">
            Add User
          </button>
        </div>
      </div>
      <div class='panel-body'>
        <table class='table table-hover'>
          <!--Table head-->
          <thead>
            <tr>
              <th>Nr.</th>
              <th>e-mail</th>
              <th>Role</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let member of visboproject.users; let memberIndex=index"> <!-- class="danger"> -->
              <td>{{memberIndex+1}}</td>
              <td>{{member.email}}</td>
              <td>{{member.role}}</td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
      </div>
    </div>
    <button *ngIf="vpIsAdmin" (click)="save()" class="btn btn-primary">save</button>
    <button (click)="goBack()">go back</button>
  </div>
</div>

<!-- Modal Add VP User -->
<div class="modal fade" id="VpUserModalCreate" tabindex="-1" role="dialog" aria-labelledby="VpUserModalCreateTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VpUserModalCenterTitle">Add a new User to the Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="newUserInvite" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email" class="col-form-label">Name:</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="newUserInvite.email" #email="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" autocomplete="email">
            <div *ngIf="f.submitted && !email.valid" class="help-block">E-Mail address is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !role.valid }">
            <label for="role" class="col-form-label">Role:</label>
            <select class="form-control"  name="role" [(ngModel)]="newUserInvite.role" #role="ngModel" required>
              <option>User</option>
              <option>Admin</option>
            </select>
            <div *ngIf="f.submitted && !role.valid" class="help-block">Role of User must be defined</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !inviteMessage.valid }">
            <label for="inviteMessage" class="col-form-label">Message:</label>
            <textarea class="form-control" name="inviteMessage" [(ngModel)]="newUserInvite.inviteMessage" #inviteMessage="ngModel" required> </textarea>
            <div *ngIf="f.submitted && !inviteMessage.valid" class="help-block">Message for the user invitation necessary</div>
          </div>
          <div class="form-group">
            <button *ngIf="!f.form.valid" type="submit" class="btn btn-primary" >Invite</button>
            <button *ngIf="f.form.valid" type="submit" class="btn btn-primary" (click)="addNewVPUser()" data-dismiss="modal">Invite</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
