<sysvisbo-navbar></sysvisbo-navbar>
<div class='well'>
  <div class='row'>
      <h2 class='panel-heading'>
        Visbo Config System View
      </h2>
  </div>

  <div>
    <div class='container-fluid'>
      <div class='panel-body'>
        <table class='table table-hover table-sortable'>
          <!--Table head-->
          <thead>
            <tr>
              <th (click)="sortTable(1)">Name</th>
              <th class="d-none d-md-table-cell" (click)="sortTable(2)">Info</th>
              <th (click)="sortTable(3)">Updated</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <tr *ngFor="let setting of vcsetting; let settingIndex=index" (click)="editConfigName(setting.name)" data-toggle="modal" data-target="#ConfigValue">
              <td><a>{{setting.name}}</a></td>
              <td>{{getMainInfo(setting)}}</td>
              <td>{{setting.updatedAt | date :'dd.MM HH:mm:ss' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ConfigValue" tabindex="-1" role="dialog" aria-labelledby="Config Value" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" *ngIf="vcsetting && editIndex >= 0">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="ConfigDetailTitle">Config Detail Parameter</h5> -->
        <h5 *ngIf="vcsetting[editIndex].name == 'UI URL'" class="modal-title" id="ConfigDetailTitle">Config UI URL</h5>
        <h5 *ngIf="vcsetting[editIndex].name == 'DEBUG'" class="modal-title" id="ConfigDetailTitle">Config Debug Setting</h5>
        <h5 *ngIf="vcsetting[editIndex].name == 'PW Policy'" class="modal-title" id="ConfigDetailTitle">Config Password Policy</h5>
        <h5 *ngIf="vcsetting[editIndex].name == 'SMTP'" class="modal-title" id="ConfigDetailTitle">Config SMTP Setting</h5>
        <h5 *ngIf="vcsetting[editIndex].name == 'REDIS'" class="modal-title" id="ConfigDetailTitle">Config Redis Address</h5>
        <h5 *ngIf="vcsetting[editIndex].name == 'Log Age'" class="modal-title" id="ConfigDetailTitle">Config Maximum Log File Age</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Index {{ editIndex }} -->
      <div class="modal-body">
        <form *ngIf="vcsetting[editIndex].name == 'UI URL'">
          <div>
            <div class="form-group">
              <label for="configUIUrl" class="col-3 col-form-label">UI Url:</label>
              <input type="text" name=configUIUrl class="col-7 form-control" [(ngModel)]="vcsetting[editIndex].value.UIUrl" placeholder="URL for Web UI">
            </div>
          </div>
        </form>
        <form *ngIf="vcsetting[editIndex].name == 'PW Policy'">
          <div>
            <div class="form-group">
              <label for="configPWPolicy" class="col-4 col-form-label">PW Policy Regex:</label>
              <input type="text" name=configPWPolicy class="form-control" [(ngModel)]="vcsetting[editIndex].value.PWPolicy">
            </div>
            <div class="form-group">
              <label for="configPWPolicyDesc" class="col-4 col-form-label">PW Policy Description:</label>
              <textarea name=configPWPolicyDesc class="form-control" [(ngModel)]="vcsetting[editIndex].value.Description"></textarea>
            </div>
          </div>
        </form>
        <form *ngIf="vcsetting[editIndex].name == 'SMTP'">
          <div *ngIf="editIndex >= 0 && vcsetting[editIndex].name == 'SMTP'">
            <div class="form-group">
              <label for="configSMTPHost" class="col-4 col-form-label">SMTP Host:</label>
              <input type="text" name=configSMTPHost class="form-control" [(ngModel)]="vcsetting[editIndex].value.host">
            </div>
            <div class="form-group">
              <label for="configSMTPUser" class="col-4 col-form-label">User:</label>
              <input type="text" name=configSMTPUser class="form-control" [(ngModel)]="vcsetting[editIndex].value.auth.user">
            </div>
            <div class="form-group">
              <label for="configSMTPUserPW" class="col-4 col-form-label">Password:</label>
              <input type="password" name=configSMTPUserPW class="form-control" [(ngModel)]="vcsetting[editIndex].value.auth.pass">
            </div>
            <div class="form-group">
              <label for="configSMTPPort" class="col-4 col-form-label">Port:</label>
              <input type="number" name=configSMTPPort class="form-control" [(ngModel)]="vcsetting[editIndex].value.port">
            </div>
            <div class="form-group">
              <label for="configSMTPConTimeout" class="col-4 col-form-label">Connection Timeout:</label>
              <input type="number" name=configSMTPConTimeout class="form-control" [(ngModel)]="vcsetting[editIndex].value.connectionTimeout">
            </div>
            <div class="form-group">
              <label for="configSMTPGreetTimeout" class="col-4 col-form-label">Greeting Timeout:</label>
              <input type="number" name=configSMTPGreetTimeout class="form-control" [(ngModel)]="vcsetting[editIndex].value.greetingTimeout">
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check1" name="configSMTPPool" [(ngModel)]="vcsetting[editIndex].value.pool" #configSMTPPool="ngModel">
                <label class="custom-control-label" for="check1">Pool Connections</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check2" name="configSMTPSecure" [(ngModel)]="vcsetting[editIndex].value.secure" #configSMTPSecure="ngModel">
                <label class="custom-control-label" for="check2">Secure Connection</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check3" name="configSMTPTls" [(ngModel)]="vcsetting[editIndex].value.requireTLS" #configSMTPTls="ngModel">
                <label class="custom-control-label" for="check3">Require TLS</label>
            </div>
          </div>
        </form>
        <form *ngIf="vcsetting[editIndex].name == 'REDIS'">
          <div>
            <div class="form-group">
              <label for="configREDISHost" class="col-4 col-form-label">Host:</label>
              <input type="text" name=configREDISHost class="form-control" [(ngModel)]="vcsetting[editIndex].value.host">
            </div>
            <div class="form-group">
              <label for="configREDISPort" class="col-4 col-form-label">Port:</label>
              <input type="number" name=configREDISPort class="form-control" [(ngModel)]="vcsetting[editIndex].value.port">
            </div>
          </div>
        </form>
        <form *ngIf="vcsetting[editIndex].name == 'DEBUG'">
          <div class="form-group row">

            <label class="col-3 col-form-label">VC:</label>
            <select class="col-8 form-control"  name="VC" [(ngModel)]="vcsetting[editIndex].value.VC">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">VP:</label>
            <select class="col-8 form-control"  name="VP" [(ngModel)]="vcsetting[editIndex].value.VP">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">VPV:</label>
            <select class="col-8 form-control"  name="VPV" [(ngModel)]="vcsetting[editIndex].value.VPV">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">USER:</label>
            <select class="col-8 form-control"  name="USER" [(ngModel)]="vcsetting[editIndex].value.USER">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">MAIL:</label>
            <select class="col-8 form-control"  name="MAIL" [(ngModel)]="vcsetting[editIndex].value.MAIL">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">OTHER:</label>
            <select class="col-8 form-control"  name="OTHER" [(ngModel)]="vcsetting[editIndex].value.OTHER">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">All:</label>
            <select class="col-8 form-control"  name="All" [(ngModel)]="vcsetting[editIndex].value.All">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
        </form>
        <form *ngIf="vcsetting[editIndex].name == 'Log Age'">
          <div>
            <div class="form-group">
              <label for="configLogAge" class="col-4 col-form-label">Max Age:</label>
              <input type="number" name=configLogAge class="form-control" [(ngModel)]="vcsetting[editIndex].value.duration" >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="hasSystemPerm(permSystem.Modify)" type="button" class="btn btn-primary" (click)="updateConfig(vcsetting[editIndex])" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>
