<div *ngIf="!sysadmin">
  <app-usernavbar></app-usernavbar>
</div>
<div *ngIf="sysadmin">
  <app-sysnavbar></app-sysnavbar>
</div>
<div *ngIf="visboproject" class='well'>
  <div class='row'>
    <h2 class='panel-heading ml-0'>
      {{ 'vpAudit.title' | translate }}: <a (click)="goBack()">{{visboproject.name}}</a>
    </h2>
  </div>
  <form name="form" (ngSubmit)="getVisboProjectAudits()" #f="ngForm" novalidate>
    <div *ngIf="sysadmin" class="form-group row">
      <label for="auditFrom" class="col-1 col-form-label">{{ 'vpAudit.lbl.from' | translate }}:</label>
      <input id="auditFrom" type="datetime-local" class="col-2 col-sm-4 form-control" name="auditFrom" [(ngModel)]="auditFrom">
      <label for="auditTo" class="col-1 col-form-label">{{ 'vpAudit.lbl.to' | translate }}:</label>
      <input id="auditTo" type="datetime-local" class="col-2 col-sm-4 form-control" name="auditTo" [(ngModel)]="auditTo" >
    </div>
    <div *ngIf="!sysadmin" class="form-group row">
      <label for="auditFrom" class="col-1 col-form-label">{{ 'vpAudit.lbl.from' | translate }}:</label>
      <input id="auditFrom" type="date" class="col-2 col-sm-4 form-control" name="auditFrom" [(ngModel)]="auditFrom">
      <label for="auditTo" class="col-1 col-form-label">{{ 'vpAudit.lbl.to' | translate }}:</label>
      <input id="auditTo" type="date" class="col-2 col-sm-4 form-control" name="auditTo" [(ngModel)]="auditTo" >
    </div>
    <div class="form-group row">
      <label for="auditText" class="col-1 col-form-label">{{ 'vpAudit.lbl.filter' | translate }}:</label>
      <input id="auditText" type="text" class="col-2 col-sm-3 form-control" name="auditText" [(ngModel)]="auditText" >

      <label for="auditCount" class="col-1 col-form-label">{{ 'vpAudit.lbl.max' | translate }}:</label>
      <select class="col-1 form-control mx-1" name="auditCount" [(ngModel)]="auditCount">
        <option>50</option>
        <option>100</option>
        <option>500</option>
        <option>2000</option>
      </select>
      <select class="col-1 form-control mx-1" id="auditType" name="auditType" [(ngModel)]="auditType">
        <option *ngFor="let actionItem of auditTypeList">{{actionItem.name}}</option>
      </select>
      <div class='btn-group '>
        <button type="button" class="btn btn-sm btn-primary ml-auto mx-1" (click)="getVisboProjectAudits()">{{ 'vpAudit.btn.filter' | translate }}</button>
        <button type="button" class="btn btn-sm btn-secondary ml-auto mx-1" (click)="downloadVisboAudit()">{{ 'vpAudit.btn.download' | translate }}</button>
      </div>
    </div>
  </form>
  <div class='container-fluid'>
    <div class='panel-body'>
      <table class='table table-hover table-sortable'>
        <!--Table head-->
        <thead>
          <tr>
            <th class="d-none d-md-table-cell" (click)="sortTable(1)">{{ 'vpAudit.lbl.created' | translate }}</th>
            <th (click)="sortTable(2)">{{ 'vpAudit.lbl.user' | translate }}</th>
            <th (click)="sortTable(3)">{{ 'vpAudit.lbl.action' | translate }}</th>
            <th class="d-none d-md-table-cell" (click)="sortTable(4)">{{ 'vpAudit.lbl.info' | translate }}</th>
            <th class="d-none d-lg-table-cell" (click)="sortTable(5)">{{ 'vpAudit.lbl.result' | translate }}</th>
            <th>Detail</th>
          </tr>
        </thead>
        <!--Table body-->
        <tbody>
          <tr *ngFor="let auditentry of audit; let auditIndex=index" (click)='helperAuditIndex(auditIndex)'
          data-toggle="modal" data-target="#AuditDetail">
          <td  *ngIf="isToday(auditentry.createdAt)" class="d-none d-md-table-cell">{{auditentry.createdAt | date :'HH:mm:ss'}}</td>
          <td  *ngIf="!isToday(auditentry.createdAt)" class="d-none d-md-table-cell">{{auditentry.createdAt | date :'dd.MM HH:mm'}}</td>
            <td *ngIf="auditentry.user" >{{auditentry.user.email }}</td>
            <td *ngIf="!auditentry.user"> Unknown </td>
            <td>{{auditentry.actionDescription }}</td>
            <td class="d-none d-md-table-cell" >{{helperShortenText(auditentry.actionInfo, 30) }}</td>
            <td class="d-none d-lg-table-cell" >{{helperResponseText(auditentry) }}</td>
            <td>
              <button class="Detail" (click)='helperAuditIndex(auditIndex)'
              data-toggle="modal" data-target="#AuditDetail">i</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="AuditDetail" tabindex="-1" role="dialog" aria-labelledby="Audit Detail" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" *ngIf="auditIndex >= 0 && auditIndex < audit.length">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AuditDetailTitle">{{ 'vpAudit.titleDetail' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-11">
            <h3 (click)='pageAuditIndex(-1)'><a class="px-3 col-1 fas fa-caret-square-left"></a></h3>
          </div>
          <div class="col-1">
            <h3 (click)='pageAuditIndex(1)'><a class="px-3 col-1 fas fa-caret-square-right"></a></h3>
          </div>
        </div>
        <form>
          <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.created' | translate }}:</label>
          <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].createdAt | date :'dd.MM.yyyy HH:mm:ss.SSS' }} </label>
          <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.user' | translate }}:</label>
          <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].user.email }} </label>
          <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.action' | translate }}:</label>
          <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].actionDescription }} </label>
          <div *ngIf="audit[auditIndex].actionInfo">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.info' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].actionInfo }} </label>
          </div>
          <div *ngIf="audit[auditIndex].vc">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.vc' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].vc.name }} </label>
          </div>
          <div *ngIf="audit[auditIndex].vp">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.vp' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].vp.name }} ({{ audit[auditIndex].vp.vpid }}) </label>
          </div>
          <div *ngIf="audit[auditIndex].vpv">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.vpv' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].vpv.name }} ({{ audit[auditIndex].vpv.vpvid }})</label>
          </div>
          <div>
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.result' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{helperResponseText(audit[auditIndex]) }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.techAction' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].action }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.url' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static" style="overflow-wrap: break-word;">{{ audit[auditIndex].url }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.responseTime' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].result.time }} ms </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.responseSize' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ helperFormatBytes(audit[auditIndex].result.size || 0, 2) }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.userAgent' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].userAgent }}</label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.ip' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].ip }}</label>
          </div>
          <div *ngIf="showMore && audit[auditIndex].ttl">
            <label class="py-0 m-0 col-4 form-control-static">{{ 'vpAudit.lbl.ttl' | translate }}:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].ttl | date :'dd.MM HH:mm' }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button *ngIf="!showMore" type="button" class="btn btn-secondary" (click)="toggleDetail()">{{ 'vpAudit.btn.more' | translate }}</button>
        <button *ngIf="showMore" type="button" class="btn btn-secondary" (click)="toggleDetail()">{{ 'vpAudit.btn.less' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'vpAudit.btn.back' | translate }}</button>
      </div>
    </div>
  </div>
</div>
