<div *ngIf="hasDeadlines()" class='well' (resized)="onResized($event)">
  <div *ngIf="displaySwitch()" class="container">
    <div class="d-flex justify-content-center my-1">
      <button type="button" class="btn btn-md btn-light mx-2" (click)="toggleGantt()">{{ buttonGantt }}</button>
      <select class="col-3 form-control mx-2" name="type" [(ngModel)]="type" (change)="switchView()">
        <option *ngFor="let item of listType" value="{{item.name}}">{{item.localName}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="fullList && refType != 'vpv'" class="container">
    <div class="d-flex justify-content-center" *ngIf="graphAllDataPieChart.length > 1">
      <div class="align-center" >
        <app-pie-chart [elementID]="divAllPieChart" [graphData]="graphAllDataPieChart" [graphDataBefore]="graphBeforeAllDataPieChart" [graphLegend]="graphAllPieLegend" [graphOptions]="graphAllOptionsPieChart" [parentThis]="parentThis" [language]="currentLang"></app-pie-chart>
      </div>
    </div>
  </div>
  <div *ngIf="viewGantt" class="container">
    <div *ngIf="showBreadCrumb()" class="mb-2">
      <span *ngFor="let item of getBreadCrumb(); let pathIndex=index">
        <a (click)="ganttSelectPath(item, pathIndex)">{{item}}</a> /
      </span>
    </div>
    <div *ngIf="graphDataDeadlinesGantt && graphDataDeadlinesGantt.length > 1" >
      <div>
        <app-timeline-chart [graphData]="graphDataDeadlinesGantt" [graphOptions]="graphOptionsDeadlinesGantt" [parentThis]="parentThis"></app-timeline-chart>
      </div>
    </div>
  </div>

  <div class='panel-body'>
    <!-- <div> Timestamp {{vpvActive.timestamp}}</div> -->
    <table class='table table-hover table-sortable'>
      <!--Table head-->
      <thead>
        <tr>
          <th class="text-left" (click)="sortDeadlineTable(2)">{{ 'compViewDeadline.lbl.planElement' | translate }}</th>
          <th class="d-none d-lg-table-cell" (click)="sortDeadlineTable(3)">{{ 'compViewDeadline.lbl.type' | translate }}</th>
          <th *ngIf="switchType" class="d-none d-xl-table-cell text-right" (click)="sortDeadlineTable(7)">{{ 'compViewDeadline.lbl.endDatePFV' | translate }}</th>
          <th class="d-none d-md-table-cell text-right" (click)="sortDeadlineTable(4)">{{ 'compViewDeadline.lbl.endDateVPV' | translate }}</th>
          <th *ngIf="switchType" class="text-right" (click)="sortDeadlineTable(5)">{{ 'compViewDeadline.lbl.change' | translate }}</th>
          <th class="d-none d-md-table-cell text-right" (click)="sortDeadlineTable(6)">{{ 'compViewDeadline.lbl.done' | translate }}</th>
          <th class="d-none d-md-table-cell"><i class="fas fa-lightbulb text-grey"></i></th>
        </tr>
      </thead>
      <!--Table body-->
      <tbody>
        <tr *ngFor="let deadlines of filteredDeadline; let deadlineIndex=index" (click)='helperDeadline(deadlineIndex)' data-toggle="modal" data-target="#detailDeadline">
          <td title="{{getFullName(deadlines)}}">
            <ng-container *ngTemplateOutlet="fontStyle; context:{level: getStatus(deadlines), text: getShortText(getFullName(deadlines), 100, 'right')} " ></ng-container>
          </td>
          <td class="d-none d-lg-table-cell">{{deadlines.type}}</td>
          <td *ngIf="switchType" class="d-none d-xl-table-cell text-right">{{deadlines.endDatePFV | date :'dd.MM.yy'}}</td>
          <td class="d-none d-md-table-cell text-right">{{deadlines.endDateVPV | date :'dd.MM.yy'}}</td>
          <td *ngIf="switchType" class="text-right" title="{{deadlines.endDatePFV | date :'dd.MM.yy'}} (baseline)">{{deadlines.changeDays / 7 | number :'1.0-1'}}</td>

          <td *ngIf="(inFuture(deadlines.endDateVPV) || deadlines.percentDone == 1)" class="d-none d-md-table-cell text-right">{{deadlines.percentDone * 100 | number : '1.0-0'}} %</td>
          <td *ngIf="!(inFuture(deadlines.endDateVPV) || deadlines.percentDone == 1)" class="d-none d-md-table-cell text-right my_bg_red">{{deadlines.percentDone * 100 | number : '1.0-0'}} %</td>
          <td class="d-none d-md-table-cell" title="{{deadlines.trafficlightDesc}}">
            <ng-container *ngTemplateOutlet="trafficLight; context:{level: deadlines.trafficlight} " ></ng-container>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>

  <ng-template #fontStyle let-level="level" let-text="text">
    <i [ngClass]="{
      'font-weight-normal': level == -1,
      'font-weight-bold': level >= 0,
      'my_darkgreen': level == 0,
      'my_green': level == 1,
      'my_orange': level == 2,
      'my_red': level == 3}
      ">
      {{text}}
    </i>
  </ng-template>

  <ng-template #trafficLight let-level="level">
    <i class="fas fa-lightbulb" [ngClass]="{'d-none': level == 0, 'text-success': level == 1, 'text-warning': level == 2, 'text-danger': level == 3}"></i>
  </ng-template>

  <!-- Modal Show Deadline Detail -->
  <div class="modal fade" id="detailDeadline" tabindex="-1" role="dialog" aria-labelledby="Detail Deadline" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailDeadlineTitle">{{ 'compViewDeadline.titleDetailDeadline' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="deadlineIndex >= 0 && deadlineIndex < filteredDeadline.length">
          <form>
            <div class="v_compact_t form-group">
              <label class="col-4 col-form-label">{{ 'compViewDeadline.lbl.vp' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vpvActive.name }} </label>
            </div>
            <div class="v_compact_t form-group">
              <label class="col-4 col-form-label">{{ 'compViewDeadline.lbl.planElement' | translate }}:</label>
              <label class="col-8 form-control-static">{{ getElementPath(deadlineIndex) }}</label>
            </div>
            <div class="v_compact_t form-group">
              <label class="col-4 col-form-label">{{ 'compViewDeadline.lbl.type' | translate }}:</label>
              <label class="col-8 form-control-static">{{ filteredDeadline[deadlineIndex].type }}</label>
            </div>
            <div class="v_compact_t form-group" *ngIf="filteredDeadline[deadlineIndex].endDatePFV">
              <label class="col-4 col-form-label">{{ 'compViewDeadline.lbl.endDatePFV' | translate }}:</label>
              <label class="col-8 form-control-static">{{ filteredDeadline[deadlineIndex].endDatePFV | date :'dd.MM.yy' }}</label>
            </div>
            <div class="v_compact_t form-group" *ngIf="filteredDeadline[deadlineIndex].endDateVPV">
              <label class="col-4 col-form-label">{{ 'compViewDeadline.lbl.endDateVPV' | translate }}:</label>
              <label class="col-8 form-control-static">{{ filteredDeadline[deadlineIndex].endDateVPV | date :'dd.MM.yy' }}</label>
            </div>
            <div class="v_compact_t form-group" *ngIf="filteredDeadline[deadlineIndex].percentDone">
              <label class="col-4 col-form-label">{{ 'compViewDeadline.lbl.done' | translate }}:</label>
              <label class="col-8 form-control-static">{{ filteredDeadline[deadlineIndex].percentDone * 100 | number : '1.0-0' }} %</label>
            </div>
            <div class="v_compact_t form-group" *ngIf="filteredDeadline[deadlineIndex].trafficlight || filteredDeadline[deadlineIndex].trafficlightDesc">
              <label class="col-4 col-form-label">{{ 'compViewDeadline.lbl.trafficlight' | translate }}:</label>
              <label class="col-8 form-control-static">
                <span class="mx-2" title="{{ filteredDeadline[deadlineIndex].trafficlightDesc }}">
                  <ng-container *ngTemplateOutlet="trafficLight; context:{level: filteredDeadline[deadlineIndex].trafficlight} " ></ng-container>
                </span>
                <span class="mx-1">
                  {{ filteredDeadline[deadlineIndex].trafficlightDesc }}
                </span>
              </label>
            </div>
            <div class="v_compact_t form-group" *ngIf="filteredDeadline[deadlineIndex].percentDone">
              <label class="col-4 col-form-label">{{ 'compViewDeadline.lbl.responsible' | translate }}:</label>
              <label class="col-8 form-control-static">{{ filteredDeadline[deadlineIndex].responsible }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'compViewDeadline.btn.back' | translate }}</button>
          <button *ngIf="canSeeRestriction()" type="button" class="btn btn-primary" data-dismiss="modal" (click)="gotoVPRestrict(deadlineIndex)">{{ 'compViewDeadline.btn.detail' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

</div>
