<app-sysnavbar></app-sysnavbar>
<div class='well'>
  <div class="container-fluid">
    <div class='row'>
      <div class='col'>
        <h2 class='panel-heading'>
          Visbo Log Files
        </h2>
      </div>
      <!-- <div class='col-6 col-md-2 align-self-end'>
        <button type="button" class="mx-1 btn btn-sm btn-primary align-self-end" (click)="getLogLevel()" data-toggle="modal" data-target="#ChangeLogLevel">Change Log Level</button>
      </div> -->
    </div>
    <div class='col'>
      <form name="form" (ngSubmit)="getVisboLogs()" #f="ngForm" novalidate>
        <div class="form-group row">
          <label for="auditCount" class="col-form-label">Max age in days:</label>
          <select class="col-1 form-control mx-1" name="ageDays" [(ngModel)]="ageDays">
            <option>0</option>
            <option>3</option>
            <option>7</option>
            <option>30</option>
            <option>365</option>
          </select>
          <button type="button" class="btn btn-primary mx-1" (click)="getVisboLogs()">Refresh</button>
          <div class="col">
            <button type="button" class="btn btn-sm btn-primary float-right" (click)="getLogLevel()" data-toggle="modal" data-target="#ChangeLogLevel">Change Log Level</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div>
    <div class='container-fluid'>
      <div class='panel-body'>
        <table class='table table-hover table-sortable'>
          <!--Table head-->
          <thead>
            <tr>
              <th class="d-none d-md-table-cell" (click)="sortTable(1)">Name</th>
              <th class="d-none d-md-table-cell">Host</th>
              <th (click)="sortTable(2)">Modified</th>
              <th (click)="sortTable(3)"> Size</th>
              <th>Detail</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let fileentry of files; let fileIndex=index" (click)='helperFileIndex(fileIndex)'
              (click)='getVisboLogFile(fileentry)'>
              <td class="d-none d-md-table-cell"><a>{{fileentry.name }}</a></td>
              <td class="d-none d-md-table-cell">{{fileentry.folder }}</td>
              <td>{{fileentry.updatedAt | date :'dd.MM HH:mm' }}</td>
              <td>{{formatBytes(fileentry.size, undefined) }}</td>
              <td>
                <button class="Detail" title="Save As" (click)="getVisboLogFile(fileentry)">i</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal Change Log Level-->
<div class="modal fade" id="ChangeLogLevel" tabindex="-1" role="dialog" aria-labelledby="ChangeLogLevelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ChangeLogLevelTitle">Change Log Level</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="logLevelSetting">
        <form>
          <div class="form-group row">
            <label class="col-3 col-form-label">VC:</label>
            <select class="col-8 form-control"  name="VC" [(ngModel)]="logLevelSetting.value.VC">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">VP:</label>
            <select class="col-8 form-control"  name="VP" [(ngModel)]="logLevelSetting.value.VP">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">VPV:</label>
            <select class="col-8 form-control"  name="VPV" [(ngModel)]="logLevelSetting.value.VPV">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">USER:</label>
            <select class="col-8 form-control"  name="USER" [(ngModel)]="logLevelSetting.value.USER">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">MAIL:</label>
            <select class="col-8 form-control"  name="MAIL" [(ngModel)]="logLevelSetting.value.MAIL">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">OTHER:</label>
            <select class="col-8 form-control"  name="OTHER" [(ngModel)]="logLevelSetting.value.OTHER">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">All:</label>
            <select class="col-8 form-control"  name="All" [(ngModel)]="logLevelSetting.value.All">
              <option value = fatal>Fatal</option>
              <option value = warn>Warning</option>
              <option value = info>Information</option>
              <option value = debug>Debug</option>
              <option value = trace>Trace</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="setLogLevel()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
