<app-sysnavbar></app-sysnavbar>
<div class='well'>
  <div class="container-fluid">
    <div class='row'>
      <div class='col'>
        <h2 class='panel-heading'>
          Visbo System Audit
        </h2>
      </div>
    </div>
  </div>
  <form name="form" (ngSubmit)="getVisboAudits()" #f="ngForm" novalidate>
    <div class="form-group row">
      <label for="auditFrom" class="col-1 col-form-label">From:</label>
      <input id="auditFrom" type="date" class="col-4 col-md-2 form-control" name="auditFrom" [(ngModel)]="auditFrom">
      <label for="auditTo" class="col-1 col-form-label">To:</label>
      <input id="auditTo" type="date" class="col-4 col-md-2 form-control" name="auditTo" [(ngModel)]="auditTo" >
    </div>
    <div class="form-group row">
      <label for="auditText" class="col-1 col-form-label">Filter:</label>
      <input id="auditText" type="text" class="col-3 col-md-2 form-control" name="auditText" [(ngModel)]="auditText" >

      <label for="auditCount" class="col-1 col-form-label">Max:</label>
      <select id="auditCount" class="col-1 form-control mx-1" name="auditCount" [(ngModel)]="auditCount">
        <option>50</option>
        <option>100</option>
        <option>500</option>
        <option>2000</option>
      </select>

      <!-- <label for="auditArea" class="col-1 col-form-label">Area:</label> -->
      <select id="auditArea" class="col-1 form-control mx-1" id="auditType" name="auditArea" [(ngModel)]="auditArea">
        <option *ngFor="let actionItem of auditAreaList">{{actionItem.name}}</option>
      </select>
      <!-- <label for="auditArea" class="col-form-label">Action:</label> -->
      <select id="auditType" class="col-1 form-control mx-1" id="auditType" name="actiontype" [(ngModel)]="auditType">
        <option *ngFor="let actionItem of auditTypeList">{{actionItem.name}}</option>
      </select>
      <div class='btn-group '>
        <button type="button" class="btn btn-sm btn-primary ml-auto mx-1" (click)="getVisboAudits()">Filter</button>
        <button type="button" class="btn btn-sm btn-secondary ml-auto mx-1" (click)="downloadVisboAudit()">Excel</button>
        <button type="button" class="btn btn-sm btn-secondary ml-auto mx-1" (click)="switchChart()">{{chartButton}}</button>
      </div>
    </div>
  </form>
  <div *ngIf="chart" class='container-fluid'>
    <h3 class='panel-heading'>
      Visbo Chart
      <div class="col">
        <app-pie-chart [graphData]="graphData" [graphLegend]="graphLegend" [graphOptions]="graphOptions" [parentThis]="parentThis"></app-pie-chart>
      </div>
      <div class="col">
        <app-line-chart [graphData]="graphDataLineChart" [graphOptions]="graphOptionsLineChart"></app-line-chart>
      </div>
      <div class="col">
        <app-column-chart [elementID]="divColumnChart1" [graphData]="graphDataUserChart" [graphOptions]="graphOptionsUserChart"></app-column-chart>
      </div>
      <div class="col" *ngIf="graphDataBrowserChart && graphDataBrowserChart.length > 0">
        <app-column-chart [elementID]="divColumnChart2" [graphData]="graphDataBrowserChart" [graphOptions]="graphOptionsBrowserChart"></app-column-chart>
      </div>
    </h3>
  </div>
  <div *ngIf="!chart" class='container-fluid'>
    <div class='panel-body'>
      <table class='table table-hover table-sortable'>

        <thead id="AuditHead">
          <tr>
            <th id="SortDate" class="d-none d-md-table-cell" (click)="sortTable(1)">Created</th>
            <th id="SortUser" (click)="sortTable(2)">User</th>
            <th id="SortAction" (click)="sortTable(3)"> Action</th>
            <th id="SortInfo" class="d-none d-md-table-cell" (click)="sortTable(4)"> Info</th>
            <th id="SortResult" class="d-none d-lg-table-cell" (click)="sortTable(5)"> Result</th>
            <th id="SortDuration" class="d-none d-lg-table-cell" (click)="sortTable(6)"> Duration</th>
            <th id="SortSize" class="d-none d-lg-table-cell" (click)="sortTable(7)"> Size</th>
            <th>Detail</th>
          </tr>
        </thead>

        <tbody id="AuditList">
          <tr *ngFor="let auditentry of audit; let auditIndex=index" (click)='helperAuditIndex(auditIndex)'
          data-toggle="modal" data-target="#AuditDetail">
            <td id="ColCreated" *ngIf="isToday(auditentry.createdAt)" class="d-none d-md-table-cell">{{auditentry.createdAt | date :'HH:mm:ss'}}</td>
            <td id="ColCreated" *ngIf="!isToday(auditentry.createdAt)" class="d-none d-md-table-cell">{{auditentry.createdAt | date :'dd.MM HH:mm'}}</td>
            <td id="ColUser" *ngIf="auditentry.user" >{{auditentry.user.email }}</td>
            <td id="ColUser" *ngIf="!auditentry.user"> Unknown </td>
            <td id="ColAction">{{auditentry.actionDescription }}</td>
            <td id="ColInfo" class="d-none d-md-table-cell" >{{helperShortenText(auditentry.actionInfo, 30) }}</td>
            <td id="ColResult" class="d-none d-lg-table-cell" >{{helperResponseText(auditentry) }}</td>
            <td id="ColDuration" class="d-none d-lg-table-cell" >{{auditentry.result.time}} ms</td>
            <td id="ColResult" class="d-none d-lg-table-cell" >{{ helperFormatBytes(audit[auditIndex].result.size || 0, 2) }}</td>
            <td>
              <button id="ColDetail" class="Detail" title="Detail of Visbo Audit" (click)='helperAuditIndex(auditIndex)'
              data-toggle="modal" data-target="#AuditDetail">i</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="audit && audit.length == 0">
        <h3 class="d-flex justify-content-center">
          No Audit Entry for the time frame or the filter condition
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AuditDetail" tabindex="-1" role="dialog" aria-labelledby="Audit Detail" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" *ngIf="auditIndex >= 0 && auditIndex < audit.length">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AuditDetailTitle">Detail of Audit Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-11">
            <h3 id="ButtonPrev" title="Previous Entry" (click)='pageAuditIndex(-1)'><a class="px-3 col-1 fas fa-caret-square-left"></a></h3>
          </div>
          <div class="col-1">
            <h3 id="ButtonNext" title="Next Entry" (click)='pageAuditIndex(1)'><a class="px-3 col-1 fas fa-caret-square-right"></a></h3>
          </div>
        </div>
        <form id="auditEntry">
          <div class="v_compact_t">
            <label class="v_compact_t col-4 form-control-static">Created:</label>
            <label id="auditCreated" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].createdAt | date :'dd.MM.yyyy HH:mm:ss.SSS' }} </label>
            <label class="v_compact_t col-4 form-control-static">User:</label>
            <label id="auditUser" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].user.email }} </label>
            <label class="v_compact_t col-4 form-control-static">Action:</label>
            <label id="auditAction" class="v_compact_t col-7 form-control-static">{{ helperFormatActionDescription(audit[auditIndex]) }} </label>
          </div>
          <div *ngIf="audit[auditIndex].actionInfo">
            <label class="v_compact_t col-4 form-control-static">Info:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].actionInfo }} </label>
          </div>
          <div *ngIf="audit[auditIndex].vc">
            <label class="v_compact_t col-4 form-control-static">Visbo Center:</label>
            <label id="auditVC" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].vc.name }} </label>
          </div>
          <div *ngIf="audit[auditIndex].vp">
            <label class="v_compact_t col-4 form-control-static">Visbo Project:</label>
            <label id="auditVP" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].vp.name }} ({{ audit[auditIndex].vp.vpid }}) </label>
          </div>
          <div *ngIf="audit[auditIndex].vpv">
            <label class="v_compact_t col-4 form-control-static">Project Version:</label>
            <label id="auditVPV" class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].vpv.name }} ({{ audit[auditIndex].vpv.vpvid }})</label>
          </div>
          <div>
            <label class="v_compact_t col-4 form-control-static">Result:</label>
            <label class="v_compact_t col-7 form-control-static">{{helperResponseText(audit[auditIndex]) }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">tech. Action:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].action }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">URL:</label>
            <label class="v_compact_t col-7 form-control-static" style="overflow-wrap: break-word;">{{ audit[auditIndex].url }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">Response Time:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].result.time }} ms </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">Response Size:</label>
            <label class="v_compact_t col-7 form-control-static">{{ helperFormatBytes(audit[auditIndex].result.size || 0, 2) }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="v_compact_t col-4 form-control-static">User Agent:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].userAgent }}</label>
          </div>
          <div *ngIf="showMore && audit[auditIndex].ip">
            <label class="v_compact_t col-4 form-control-static">IP:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].ip }}</label>
          </div>
          <div *ngIf="showMore && audit[auditIndex].ttl">
            <label class="v_compact_t col-4 form-control-static">TTL:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].ttl | date :'dd.MM HH:mm' }}</label>
          </div>
          <div *ngIf="showMore && audit[auditIndex].host">
            <label class="v_compact_t col-4 form-control-static">Host:</label>
            <label class="v_compact_t col-7 form-control-static">{{ audit[auditIndex].host }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button id="ButtonMore" *ngIf="!showMore" type="button" class="btn btn-secondary" (click)="toggleDetail()">More</button>
        <button id="ButtonLess" *ngIf="showMore" type="button" class="btn btn-secondary" (click)="toggleDetail()">Less</button>
        <button id="ButtonBack" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
