<sysvisbo-navbar></sysvisbo-navbar>
<div class='well'>
  <div class="container-fluid">
    <div class='row'>
      <div class='col'>
        <h2 class='panel-heading'>
          Visbo System Audit
        </h2>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="auditFrom" class="col-2 col-form-label">From / To:</label>
    <input id="auditFrom" type="datetime-local" class="col-2 col-sm-4 form-control" name="auditFrom" [(ngModel)]="auditFrom" value="2019-02-01">
    <input id="auditTo" type="datetime-local" class="col-2 col-sm-4 form-control" name="auditTo" [(ngModel)]="auditTo" >
  </div>
  <div class="form-group row">
    <label for="auditText" class="col-2 col-form-label">Filter:</label>
    <input id="auditText" type="text" class="col-2 col-sm-4 form-control" name="auditText" [(ngModel)]="auditText" >

    <label for="auditCount" class="col-form-label">Max:</label>
    <select class="col-1 form-control" name="auditCount" [(ngModel)]="auditCount">
      <option>50</option>
      <option>100</option>
      <option>500</option>
      <option>2000</option>
    </select>

    <select class="col-1 form-control" id="auditType" name="actiontype" [(ngModel)]="auditType">
      <option *ngFor="let actionItem of auditTypeList">{{actionItem.name}}</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="getVisboAudits()">Filter</button>
    <button type="button" class="btn btn-sm btn-secondary ml-auto" (click)="downloadVisboAudit()">Download</button>
  </div>

  <div class='container-fluid'>
    <div class='panel-body'>
      <table class='table table-hover table-sortable'>
        <!--Table head-->
        <thead>
          <tr>
            <th class="d-none d-md-table-cell" (click)="sortTable(1)">Created</th>
            <th (click)="sortTable(2)">User</th>
            <th (click)="sortTable(3)"> Action</th>
            <th class="d-none d-md-table-cell" (click)="sortTable(4)"> Info</th>
            <th class="d-none d-lg-table-cell" (click)="sortTable(5)"> Result</th>
            <th class="d-none d-lg-table-cell" (click)="sortTable(6)"> Duration</th>
            <th class="d-none d-lg-table-cell" (click)="sortTable(7)"> Size</th>
            <th>Detail</th>
          </tr>
        </thead>
        <!--Table body-->
        <tbody>
          <tr *ngFor="let auditentry of audit; let auditIndex=index" (click)='helperAuditIndex(auditIndex)'
          data-toggle="modal" data-target="#AuditDetail">
            <td  *ngIf="isToday(auditentry.createdAt)" class="d-none d-md-table-cell">{{auditentry.createdAt | date :'HH:mm:ss'}}</td>
            <td  *ngIf="!isToday(auditentry.createdAt)" class="d-none d-md-table-cell">{{auditentry.createdAt | date :'dd.MM HH:mm'}}</td>
            <td *ngIf="auditentry.user" >{{auditentry.user.email }}</td>
            <td *ngIf="!auditentry.user"> Unknown </td>
            <td>{{auditentry.actionDescription }}</td>
            <td class="d-none d-md-table-cell" >{{helperShortenText(auditentry.actionInfo, 30) }}</td>
            <td class="d-none d-lg-table-cell" >{{helperResponseText(auditentry.result.status) }}</td>
            <td class="d-none d-lg-table-cell" >{{auditentry.result.time}} ms</td>
            <td class="d-none d-lg-table-cell" >{{ helperFormatBytes(audit[auditIndex].result.size || 0, 2) }}</td>
            <td>
              <button class="Detail" title="Detail of Visbo Audit" (click)='helperAuditIndex(auditIndex)'
              data-toggle="modal" data-target="#AuditDetail">i</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="AuditDetail" tabindex="-1" role="dialog" aria-labelledby="Audit Detail" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" *ngIf="auditIndex >= 0 && auditIndex < audit.length">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AuditDetailTitle">Detail of Audit Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-10">
            <button type="button" class="btn btn-secondary" title="Prev Audit Entry" (click)='pageAuditIndex(-1)'>Prev</button>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-secondary align-self-end" title="Next Audit Entry" (click)='pageAuditIndex(1)'>Next</button>
          </div>
        </div>
        <form>
          <div class="py-0 m-0">
            <label class="py-0 m-0 col-4 form-control-static">Created:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].createdAt | date :'dd.MM.yyyy HH:mm:ss.SSS' }} </label>
            <label class="py-0 m-0 col-4 form-control-static">User:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].user.email }} </label>
            <label class="py-0 m-0 col-4 form-control-static">Action:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].actionDescription }} </label>
          </div>
          <div *ngIf="audit[auditIndex].actionInfo">
            <label class="py-0 m-0 col-4 form-control-static">Info:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].actionInfo }} </label>
          </div>
          <div *ngIf="audit[auditIndex].vc">
            <label class="py-0 m-0 col-4 form-control-static">Visbo Center:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].vc.name }} </label>
          </div>
          <div *ngIf="audit[auditIndex].vp">
            <label class="py-0 m-0 col-4 form-control-static">Visbo Project:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].vp.name }} ({{ audit[auditIndex].vp.vpid }}) </label>
          </div>
          <div *ngIf="audit[auditIndex].vpv">
            <label class="py-0 m-0 col-4 form-control-static">Project Version:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].vpv.name }} ({{ audit[auditIndex].vpv.vpvid }})</label>
          </div>
          <div>
            <label class="py-0 m-0 col-4 form-control-static">Result:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{helperResponseText(audit[auditIndex].result.status) }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">tech. Action:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].action }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">URL:</label>
            <label class="py-0 m-0 col-7 form-control-static" style="overflow-wrap: break-word;">{{ audit[auditIndex].url }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">Response Time:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].result.time }} ms </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">Response Size:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ helperFormatBytes(audit[auditIndex].result.size || 0, 2) }} </label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">User Agent:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].userAgent }}</label>
          </div>
          <div *ngIf="showMore">
            <label class="py-0 m-0 col-4 form-control-static">IP:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].ip }}</label>
          </div>
          <div *ngIf="showMore && audit[auditIndex].ttl">
            <label class="py-0 m-0 col-4 form-control-static">TTL:</label>
            <label class="py-0 m-0 col-7 form-control-static">{{ audit[auditIndex].ttl | date :'dd.MM.yyyy' }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button *ngIf="!showMore" type="button" class="btn btn-secondary" (click)="toggleDetail()">More</button>
        <button *ngIf="showMore" type="button" class="btn btn-secondary" (click)="toggleDetail()">Lesss</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
