<sysvisbo-navbar></sysvisbo-navbar>
<div *ngIf="visbocenter">
  <div class='container'>
  <h3>System: {{ visbocenter.name | uppercase }}</h3>
  <form>
    <div class="form-group row">
      <label for="Updated" class="col-4 col-md-3 col-form-label">Updated at:</label>
      <label class="col-8 col-form-label">{{ visbocenter.updatedAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
    </div>
  </form>
  <div class="btn-toolbar" style="">
    <button *ngIf="!showGroups" type="button" class="btn btn-sm" (click)="toggleUserGroup()">Show Groups</button>
    <button *ngIf="showGroups" type="button" class="btn btn-sm" (click)="toggleUserGroup()">Show Users</button>
  </div>
  <div *ngIf="!showGroups" >
    <div >
      <div class='row'>
        <div class='col'>
          <h5 class='panel-heading'>
              Visbo Center Users
          </h5>
        </div>
        <div *ngIf="hasSystemPerm(permSystem.ManagePerm)" class='col'>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#VcUserModalCreate">
            Add User
          </button>
        </div>
      </div>
      <div class='panel-body'>
        <table class='table table-hover'>
          <!--Table head-->
          <thead>
            <tr>
              <th>Nr.</th>
              <th (click)="sortUserTable(1)">e-mail</th>
              <th (click)="sortUserTable(2)">Group</th>
              <th *ngIf="hasSystemPerm(permSystem.ManagePerm)">Delete</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let member of vcUsers; let memberIndex=index"> <!-- class="danger"> -->
              <td>{{memberIndex+1}}</td>
              <td>{{member.email}}</td>
              <td>{{member.groupName}}</td>
              <td *ngIf="hasSystemPerm(permSystem.ManagePerm)">
                <button class="Detail" title="Remove User" (click)='helperRemoveUser(memberIndex)'
                data-toggle="modal" data-target="#VcUserRemove">&times;</button>
              </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="showGroups" >
    <div >
      <div class='row'>
        <div class='col'>
          <h5 class='panel-heading'>
              Visbo Center Groups
          </h5>
        </div>
        <div *ngIf="hasSystemPerm(permSystem.ManagePerm)" class='col'>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary float-right" (click)="initGroup(null)" data-toggle="modal" data-target="#VcGroupModalCreate">
            Add Group
          </button>
        </div>
      </div>
      <div class='panel-body'>
        <table class='table table-hover'>
          <!--Table head-->
          <thead>
            <tr>
              <th>Nr.</th>
              <th (click)="sortGroupTable(1)">Group</th>
              <th (click)="sortGroupTable(2)">Members</th>
              <th >Flag</th>
              <th *ngIf="hasSystemPerm(permSystem.ManagePerm)">Delete</th>
              <th>Info</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let member of vcGroups; let memberIndex=index">
              <td>{{memberIndex+1}}</td>
              <td>{{member.name}}</td>
              <td>{{member.users.length}}</td>
              <td *ngIf="member.global">Global</td>
              <td *ngIf="!member.global"></td>
              <td *ngIf="hasSystemPerm(permSystem.ManagePerm)">
                <button class="Detail" title="Remove Group" (click)='helperRemoveGroup(memberIndex)'
                data-toggle="modal" data-target="#VcGroupRemove">&times;</button>
              </td>
              <td>
                <button class="Detail" title="Detail of Group"
                 (click)='initGroup(member)' data-toggle="modal" data-target="#VcGroupModalCreate">i</button>
              </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add VC User -->
<div class="modal fade" id="VcUserModalCreate" tabindex="-1" role="dialog" aria-labelledby="VcUserModalCreateTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VcUserModalCenterTitle">Add a new User to the Visbo Center</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="newUserInvite" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email" class="col-form-label">Name:</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="newUserInvite.email" #email="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" autocomplete="email">
            <div *ngIf="f.submitted && !email.valid" class="help-block">E-mail address is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !group.valid }">
            <label for="group" class="col-form-label">Group:</label>
            <select class="form-control" name="group" [(ngModel)]="newUserInvite.groupName" #group="ngModel" required>
              <option></option>
              <option *ngFor="let groupItem of vcGroups">{{groupItem.name}}</option>
            </select>
            <div *ngIf="f.submitted && !group.valid" class="help-block">Group must be defined</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !inviteMessage.valid }">
            <label for="inviteMessage" class="col-form-label">Message:</label>
            <textarea class="form-control" name="inviteMessage" [(ngModel)]="newUserInvite.inviteMessage" #inviteMessage="ngModel" > </textarea>
          </div>
          <div *ngIf="f.submitted && !inviteMessage.valid" class="help-block">Error in Message</div>
          <div>FormValid {{f.form.valid}}, emailValid {{email.valid}}, groupValid {{group.valid}}, inviteMessageValid {{inviteMessage.valid}} </div>
          <div class="form-group">
            <button *ngIf="!(email.valid && group.valid)" type="submit" class="btn btn-primary" >Invite(insensitive)</button>
            <button *ngIf="email.valid && group.valid" type="submit" class="btn btn-primary" (click)="addNewVCUser()" data-dismiss="modal">Invite</button>
            <!-- <button *ngIf="f.form.valid" type="submit" class="btn btn-primary" (click)="addNewVCUser()" data-dismiss="modal">Invite</button> -->
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete User -->
<div class="modal fade" id="VcUserRemove" tabindex="-1" role="dialog" aria-labelledby="VcUserModalRemoveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="userIndex >= 0 && userIndex < vcUsers.length">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VcUserRemoveTitle">Remove User from Visbo Center</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label class="bg-warning">Do you really want to remove this User from Visbo Center? </label>
        </div>
        <form>
          <div class="form-group">
            <label for="VcName" class="col-form-label">Visbo Center:</label>
            <label class="col-8 form-control-static">{{ visbocenter.name }} </label>
          </div>
          <div class="form-group">
            <label class="col-form-label">User:</label>
            <label class="col-8 form-control-static">{{ vcUsers[userIndex].email }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Group:</label>
            <label class="col-8 form-control-static">{{ vcUsers[userIndex].groupName }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" (click)="removeVCUser(vcUsers[userIndex], visbocenter._id)" data-dismiss="modal">Remove</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add/Change VC Group -->
<div class="modal fade" id="VcGroupModalCreate" tabindex="-1" role="dialog" aria-labelledby="VcGroupModalCreateTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="actGroup.gid" class="modal-title" id="VcGroupModalCenterTitle">Modify a Group in the Visbo Center</h5>
        <h5 *ngIf="!actGroup.gid" class="modal-title" id="VcGroupModalCenterTitle">Add a new Group to the Visbo Center</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="actGroup" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="groupName" class="col-form-label">Name:</label>
            <input type="text" class="form-control" name="groupName" [(ngModel)]="actGroup.groupName" #groupName="ngModel" required>
            <div *ngIf="f.submitted && !groupName.valid" class="help-block">Group Name is required</div>
          </div>
          <!-- VC Permissions -->
          <div>Define Visbo Center Permission</div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="perm1" name="checkedView" [(ngModel)]="actGroup.checkedView" #checkedView="ngModel">
              <label class="custom-control-label" for="perm1">View Visbo Center</label>
          </div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="perm2" name="checkedViewAudit" [(ngModel)]="actGroup.checkedViewAudit" #checkedViewAudit="ngModel" >
              <label class="custom-control-label" for="perm2">View Audit</label>
          </div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="perm3" name="checkedModify" [(ngModel)]="actGroup.checkedModify" #checkedModify="ngModel" >
              <label class="custom-control-label" for="perm3">Modify Visbo Center</label>
          </div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="perm4" name="checkedCreateVP" [(ngModel)]="actGroup.checkedCreateVP" #checkedCreateVP="ngModel" >
              <label class="custom-control-label" for="perm4">Create Visbo Project</label>
          </div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="perm5" name="checkedManagePerm" [(ngModel)]="actGroup.checkedManagePerm" #checkedManagePerm="ngModel" >
              <label class="custom-control-label" for="perm5">Manage Permissions, Users and Groups</label>
          </div>
          <br>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="global" name="checkGlobal" [(ngModel)]="actGroup.checkGlobal" #checkGlobal="ngModel" >
              <label class="custom-control-label" for="global">Group has Access to all Visbo Projects</label>
          </div>
          <div *ngIf="actGroup.checkGlobal" >
          <!-- VP Permissions -->
            <div>Define Visbo Project Permission</div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP1" name="checkedVPView" [(ngModel)]="actGroup.checkedVPView" #checkedVPView="ngModel">
                <label class="custom-control-label" for="permVP1">View Visbo Project</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP2" name="checkedVPViewAudit" [(ngModel)]="actGroup.checkedVPViewAudit" #checkedVPViewAudit="ngModel" >
                <label class="custom-control-label" for="permVP2">View Project Audit</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP3" name="checkedVPModify" [(ngModel)]="actGroup.checkedVPModify" #checkedVPModify="ngModel" >
                <label class="custom-control-label" for="permVP3">Modify Visbo Project</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP4" name="checkedVPCreateVPV" [(ngModel)]="actGroup.checkedVPCreateVPV" #checkedVPCreateVPV="ngModel" >
                <label class="custom-control-label" for="permVP4">Create Visbo Project Version</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP5" name="checkedVPManagePerm" [(ngModel)]="actGroup.checkedVPManagePerm" #checkedVPManagePerm="ngModel" >
                <label class="custom-control-label" for="permVP5">Manage Permissions, Users and Groups</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP6" name="checkedVPDelete" [(ngModel)]="actGroup.checkedVPDelete" #checkedVPDelete="ngModel" >
                <label class="custom-control-label" for="permVP6">Delete Visbo Project</label>
            </div>
          </div>

          <div class="form-group">
            <button *ngIf="!(f.form.valid && hasSystemPerm(permSystem.ManagePerm))" type="submit" class="btn btn-primary disabled" >{{this.actGroup.confirm}}</button>
            <button *ngIf="(f.form.valid && hasSystemPerm(permSystem.ManagePerm))" type="submit" class="btn btn-primary" (click)="addModifyVCGroup()" data-dismiss="modal">{{this.actGroup.confirm}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete Group -->
<div class="modal fade" id="VcGroupRemove" tabindex="-1" role="dialog" aria-labelledby="VcGroupModalRemoveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="groupIndex >= 0 && groupIndex < vcGroups.length">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VcUserRemoveTitle">Remove Group from Visbo Center</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label class="bg-warning">Do you really want to remove this Group from Visbo Center? </label>
        </div>
        <form>
          <div class="form-group">
            <label for="VcName" class="col-form-label">Visbo Center:</label>
            <label class="col-8 form-control-static">{{ visbocenter.name }} </label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Group:</label>
            <label class="col-8 form-control-static">{{ vcGroups[groupIndex].name }}</label>
          </div>
          <div class="form-group">
            <label class="col-form-label">Members:</label>
            <label class="col-8 form-control-static">{{ vcGroups[groupIndex].users.length }}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" (click)="removeVCGroup(vcGroups[groupIndex])" data-dismiss="modal">Remove</button>
      </div>
    </div>
  </div>
</div>
