<app-usernavbar></app-usernavbar>

<div  *ngIf="vpActive" class='well'>
  <div class='row'>
    <div class='col'>
      <h2>
        {{ 'vpViewDelivery.title' | translate }}: <a (click)="gotoVP(vpActive)">{{vpActive.name}}</a>
        <span *ngIf="dropDownIndex > 0" class="ml-1"> ({{dropDown[dropDownIndex]}})</span>
        <span *ngIf="dropDown.length > 1" class="dropdown" class="ml-2">
          <a class="dropdown-toggle" data-toggle="dropdown" style=" !important"></a>
          <div class="dropdown-menu">
            <a *ngFor="let item of dropDown" class="dropdown-item" (click)="switchVariant(item)">{{ item }}</a>
          </div>
        </span>
      </h2>
      <h5 *ngIf="vpActive">{{ 'vpViewDelivery.lbl.vc' | translate }}:
        <a (click)="gotoVC(vpActive)">{{ vpActive.vc.name }}</a>
      </h5>
    </div>
  </div>
  <div *ngIf="vpvActive" class='well'>
    <div class="row">
      <h4 class="col-6 text-dark">
        <div class="d-none d-lg-block">{{ 'vpViewDelivery.titleVersion' | translate }}: {{ vpvActive.timestamp | date :'dd.MM.yyyy'}}</div>
        <div class="d-block d-lg-none">V.: {{ vpvActive.timestamp | date :'dd.MM'}}</div>
      </h4>
      <div class="col-6">
        <div class="row">
          <span style="font-size: 2.2em" class="mx-1 fas fa-caret-square-left" title="Previous Period before {{scrollRefDate | date :'dd.MM'}}" (click)='getPrevVersion()'></span>
          <select class="col-4 form-control" name="refDateInterval" [(ngModel)]="refDateInterval">
            <option value="day">{{ 'vpViewDelivery.lbl.day' | translate }}</option>
            <option value="week">{{ 'vpViewDelivery.lbl.week' | translate }}</option>
            <option value="month">{{ 'vpViewDelivery.lbl.month' | translate }}</option>
            <option value="quarter">{{ 'vpViewDelivery.lbl.quarter' | translate }}</option>
          </select>
          <span style="font-size: 2.2em" class="mx-1 fas fa-caret-square-right" title="Next Period after {{scrollRefDate | date :'dd.MM'}}" (click)='getNextVersion()'></span>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div *ngIf="vpvActive">
  <app-comp-viewdelivery [vpvActive]="vpvActive" [combinedPerm]="combinedPerm"></app-comp-viewdelivery>
</div>
