<visbo-navbar></visbo-navbar>
<div class='well'>
  <div class='row'>
    <div class='col'>
      <h2 *ngIf="!vpActive">
        Project Key Metrics
      </h2>
      <h2 *ngIf="vpActive">
        Deliveries for: <a (click)="gotoVP(vpActive)">{{vpActive.name}}</a>
      </h2>
      <h5 *ngIf="vpActive">Visbo Center:
        <a (click)="gotoVC(vpActive)">{{ vpActive.vc.name }}</a>
      </h5>
    </div>
  </div>
  <div *ngIf="hasVPPerm(permVP.ViewAudit) && vpvActive && vpvDelivery">
    <div class='container'>
      <div class="row">
        <h3 class="col-6 pl-0">
          <div class="d-none d-lg-block">Version of: {{ vpvActive.timestamp | date :'dd.MM.yyyy'}}</div>
          <div class="d-block d-lg-none">V.: {{ vpvActive.timestamp | date :'dd.MM'}}</div>
        </h3>
        <div class="col-4">
          <div class="row">
            <span style="font-size: 2.2em" class="mx-1 fas fa-caret-square-left" title="Previous Period before {{scrollRefDate | date :'dd.MM'}}" (click)='getRefDateVersions(-1)'></span>
            <select class="col-4 form-control d-none d-md-block" name="refDateInterval" [(ngModel)]="refDateInterval">
              <option>day</option>
              <option>week</option>
              <option>month</option>
              <option>quarter</option>
            </select>
            <span style="font-size: 2.2em" class="mx-1 fas fa-caret-square-right" title="Next Period after {{scrollRefDate | date :'dd.MM'}}" (click)='getRefDateVersions(1)'></span>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <!-- <i class="fas fa-info-circle fa-lg mx-2 mt-2 text-secondary" title="Show Legend Sortcuts" data-toggle="modal" data-target="#VpvLegend"></i> -->
    <div class="row">
      <!-- <div class="col-2"></div> -->
      <div *ngIf="chart && graphPastDataPieChart.length > 1" class="col align-center" >
        <div>
          <app-pie-chart [elementID]="divPastPieChart" [graphData]="graphPastDataPieChart" [graphDataBefore]="graphBeforePastDataPieChart" [graphLegend]="graphPastPieLegend" [graphOptions]="graphPastOptionsPieChart" [parentThis]="parentThis"></app-pie-chart>
        </div>
      </div>
      <div *ngIf="chart && graphFutureDataPieChart.length > 1" class="col align-center" >
        <div>
          <app-pie-chart [elementID]="divFuturePieChart" [graphData]="graphFutureDataPieChart" [graphDataBefore]="graphBeforeFutureDataPieChart" [graphLegend]="graphFuturePieLegend" [graphOptions]="graphFutureOptionsPieChart" [parentThis]="parentThis"></app-pie-chart>
        </div>
      </div>
      <!-- <div class="col-2"></div> -->
    </div>


    <div class='panel-body'>
      <table class='table table-hover table-sortable'>
        <!--Table head-->
        <thead>
          <tr>
            <th class="d-none d-md-table-cell" (click)="sortDeliveryTable(2)">Phase</th>
            <th (click)="sortDeliveryTable(3)">Description</th>
            <th class="d-none d-lg-table-cell text-right" (click)="sortDeliveryTable(4)">End Date (planned)</th>
            <th class=" text-right" (click)="sortDeliveryTable(5)">Change (in weeks)</th>
            <th class="d-none d-md-table-cell text-right" (click)="sortDeliveryTable(6)">Done</th>
          </tr>
        </thead>
        <!--Table body-->
        <tbody>
          <tr *ngFor="let delivery of vpvDelivery">
            <td class="d-none d-md-table-cell">{{getFullName(delivery)}}</td>
            <td title="{{delivery.description}}">{{getShortText(delivery.description, 100)}}</td>
            <td *ngIf="inFuture(delivery.dateVPV)" class="d-none d-lg-table-cell text-right font-weight-bold">{{delivery.dateVPV | date :'dd.MM.yy'}}</td>
            <td *ngIf="!inFuture(delivery.dateVPV)" class="d-none d-lg-table-cell text-right">{{delivery.dateVPV | date :'dd.MM.yy'}}</td>

            <td *ngIf="delivery.changeDays <= 0" class="text-right text-success" title="{{delivery.datePFV | date :'dd.MM.yy'}} (baseline)">{{delivery.changeDays / 7 | number :'1.0-1'}}</td>
            <td *ngIf="delivery.changeDays > 0 && delivery.changeDays <= 31" class="text-right text-warning" title="{{delivery.datePFV | date :'dd.MM.yy'}} (baseline)">{{delivery.changeDays / 7 | number :'1.0-1'}}</td>
            <td *ngIf="delivery.changeDays > 31" class="text-right text-danger" title="{{delivery.datePFV | date :'dd.MM.yy'}} (baseline)">{{delivery.changeDays / 7 | number :'1.0-1'}}</td>

            <td *ngIf="(inFuture(delivery.dateVPV) || delivery.percentDone == 1)" class="d-none d-md-table-cell text-right">{{delivery.percentDone * 100 | number : '1.0-0'}} %</td>
            <td *ngIf="!(inFuture(delivery.dateVPV) || delivery.percentDone == 1)" class="d-none d-md-table-cell text-right bg-danger">{{delivery.percentDone * 100 | number : '1.0-0'}} %</td>
          </tr>
        </tbody>
        <!--Table body-->
      </table>
    </div>


  </div>
</div>

<!-- Modal Show Shortcut explanation -->
<div class="modal fade" id="VpvLegend" tabindex="-1" role="dialog" aria-labelledby="VpvDetailsTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Shortcut</th>
              <th>Explanation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PV</td>
              <td>Planned monthly cost Value, baseline</td>
            </tr>
            <tr>
              <td>AC</td>
              <td>Actual monthly Cost value, plan-to-date</td>
            </tr>
            <tr>
              <td>ETC</td>
              <td>Estimate To Complete, plan-to-date</td>
            </tr>
          </tbody>
        </table>
        <div class="form-group">
          <button class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
