<app-usernavbar></app-usernavbar>
<div class='well'>
  <div class="container">
    <div class='row'>
      <div class='col'>
        <h2 *ngIf="!vpActive">
          {{ 'vpv.title' | translate }}
        </h2>
        <h2 *ngIf="vpActive">
          {{ 'vpv.titleVP' | translate }}:
          <button class='panel-heading bg-white btn-white' (click)="gotoVPDetail(vpActive)">
            {{vpActive.name}}
          </button>
        </h2>
      </div>
      <div *ngIf="hasVPPerm(permVP.DeleteVP)" class='btn-group '>
        <button *ngIf="!deleted" class="btn btn-sm btn-secondary m-2" (click)="toggleVisboProjectVersions()">{{ 'vpv.btn.deleted' | translate }}</button>
        <button *ngIf="deleted" class="btn btn-sm btn-secondary m-2" (click)="toggleVisboProjectVersions()">{{ 'vpv.btn.undeleted' | translate }}</button>
      </div>
    </div>
  </div>

  <div class='panel-body'>
    <table class='table table-hover table-sortable'>
      <!--Table head-->
      <thead>
        <tr>
          <th class="d-none d-md-table-cell">{{ 'vpv.lbl.nr' | translate }}</th>
          <!-- <th>Name</th> -->
          <th (click)="sortVPVTable(1)">{{ 'vpv.lbl.timestamp' | translate }}</th>
          <th class="d-none d-md-table-cell">{{ 'vpv.lbl.status' | translate }}</th>
          <th (click)="sortVPVTable(2)" class="d-none d-md-table-cell">{{ 'vpv.lbl.endDate' | translate }}</th>
          <th *ngIf="hasVPPerm(permVP.ViewAudit)" (click)="sortVPVTable(3)">{{ 'vpv.lbl.trafficlight' | translate }}</th>
          <th (click)="sortVPVTable(5)" class="d-none d-md-table-cell">{{ 'vpv.lbl.variant' | translate }}</th>
          <!-- <th>Info</th> -->
        </tr>
      </thead>
      <!--Table body-->
      <tbody>
        <tr *ngFor="let vpv of visboprojectversions; let vpvIndex=index" (click)="gotoClickedRow(vpv)">
          <td class="d-none d-md-table-cell">{{vpvIndex+1}}</td>
          <td class="d-none d-md-table-cell">{{vpv.timestamp | date :'dd.MM.yyyy HH:mm'}}</td>
          <td class="d-none d-sm-table-cell d-md-none">{{vpv.timestamp | date :'dd.MM.yy'}}</td>
          <td class="d-none d-md-table-cell">{{vpv.status}}</td>
          <td class="d-none d-md-table-cell">{{vpv.endDate | date :'dd.MM.yy'}}</td>
          <td *ngIf="hasVPPerm(permVP.ViewAudit)">{{vpv.ampelStatus}}</td>
          <td class="d-none d-md-table-cell">{{vpv.variantName}}</td>
          <!-- <td>
            <button class="Detail" title="Detail of Visbo Project Version"
            (click)="gotoDetail(vpv)">i</button>
          </td> -->
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>
</div>
