<app-usernavbar></app-usernavbar>
<div class='well'>
  <div class="container">
    <div class='row'>
      <div class='col'>
        <h2 *ngIf="!vpActive">
          Project Versions
        </h2>
        <h2 *ngIf="vpActive">
          Project Versions in:
          <button class='panel-heading bg-white btn-white' (click)="gotoVPDetail(vpActive)">
            {{vpActive.name}}
          </button>
        </h2>
      </div>
      <div class='btn-group '>
        <button *ngIf="!deleted" class="btn btn-sm btn-secondary m-2" (click)="toggleVisboProjectVersions()">Show Deleted</button>
        <button *ngIf="deleted" class="btn btn-sm btn-secondary m-2" (click)="toggleVisboProjectVersions()">Show Existing</button>
      </div>
    </div>
  </div>

  <div class='panel-body'>
    <table class='table table-hover table-sortable'>
      <!--Table head-->
      <thead>
        <tr>
          <th class="d-none d-md-table-cell">Nr.</th>
          <!-- <th>Name</th> -->
          <th (click)="sortVPVTable(1)">Timestamp</th>
          <th class="d-none d-md-table-cell">Status</th>
          <th (click)="sortVPVTable(2)" class="d-none d-md-table-cell">End Date</th>
          <th (click)="sortVPVTable(3)">Ampel</th>
          <th (click)="sortVPVTable(4)">Budget</th>
          <th (click)="sortVPVTable(5)" class="d-none d-md-table-cell">Variant Name</th>
          <!-- <th>Info</th> -->
        </tr>
      </thead>
      <!--Table body-->
      <tbody>
        <tr *ngFor="let vpv of visboprojectversions; let vpvIndex=index" (click)="gotoClickedRow(vpv)">
          <td class="d-none d-md-table-cell">{{vpvIndex+1}}</td>
          <td class="d-none d-md-table-cell">{{vpv.timestamp | date :'dd.MM.yyyy HH:mm'}}</td>
          <td class="d-none d-sm-table-cell d-md-none">{{vpv.timestamp | date :'dd.MM.yy'}}</td>
          <td class="d-none d-md-table-cell">{{vpv.status}}</td>
          <td class="d-none d-md-table-cell">{{vpv.endDate | date :'dd.MM.yy'}}</td>
          <td>{{vpv.ampelStatus}}</td>
          <td>{{vpv.Erloes | number : '1.2-2'}}</td>
          <td class="d-none d-md-table-cell">{{vpv.variantName}}</td>
          <!-- <td>
            <button class="Detail" title="Detail of Visbo Project Version"
            (click)="gotoDetail(vpv)">i</button>
          </td> -->
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>
</div>
