<visbo-navbar></visbo-navbar>
<div class='well'>
  <div class="container">
    <div class='row'>
      <div class='col'>
        <h2 *ngIf="!vcActive">
          Projects
        </h2>
        <h2 *ngIf="vcActive">
          Projects in:
          <button class='panel-heading bg-white btn-white' (click)="gotoVCDetail(vcActive)">
            {{vcActive.name}}
          </button>
        </h2>
      </div>
      <div class='col-6 col-md-2 align-self-end' *ngIf="vcActive && hasVCPerm(permVC.CreateVP)">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-sm btn-primary align-self-end" data-toggle="modal" data-target="#VpModalCreate">
          New Visbo Project
        </button>
      </div>
    </div>
  </div>

  <div class='panel-body'>
    <table class='table table-hover table-sortable'>
      <!--Table head-->
      <thead>
        <tr>
          <th class="d-none d-md-table-cell">Nr.</th>
          <th (click)="sortVPTable(1)">Name</th>
          <th class="d-none d-md-table-cell" (click)="sortVPTable(2)">Modified</th>
          <th class="d-none d-md-table-cell" (click)="sortVPTable(4)"># Versions</th>
          <th class="d-none d-lg-table-cell" (click)="sortVPTable(3)">Visbo Center</th>
          <th>Info</th>
        </tr>
      </thead>
      <!--Table body-->
      <tbody>
        <tr *ngFor="let vp of visboprojects; let vpIndex=index" (click)="gotoClickedRow(vp)">
          <td class="d-none d-md-table-cell">{{vpIndex+1}}</td>
          <td>{{vp.name}}</td>
          <td class="d-none d-lg-table-cell">{{vp.updatedAt | date :'dd.MM.yyyy HH:mm'}}</td>
          <td class="d-none d-md-table-cell d-lg-none">{{vp.updatedAt | date :'dd.MM.yy'}}</td>
          <td class="d-none d-md-table-cell">{{vp.vpvCount}}</td>
          <td class="d-none d-lg-table-cell" *ngIf="vp.vc">{{vp.vc.name}}</td>
          <td class="d-none d-lg-table-cell" *ngIf="!vp.vc"> </td>
          <td>
            <button class="Detail" title="Detail of Visbo Project"
            (click)="gotoDetail(vp)">i</button>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>
</div>

<!-- Modal VP Create-->
<div class="modal fade" id="VpModalCreate" tabindex="-1" role="dialog" aria-labelledby="VpModalCreateTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VpModalCenterTitle">Create a new Visbo Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="vpName" class="col-form-label">Name:</label>
            <input type="text" class="form-control" #vpName>
          </div>
          <div class="form-group">
            <label class="col-form-label">Description:</label>
            <textarea class="form-control" #vpDescription></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addproject(vpName.value, vcActive._id, vpDescription.value); vpName.value=''; vpDescription.value='';" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
