<visbo-navbar></visbo-navbar>
<div class='well'>
  <div class='row'>
    <div class='col'>
      <h2 *ngIf="!vpActive">
        Project Key Metrics
      </h2>
      <h2 *ngIf="vpActive">
        Monthly Costs for: <a (click)="gotoVP(vpActive)">{{vpActive.name}}</a>
      </h2>
      <h5 *ngIf="vpActive">Visbo Center:
        <a (click)="gotoVC(vpActive)">{{ vpActive.vc.name }}</a>
      </h5>
    </div>
  </div>
  <div *ngIf="hasVPPerm(permVP.ViewAudit) && vpvActive && vpvCost">
    <div class='container-fluid'>
      <div class="d-flex flex-row justify-content-center">
        <h3 class="col-4">
          <div class="d-none d-lg-block">Version of: {{ vpvActive.timestamp | date :'dd.MM.yyyy'}}</div>
          <div class="d-block d-lg-none">Version of: {{ vpvActive.timestamp | date :'dd.MM'}}</div>
        </h3>
        <div class="col-4">
          <div class="row">
            <span style="font-size: 2em" class="mx-1 fas fa-caret-square-left" title="Previous Period" (click)='getRefDateVersions(-1)'></span>
            <select class="col-4 form-control d-none d-md-block" name="refDateInterval" [(ngModel)]="refDateInterval">
              <option>day</option>
              <option>week</option>
              <option>month</option>
              <option>quarter</option>
            </select>
            <span style="font-size: 2em" class="mx-1 fas fa-caret-square-right" title="Next Period" (click)='getRefDateVersions(1)'></span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        Total Cost {{vpvTotalCostBaseLine | number : '1.0-0'}} k€ Base Line vs {{vpvTotalCostCurrent | number : '1.0-0'}} k€ Plan
      </div>
    </div>

    <hr>
    <div *ngIf="chart && graphDataLineChart.length > 0" >
      <app-line-chart [graphData]="graphDataLineChart" [graphOptions]="graphOptionsLineChart" [parentThis]="parentThis"></app-line-chart>
    </div>
  </div>
</div>
