<div class="jumbotron" style="background-color: #ffffff;">
  <div style="float: right">
    <img src="assets/visbologo.svg">
  </div>
  <h2>{{title}}</h2>
  <div class="container">
      <alert></alert>
      <router-outlet></router-outlet>
  </div>
</div>
<div class="col-12 bg-light text-dark">
  Copyright 2018 © <a href="https://visbo.de/" class="text-secondary">Visbo GmbH</a>, Visbo Visual Board {{version}}
  <div class="row">
    <div class="col">
      <a href="mailto:support@visbo.de" >Support</a>
    </div>
    <div class="col">
      <a href="https://visbo.de/impressum">Impressum</a>
    </div>
    <div class="col">
      <a href="https://visbo.de/events">Events</a>
    </div>
</div>
</div>
<app-messages></app-messages>
