<app-usernavbar></app-usernavbar>
<div *ngIf="visboproject">
  <h3>{{ 'vpDetail.title' | translate }}: <a (click)="gotoVP(visboproject)">{{ visboproject.name | uppercase }}</a></h3>
  <h5>{{ 'vpDetail.titleVC' | translate }}:
    <a *ngIf="hasVCPerm(permVC.View)" (click)="gotoVCDetail(visboproject)">{{ visboproject.vc.name }}</a>
    <span *ngIf="!hasVCPerm(permVC.View)">{{ visboproject.vc.name }}</span>
  </h5>
  <form>
    <div class="form-group row">
      <label for="VPName" class="col-3 col-md-2 col-form-label">{{ 'vpDetail.lbl.name' | translate }} ({{ getVPType(visboproject.vpType) }}):</label>
      <input id="VPName" *ngIf="hasVPPerm(permVP.Modify)" type="text" name=vpName class="col-sm-8 form-control" [(ngModel)]="visboproject.name" placeholder="Name">
      <label id="VPName" *ngIf="!hasVPPerm(permVP.Modify)" class="col-8 form-control-static">{{ visboproject.name }} </label>
    </div>
    <div *ngIf="hasVPPerm(permVP.Modify) || visboproject.description" class="form-group row">
      <label for="VPDesc" class="col-3 col-md-2 col-form-label">{{ 'vpDetail.lbl.description' | translate }}:</label>
      <textarea id="VPDesc" *ngIf="hasVPPerm(permVP.Modify)" name=vpDescription class="col-8 form-control" [(ngModel)]="visboproject.description" placeholder="Type in your description"></textarea>
      <label id="VPDesc" *ngIf="!hasVPPerm(permVP.Modify)" class="col-8 form-control-static">{{ visboproject.description }} </label>
    </div>
    <div *ngIf="hasVPPerm(permVP.Modify + permVP.CreateVariant)" class="form-group row">
      <label for="vpVersion" class="col-3 col-md-2 col-form-label">{{ 'vpDetail.lbl.versions' | translate }}:</label>
      <label name=vpVersion class="col form-control-static col-form-label"><a (click)="gotoVPView(visboproject)">{{ visboproject.vpvCount }} {{ 'vpDetail.lbl.ofTotal' | translate }} {{ getVPVersionsTotal() }}</a></label>
    </div>
    <div class="form-group row d-none d-md-block">
      <label for="VPCreated" class="col-3 col-md-2 col-form-label">{{ 'vpDetail.lbl.createdUpdated' | translate }}:</label>
      <label id="VPCreated" class="col-4 form-control-static col-form-label">{{ visboproject.createdAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
      <label id="VPUpdated" class="col-4 form-control-static col-form-label">{{ visboproject.updatedAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
    </div>
    <div *ngIf="hasVPPerm(permVP.Modify) && (visboproject.customFieldString?.length > 0 || visboproject.customFieldDouble?.length > 0)">
      <div class="mb-1">
        {{ 'vpDetail.lbl.properties' | translate }}:
        <button id="expandPropertyID" class="btn-sm" title="{{ 'vpDetail.lbl.showProperties' | translate }}" (click)='expandProperties = !expandProperties'>
          <ng-container *ngTemplateOutlet="expand; context:{level: expandProperties} " ></ng-container>
        </button>
      </div>
      <div *ngIf="expandProperties">
        <div *ngFor="let entry of visboproject.customFieldString;" class="form-group row">
          <label for="customFieldStringID" class="col-3 col-md-2 col-form-label">{{ entry.localName }}:</label>
          <input id="customFieldStringID" type="text" class="col-8 form-control" name="{{ entry.name }}" [(ngModel)]="entry.value">
        </div>
        <div *ngFor="let entry of visboproject.customFieldDouble;" class="form-group row">
          <label for="customFieldDoubleID" class="col-3 col-md-2 col-form-label">{{ entry.localName }}:</label>
          <input id="customFieldDoubleID" type="number" class="col-8 form-control" name="{{ entry.name }}" [(ngModel)]="entry.value">
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="getVPPerm() != permVP.View">
    <div class="btn-toolbar" style ="">
      <button id="ViewAudit" *ngIf="hasVPPerm(permVP.ViewAudit)" type="button" class="btn btn-md btn-light mr-1" (click)="gotoVPAudit(visboproject)">{{ 'vpDetail.btn.viewAudit' | translate }}</button>
      <button id="ViewGroup" *ngIf="actView != 'Group'" type="button" class="btn btn-md btn-light mr-1" (click)="toggleView('Group')">{{ 'vpDetail.btn.viewGroups' | translate }}</button>
      <button id="ViewUser" *ngIf="actView != 'User'" type="button" class="btn btn-md btn-light mr-1" (click)="toggleView('User')">{{ 'vpDetail.btn.viewUsers' | translate }}</button>
      <button id="ViewRestrictUser" *ngIf="viewRestriction()" type="button" class="btn btn-md btn-light mr-1" (click)="gotoVPRestriction(visboproject)">{{ 'vpDetail.btn.viewRestriction' | translate }}</button>
      <button id="ViewVariant" *ngIf="actView != 'Variant' && hasVPPerm(permVP.Modify + permVP.CreateVariant)" type="button" class="btn btn-md btn-light mr-1" (click)="toggleView('Variant')">{{ 'vpDetail.btn.viewVariant' | translate }}</button>
      <button id="ViewLock" *ngIf="actView != 'Lock' && hasVPPerm(permVP.Modify) && visboproject.lock.length && hasVPPerm(permVP.Modify + permVP.CreateVariant)" type="button" class="btn btn-md btn-light mr-1" (click)="toggleView('Lock')">{{ 'vpDetail.btn.viewLock' | translate }}</button>
    </div>

    <div *ngIf="actView == 'User'" >
      <div >
        <div class='row'>
          <div class='col'>
            <h5 class='panel-heading mt-3'>
                {{ 'vpDetail.titleUsers' | translate }}
            </h5>
          </div>
          <div *ngIf="hasVPPerm(permVP.ManagePerm)" class='col'>
            <!-- Button trigger modal -->
            <button id="AddUser" type="button" class="my-1 btn btn-primary float-right" data-toggle="modal" data-target="#VpUserModalCreate">
              {{ 'vpDetail.btn.addUser' | translate }}
            </button>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead id="UserHead">
              <tr>
                <th>{{ 'vpDetail.lbl.nr' | translate }}</th>
                <th (click)="sortUserTable(1)">{{ 'vpDetail.lbl.email' | translate }}</th>
                <th (click)="sortUserTable(2)">{{ 'vpDetail.lbl.group' | translate }}</th>
                <th class="d-none d-md-table-cell">{{ 'vpDetail.lbl.type' | translate }}</th>
                <th *ngIf="!deleted && hasVPPerm(permVP.ManagePerm)">{{ 'vpDetail.lbl.delete' | translate }}</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody id="UserList">
              <tr *ngFor="let member of vgUsers; let memberIndex=index"> <!-- class="danger"> -->
                <td>{{memberIndex+1}}</td>
                <td id="ColUser" (click)='calcCombinedPerm(memberIndex)' data-toggle="modal" data-target="#VPUserDetail"><a>{{member.email}}</a></td>
                <td id="ColGroup" (click)="toggleView('Group')"><a>{{member.groupName}}</a></td>
                <td class="d-none d-md-table-cell">{{member.groupType == 'VP' ? '' : 'Global'}}</td>
                <td *ngIf="!deleted && hasVPPerm(permVP.ManagePerm) && member.groupType == 'VP'">
                  <button id="ColDeleteUser" class="Detail" title="{{ 'vpDetail.lbl.deleteUser' | translate }}" (click)='helperRemoveUser(memberIndex)'
                  data-toggle="modal" data-target="#VpUserRemove">&times;</button>
                </td>
                <td *ngIf="!(!deleted && hasVPPerm(permVP.ManagePerm) && member.groupType == 'VP')">
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="actView == 'Group'" >
      <div>
        <div class='row'>
          <div class='col'>
            <h5 class='panel-heading mt-3'>
                {{ 'vpDetail.titleGroups' | translate }}
            </h5>
          </div>
          <div *ngIf="hasVPPerm(permVP.ManagePerm)" class='col'>
            <!-- Button trigger modal -->
            <button id="AddGroup" type="button" class="btn btn-primary float-right" (click)="initGroup(null)" data-toggle="modal" data-target="#VpGroupModalCreate">
              {{ 'vpDetail.btn.addGroup' | translate }}
            </button>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead id="GroupHead">
              <tr>
                <th>{{ 'vpDetail.lbl.nr' | translate }}</th>
                <th (click)="sortGroupTable(1)">{{ 'vpDetail.lbl.group' | translate }}</th>
                <th (click)="sortGroupTable(2)">{{ 'vpDetail.lbl.members' | translate }}</th>
                <th class="d-none d-md-table-cell">{{ 'vpDetail.lbl.type' | translate }}</th>
                <th *ngIf="!deleted && hasVPPerm(permVP.ManagePerm)">{{ 'vpDetail.lbl.delete' | translate }}</th>
                <th>{{ 'vpDetail.lbl.info' | translate }}</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody id="GroupList">
              <tr *ngFor="let member of vgGroups; let memberIndex=index">
                <td>{{memberIndex+1}}</td>
                <td id="ColGroup" (click)='initGroup(member)' data-toggle="modal" data-target="#VpGroupModalCreate"><a>{{member.name}}</a></td>
                <td id="ColMembers" (click)="toggleView('User')"><a>{{member.users.length}}</a></td>
                <td id="ColGlobal" *ngIf="member.global" class="d-none d-md-table-cell">{{ 'vpDetail.lbl.global' | translate }}</td>
                <td id="ColGlobal" *ngIf="!member.global" class="d-none d-md-table-cell"></td>
                <td *ngIf="!deleted && hasVPPerm(permVP.ManagePerm) && member.groupType == 'VP'">
                  <button id="ColDeleteGroup" class="Detail" title="{{ 'vpDetail.msg.removeGroup' | translate }}" (click)='helperRemoveGroup(memberIndex)'
                  data-toggle="modal" data-target="#VpGroupRemove">&times;</button>
                </td>
                <td *ngIf="!(!deleted && hasVPPerm(permVP.ManagePerm) && member.groupType == 'VP')">
                </td>
                <td>
                  <button id="ColDetail" class="Detail" title="{{ 'vpDetail.msg.detailGroup' | translate }}"
                   (click)='initGroup(member)' data-toggle="modal" data-target="#VpGroupModalCreate">i</button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="actView == 'Variant'" >
      <div >
        <div class='row'>
          <div class='col'>
            <h5 class='panel-heading mt-3'>
                {{ 'vpDetail.titleVariants' | translate }}
            </h5>
          </div>
          <div *ngIf="hasVPPerm(permVP.Modify + permVP.CreateVariant)" class='col'>
            <!-- Button trigger modal -->
            <button id="AddVariant" type="button" class="my-1 btn btn-primary float-right" (click)='initVPVariant(undefined)' data-toggle="modal" data-target="#VpVariantModalCreate">
              {{ 'vpDetail.btn.addVariant' | translate }}
            </button>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead id="VariantHead">
              <tr>
                <th>{{ 'vpDetail.lbl.nr' | translate }}</th>
                <th (click)="sortVariantTable(1)">{{ 'vpDetail.lbl.variant' | translate }}</th>
                <th>{{ 'vpDetail.lbl.variantDescription' | translate }}</th>
                <th (click)="sortVariantTable(2)">{{ 'vpDetail.lbl.email' | translate }}</th>
                <th (click)="sortVariantTable(3)" class="d-none d-md-table-cell">{{ 'vpDetail.lbl.createdAt' | translate }}</th>
                <th (click)="sortVariantTable(4)" class="d-none d-md-table-cell">{{ 'vpDetail.lbl.versions' | translate }}</th>
                <th class="d-none d-md-table-cell">{{ 'vpDetail.lbl.lock' | translate }}</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody id="VariantList">
              <tr *ngFor="let variant of visboproject.variant; let variantIndex=index" (click)='initVPVariant(variant)' data-toggle="modal" data-target="#VpVariantModalChange">
                <td>{{variantIndex+1}}</td>
                <td id="ColName">{{variant.variantName}}</td>
                <td id="ColDescription">{{variant.description}}</td>
                <td id="ColEmail">{{variant.email}}</td>
                <td class="d-none d-md-table-cell" title="{{ variant.createdAt | date :'dd.MM.yyyy HH:mm:ss'}}">{{variant.createdAt | date :'dd.MM.yy'}}</td>
                <td class="d-none d-md-table-cell">{{variant.vpvCount}}</td>
                <td class="d-none d-md-table-cell">
                  <ng-container *ngTemplateOutlet="lockIndicator; context:{level: getLockStatus(variant)}"></ng-container>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
      </div>
    </div>

    <ng-template #lockIndicator let-level="level">
      <i class="fa" [ngClass]="{'fa-check-circle text-success': level == 1, 'fa-ban text-danger': level == 2}"></i>
    </ng-template>

    <!-- Show Locks -->
    <div *ngIf="actView == 'Lock'">
      <div class='row mt-2'>
        <div class='col'>
          <h5 class='panel-heading'>
            {{ 'vpDetail.titleProjectLocks' | translate }}
          </h5>
        </div>
      </div>
      <div class='panel-body'>
        <table class='table table-hover'>
          <!--Table head-->
          <thead>
            <tr>
              <th>{{ 'vpDetail.lbl.email' | translate }}</th>
              <th>{{ 'vpDetail.lbl.expires' | translate }}</th>
              <th>{{ 'vpDetail.lbl.variant' | translate }}</th>
              <th>{{ 'vpDetail.lbl.delete' | translate }}</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let lock of visboproject.lock; let lockIndex=index">
              <td>{{visboproject.lock[lockIndex].email}}</td>
              <td>{{visboproject.lock[lockIndex].expiresAt | date :'dd.MM HH:mm'}}</td>
              <td>{{visboproject.lock[lockIndex].variantName}}</td>
              <td *ngIf="!deleted && hasVPPerm(permVP.Modify)">
                <button class="btn btn-md" title="{{ 'vpDetail.lbl.unlock' | translate }}" (click)='unlockVP(lockIndex)'
                data-toggle="modal" data-target="#VpUnlock">&times;</button>
              </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button id="Save" *ngIf="!deleted && hasVPPerm(permVP.Modify)" (click)="save()" class="btn btn-primary mr-1">{{ 'vpDetail.btn.save' | translate }}</button>
    <button id="Save" *ngIf="deleted && hasVPPerm(permVP.DeleteVP)" (click)="save()" class="btn btn-primary mx-1">{{ 'vpDetail.btn.restore' | translate }}</button>
    <button (click)="goBack()">{{ 'vpDetail.btn.back' | translate }}</button>
    <button id="DeleteVP" *ngIf="!deleted && hasVPPerm(permVP.DeleteVP)" class="btn bg-warning mx-1" style="float: right" title="{{ 'vpDetail.titleDeleteProject' | translate }}" data-toggle="modal" data-target="#VpDelete">{{ 'vpDetail.btn.delete' | translate }}</button>
    <button id="DestroyVP" *ngIf="deleted && hasVPPerm(permVP.DeleteVP)" class="btn bg-danger text-white mx-1" style="float: right" title="{{ 'vpDetail.titleDeleteProject' | translate }}" data-toggle="modal" data-target="#VpDelete">{{ 'vpDetail.btn.destroy' | translate }}</button>
  </div>

  <!-- Modal Add VP User -->
  <div class="modal fade" id="VpUserModalCreate" tabindex="-1" role="dialog" aria-labelledby="VpUserModalCreateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpUserModalCenterTitle">{{ 'vpDetail.titleAddUser' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="newUserInvite" #f1="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !email.valid }">
              <label for="email" class="col-form-label">{{ 'vpDetail.lbl.email' | translate }}:</label>
              <input id="AddUserName" type="email" class="form-control" name="email" [(ngModel)]="newUserInvite.email" #email="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" autocomplete="email">
              <div *ngIf="f1.submitted && !email.valid" class="help-block">{{ 'vpDetail.msg.emailRequired' | translate }}</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !group.valid }">
              <label for="group" class="col-form-label">{{ 'vpDetail.lbl.group' | translate }}:</label>
              <select id="AddUserGroupName" class="form-control" name="group" [(ngModel)]="newUserInvite.groupName" #group="ngModel" required>
                <option></option>
                <option *ngFor="let groupItem of vgGroupsInvite">{{groupItem.name}}</option>
              </select>
              <div *ngIf="f1.submitted && !group.valid" class="help-block">{{ 'vpDetail.msg.groupRequired' | translate }}</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !inviteMessage.valid }">
              <label for="inviteMessage" class="col-form-label">{{ 'vpDetail.lbl.message' | translate }}:</label>
              <textarea id="AddUserMessage" class="form-control" name="inviteMessage" [(ngModel)]="newUserInvite.inviteMessage" #inviteMessage="ngModel" > </textarea>
            </div>
            <div *ngIf="f1.submitted && !inviteMessage.valid" class="help-block">{{ 'vpDetail.msg.invalidMessage' | translate }}</div>
            <div class="modal-footer align-items-end">
              <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vpDetail.btn.cancel' | translate }}</button>
              <button id="AddUserConfirm" *ngIf="!(email.valid && group.valid)" type="submit" class="btn btn-primary mx-1" >{{ 'vpDetail.btn.invite' | translate }}</button>
              <button id="AddUserConfirm" *ngIf="email.valid && group.valid" type="submit" class="btn btn-primary mx-1" (click)="addNewVPUser()" data-dismiss="modal">{{ 'vpDetail.btn.invite' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete User -->
  <div class="modal fade" id="VpUserRemove" tabindex="-1" role="dialog" aria-labelledby="Remove User" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="userIndex >= 0 && userIndex < vgUsers.length">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpUserRemoveTitle">{{ 'vpDetail.titleRemoveUser' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">{{ 'vpDetail.msg.removeUserConfirm' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label class="col-form-label">{{ 'vpDetail.lbl.vp' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visboproject.name }} </label>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ 'vpDetail.lbl.user' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vgUsers[userIndex].email }}</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ 'vpDetail.lbl.group' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vgUsers[userIndex].groupName }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'vpDetail.btn.back' | translate }}</button>
          <button id="DeleteUserConfirm" type="button" class="btn btn-warning" (click)="removeVPUser(vgUsers[userIndex], visboproject._id)" data-dismiss="modal">{{ 'vpDetail.btn.delete' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Add/Change VP Group -->
  <div class="modal fade" id="VpGroupModalCreate" tabindex="-1" role="dialog" aria-labelledby="VpGroupModalCreateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" >
      <div *ngIf="actGroup" class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="confirm == 'Modify'" class="modal-title" id="VpGroupModalCenterTitle">{{ 'vpDetail.titleModifyGroup' | translate }}</h5>
          <h5 *ngIf="confirm == 'View'" class="modal-title" id="VpGroupModalCenterTitle">{{ 'vpDetail.titleViewGroup' | translate }}</h5>
          <h5 *ngIf="!actGroup._id" class="modal-title" id="VpGroupModalCenterTitle">{{ 'vpDetail.titleAddGroup' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="actGroup" #f2="ngForm" novalidate>
            <div *ngIf="actGroup.internal" class="form-group">
              <label for="name" class="col-form-label">{{ 'vpDetail.lbl.name' | translate }}:</label>
              <label class="col-form-label">{{actGroup.name}}</label>
            </div>
            <div *ngIf="!actGroup.internal" class="form-group" [ngClass]="{ 'has-error': f2.submitted && !groupName.valid }">
              <label for="groupName" class="col-form-label">{{ 'vpDetail.lbl.name' | translate }}:</label>
              <input id="AddGroupName" type="text" class="form-control" name="groupName" [(ngModel)]="actGroup.name" #groupName="ngModel" required>
              <div *ngIf="f2.submitted && !actGroup.name.trim()" class="help-block">{{ 'vpDetail.msg.groupNameRequired' | translate }}</div>
            </div>
            <!-- VP Permissions -->
            <div>{{ 'perm.titleVPPerm' | translate }}</div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP0" name="checkedVPViewRestricted" [(ngModel)]="actGroup.checkedVPViewRestricted" #checkedVPViewRestricted="ngModel">
                <label class="custom-control-label" for="permVP0">{{ 'perm.vpViewRestricted' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP1" name="checkedVPView" [(ngModel)]="actGroup.checkedVPView" #checkedVPView="ngModel">
                <label class="custom-control-label" for="permVP1">{{ 'perm.vpView' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP2" name="checkedVPViewAudit" [(ngModel)]="actGroup.checkedVPViewAudit" #checkedVPViewAudit="ngModel" >
                <label class="custom-control-label" for="permVP2">{{ 'perm.vpViewAudit' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP3" name="checkedVPModify" [(ngModel)]="actGroup.checkedVPModify" #checkedVPModify="ngModel" >
                <label class="custom-control-label" for="permVP3">{{ 'perm.vpModify' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP4" name="checkedCreateVariant" [(ngModel)]="actGroup.checkedCreateVariant" #checkedCreateVariant="ngModel" >
                <label class="custom-control-label" for="permVP4">{{ 'perm.vpCreateVariant' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP5" name="checkedVPManagePerm" [(ngModel)]="actGroup.checkedVPManagePerm" #checkedVPManagePerm="ngModel" >
                <label class="custom-control-label" for="permVP5">{{ 'perm.vpManagePerm' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP6" name="checkedVPDelete" [(ngModel)]="actGroup.checkedVPDelete" #checkedVPDelete="ngModel" >
                <label class="custom-control-label" for="permVP6">{{ 'perm.vpDelete' | translate }}</label>
            </div>

            <div *ngIf="helperUsersPerGroup(actGroup._id)" class="mt-2">
              <label class="form-control-static">{{ 'perm.lblGroupMembers' | translate }}</label>
              <ng-container class="row" *ngFor="let member of vgUsers; let memberIndex=index" >
                <div class="col-8 ml-3" *ngIf="member.groupId == actGroup._id">
                  <a (click)="activateUser(member)" data-dismiss="modal" data-toggle="modal" data-target="#VPUserDetail">{{ member.email }}</a>
                </div>
              </ng-container>
            </div>
            <div *ngIf="!helperUsersPerGroup(actGroup._id)" class="mt-2">
              <label class="form-control-static">{{ 'perm.lblNoGroupMembers' | translate }}</label>
            </div>
            <div class="modal-footer align-items-end">
              <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vpDetail.btn.back' | translate }}</button>
              <div *ngIf="hasVPPerm(permVP.ManagePerm) && !actGroup.global && !deleted" >
                <button id="AddGroupConfirm" *ngIf="!f2.form.valid" type="submit" class="btn btn-primary disabled mx-1" >{{this.confirm}}</button>
                <button id="AddGroupConfirm" *ngIf="f2.form.valid" type="submit" class="btn btn-primary mx-1" (click)="addModifyVPGroup()" data-dismiss="modal">{{this.confirm}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Delete Group -->
  <div class="modal fade" id="VpGroupRemove" tabindex="-1" role="dialog" aria-labelledby="VpGroupModalRemoveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="groupIndex >= 0 && groupIndex < vgGroups.length">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpUserRemoveTitle">{{ 'vpDetail.titleDeleteGroup' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">{{ 'vpDetail.msg.removeGroupConfirm' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="VcName" class="col-form-label">{{ 'vpDetail.lbl.vp' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visboproject.name }} </label>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ 'vpDetail.lbl.group' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vgGroups[groupIndex].name }}</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ 'vpDetail.lbl.members' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vgGroups[groupIndex].users.length }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'vpDetail.btn.back' | translate }}</button>
          <button id="DeleteGroupConfirm" type="button" class="btn btn-warning" (click)="removeVPGroup(vgGroups[groupIndex], visboproject._id)" data-dismiss="modal">{{ 'vpDetail.btn.delete' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete VP -->
  <div class="modal fade" id="VpDelete" tabindex="-1" role="dialog" aria-labelledby="Delete Project" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpDeleteTitle">{{ 'vpDetail.titleDeleteProject' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label *ngIf="!deleted" class="bg-warning">{{ 'vpDetail.msg.removeProjectConfirm' | translate }}</label>
            <label *ngIf="deleted" class="bg-danger text-white">{{ 'vpDetail.msg.destroyProjectConfirm' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="VpName" class="col-form-label">{{ 'vpDetail.lbl.vp' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visboproject.name }} </label>
            </div>
            <div class="form-group">
              <label for="VpDescription" class="col-form-label">{{ 'vpDetail.lbl.description' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visboproject.description }} </label>
            </div>
            <div class="form-group">
              <label for="VpVersions" class="col-form-label">{{ 'vpDetail.lbl.versions' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visboproject.vpvCount }} </label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'vpDetail.btn.back' | translate }}</button>
          <button id="DeleteVPConfirm" *ngIf="!deleted" type="button" class="btn btn-warning text-white" (click)="delete(visboproject)" data-dismiss="modal">{{ 'vpDetail.btn.delete' | translate }}</button>
          <button id="DeleteVPConfirm" *ngIf="deleted" type="button" class="btn btn-danger text-white" (click)="delete(visboproject)" data-dismiss="modal">{{ 'vpDetail.btn.destroy' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Show User Permission -->
  <div *ngIf="vgUsers && userIndex >= 0" class="modal fade" id="VPUserDetail" tabindex="-1" role="dialog" aria-labelledby="VPUserDetailTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VPUserDetailTitle">{{ 'vpDetail.titlePermUser' | translate:{'name': vgUsers[userIndex].email} }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- VP Permissions -->
          <div>{{ 'perm.titleVPPerm' | translate }}</div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.ViewRestricted)" type="checkbox" checked disabled class="custom-control-input" id="permVP0" name="checkedViewRestricted" >
            <input *ngIf="!hasUserVPPerm(permVP.ViewRestricted)" type="checkbox" disabled class="custom-control-input" id="permVP0" name="checkedViewRestricted" >
            <label class="custom-control-label" for="permVP1">{{ 'perm.vpViewRestricted' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.View)" type="checkbox" checked disabled class="custom-control-input" id="permVP1" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.View)" type="checkbox" disabled class="custom-control-input" id="permVP1" name="checkedView" >
            <label class="custom-control-label" for="permVP1">{{ 'perm.vpView' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.ViewAudit)" type="checkbox" checked disabled class="custom-control-input" id="permVP2" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.ViewAudit)" type="checkbox" disabled class="custom-control-input" id="permVP2" name="checkedView" >
            <label class="custom-control-label" for="permVP2">{{ 'perm.vpViewAudit' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.Modify)" type="checkbox" checked disabled class="custom-control-input" id="permVP3" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.Modify)" type="checkbox" disabled class="custom-control-input" id="permVP3" name="checkedView" >
            <label class="custom-control-label" for="permVP3">{{ 'perm.vpModify' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.CreateVariant)" type="checkbox" checked disabled class="custom-control-input" id="permVP4" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.CreateVariant)" type="checkbox" disabled class="custom-control-input" id="permVP4" name="checkedView" >
            <label class="custom-control-label" for="permVP4">{{ 'perm.vpCreateVariant' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.ManagePerm)" type="checkbox" checked disabled class="custom-control-input" id="permVP5" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.ManagePerm)" type="checkbox" disabled class="custom-control-input" id="permVP5" name="checkedView" >
            <label class="custom-control-label" for="permVP5">{{ 'perm.vpManagePerm' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.DeleteVP)" type="checkbox" checked disabled class="custom-control-input" id="permVP6" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.DeleteVP)" type="checkbox" disabled class="custom-control-input" id="permVP6" name="checkedView" >
            <label class="custom-control-label" for="permVP6">{{ 'perm.vpDelete' | translate }}</label>
          </div>
          <label class="form-control-static mt-2">{{ 'perm.lblGroupMembership' | translate }}</label>
          <ng-container class="row" *ngFor="let member of vgUsers; let memberIndex=index" >
            <div class="col-8 ml-3" *ngIf="member.email == vgUsers[userIndex].email">
              <a (click)="activateGroup(member)" data-dismiss="modal" data-toggle="modal" data-target="#VpGroupModalCreate">{{ member.groupName }}</a>
            </div>
          </ng-container>

          <div class="modal-footer align-items-end">
            <button class="btn btn-primary" data-dismiss="modal">{{ 'vpDetail.btn.back' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Add VP Variant -->
  <div class="modal fade" id="VpVariantModalCreate" tabindex="-1" role="dialog" aria-labelledby="VpVariantModalCreateTitle" aria-hidden="true">
    <div *ngIf="newVariant" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpVariantModalCreateTitle">{{ 'vpDetail.titleAddVariant' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="newVariant" #f3="ngForm" novalidate>
            <div class="form-group">
              <label for="NewVariantName" class="col-form-label">{{ 'vpDetail.lbl.variant' | translate }}:</label>
              <input id="NewVariantName" type="text" class="form-control" name="variantName" [(ngModel)]="newVariant.variantName" #variantName="ngModel" required>
              <div *ngIf="f3.submitted && !variantName.valid" class="help-block">{{ 'vpDetail.msg.variantRequired' | translate }}</div>
            </div>
            <div class="form-group">
              <label for="NewVariantDesc" class="col-form-label">{{ 'vpDetail.lbl.description' | translate }}:</label>
              <textarea id="NewVariantDesc" name=variantDesc class="form-control" name="description" [(ngModel)]="newVariant.description" #description="ngModel"></textarea>
            </div>
            <div class="modal-footer align-items-end">
              <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vpDetail.btn.cancel' | translate }}</button>
              <!-- <button id="AddVariantConfirm"  type="submit" class="btn btn-primary mx-1" (click)="addNewVPVariant()" data-dismiss="modal">{{ 'vpDetail.btn.createVariant' | translate }}</button> -->
              <button id="AddVariantConfirm" *ngIf="!variantName.valid" type="submit" class="btn btn-primary mx-1" >{{ 'vpDetail.btn.createVariant' | translate }}</button>
              <button id="AddVariantConfirm" *ngIf="variantName.valid"  type="submit" class="btn btn-primary mx-1" (click)="addNewVPVariant()" data-dismiss="modal">{{ 'vpDetail.btn.createVariant' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Change VP Variant -->
  <div class="modal fade" id="VpVariantModalChange" tabindex="-1" role="dialog" aria-labelledby="VpVariantModalChangeTitle" aria-hidden="true">
    <div *ngIf="newVariant" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpVariantModalChangeTitle">{{ 'vpDetail.titleChangeVariant' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="newVariant">
            <div class="form-group">
              <label for="ChangeVariantName" class="col-form-label">{{ 'vpDetail.lbl.variant' | translate }}:</label>
              <label id="ChangeVariantName" class="form-control">{{ newVariant.variantName }}</label>
            </div>
            <div class="form-group">
              <label for="ChangeVariantDesc" class="col-form-label">{{ 'vpDetail.lbl.description' | translate }}:</label>
              <textarea id="ChangeVariantDesc" name=variantDesc class="form-control" name="description" [(ngModel)]="newVariant.description" #description="ngModel"></textarea>
            </div>
            <div class="modal-footer align-items-end">
              <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vpDetail.btn.cancel' | translate }}</button>

              <button  *ngIf="canDeleteVariant(newVariant)" id="ColDeleteVariant" class="btn btn-warning mx-1"
                title="{{ 'vpDetail.lbl.deleteVariant' | translate }}" data-dismiss="modal" data-toggle="modal" data-target="#VpVariantRemove">
                {{ 'vpDetail.btn.delete' | translate }}
              </button>

              <button id="ChangeVariantConfirm" type="submit" class="btn btn-primary mx-1" (click)="changeVPVariant()" data-dismiss="modal">{{ 'vpDetail.btn.changeVariant' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete Variant -->
  <div class="modal fade" id="VpVariantRemove" tabindex="-1" role="dialog" aria-labelledby="Remove Variant" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="newVariant">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpVariantRemoveTitle">{{ 'vpDetail.titleRemoveVariant' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">{{ 'vpDetail.msg.removeVariantConfirm' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label class="col-sm-4 col-form-label">{{ 'vpDetail.lbl.vp' | translate }}:</label>
              <label class="col-sm-8 form-control-static">{{ visboproject.name }} </label>
            </div>
            <div class="form-group">
              <label class="col-sm-4 col-form-label">{{ 'vpDetail.lbl.variant' | translate }}:</label>
              <label class="col-sm-8 form-control-static">{{ newVariant.variantName }}</label>
            </div>
            <div class="form-group">
              <label class="col-sm-4 col-form-label">{{ 'vpDetail.lbl.description' | translate }}:</label>
              <label class="col-sm-8 form-control-static">{{ newVariant.description }}</label>
            </div>
            <div class="form-group">
              <label class="col-sm-4 col-form-label">{{ 'vpDetail.lbl.user' | translate }}:</label>
              <label class="col-sm-8 form-control-static">{{ newVariant.email }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'vpDetail.btn.back' | translate }}</button>
          <button id="DeleteVariantConfirm" type="button" class="btn btn-warning" (click)="removeVariant(newVariant, visboproject)" data-dismiss="modal">{{ 'vpDetail.btn.delete' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #expand let-level="level">
  <i class="fas" [ngClass]="{'fa-chevron-down': level == false, 'fa-chevron-up': level == true}"></i>
</ng-template>
