<visbo-navbar></visbo-navbar>
<div *ngIf="visboproject">
  <div class='container'>
    <h3>Project: <a (click)="gotoVPList(visboproject)">{{ visboproject.name | uppercase }}</a></h3>
    <h5>Visbo Center:
      <a (click)="gotoVCDetail(visboproject)">{{ visboproject.vc.name }}</a>
    </h5>
    <form>
      <div class="form-group row">
        <label for="vpName" class="col-4 col-md-3 col-form-label">Name:</label>
        <input *ngIf="hasVPPerm(permVP.Modify)" type="text" name=vpName class="col-sm-8 form-control" [(ngModel)]="visboproject.name" placeholder="Name">
        <label *ngIf="!hasVPPerm(permVP.Modify)" class="col-8 form-control-static">{{ visboproject.name }} </label>
      </div>
      <div class="form-group row">
        <label for="vpDescription" class="col-4 col-md-3 col-form-label">Description:</label>
        <textarea *ngIf="hasVPPerm(permVP.Modify)" name=vpDescription class="col-8 form-control" [(ngModel)]="visboproject.description" placeholder="Type in your description"></textarea>
        <label *ngIf="!hasVPPerm(permVP.Modify)" class="col-8 form-control-static">{{ visboproject.description }} </label>
      </div>
      <div class="form-group row">
        <label for="vpType" class="col-4 col-md-3 col-form-label">Type:</label>
        <label name=vpType class="col form-control-static col-form-label">{{ getVPType(visboproject.vpType) }} </label>
      </div>
      <div class="form-group row">
        <label for="Created" class="col-4 col-md-3 col-form-label">Created / Updated at:</label>
        <label class="col form-control-static col-form-label">{{ visboproject.createdAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
        <label class="col form-control-static col-form-label">{{ visboproject.updatedAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
      </div>
    </form>
    <div *ngIf="getVPPerm() != permVP.View">
      <div class="btn-toolbar" style="">
        <button *ngIf="hasVPPerm(permVP.ViewAudit)" type="button" class="btn btn-sm" (click)="gotoVPAudit(visboproject)">View Audit</button>
        <button *ngIf="!showGroups" type="button" class="btn btn-sm" (click)="toggleUserGroup()">Show Groups</button>
        <button *ngIf="showGroups" type="button" class="btn btn-sm" (click)="toggleUserGroup()">Show Users</button>
      </div>

      <div *ngIf="!showGroups" >
        <div >
          <div class='row'>
            <div class='col'>
              <h5 class='panel-heading'>
                  Visbo Project Users
              </h5>
            </div>
            <div *ngIf="hasVPPerm(permVP.ManagePerm)" class='col'>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#VpUserModalCreate">
                Add User
              </button>
            </div>
          </div>
          <div class='panel-body'>
            <table class='table table-hover'>
              <!--Table head-->
              <thead>
                <tr>
                  <th>Nr.</th>
                  <th (click)="sortUserTable(1)">e-mail</th>
                  <th (click)="sortUserTable(2)">Group</th>
                  <th>Type</th>
                  <th *ngIf="!deleted && hasVPPerm(permVP.ManagePerm)">Delete</th>
                </tr>
              </thead>
              <!--Table body-->
              <tbody>
                <tr *ngFor="let member of vgUsers; let memberIndex=index"> <!-- class="danger"> -->
                  <td>{{memberIndex+1}}</td>
                  <td>{{member.email}}</td>
                  <td>{{member.groupName}}</td>
                  <td>{{member.groupType == 'VP' ? '' : 'Global'}}</td>
                  <td *ngIf="!deleted && hasVPPerm(permVP.ManagePerm) && member.groupType == 'VP'">
                    <button class="btn btn-sm" title="Remove User" (click)='helperRemoveUser(memberIndex)'
                    data-toggle="modal" data-target="#VpUserRemove">&times;</button>
                  </td>
                  <td *ngIf="!(!deleted && hasVPPerm(permVP.ManagePerm) && member.groupType == 'VP')">
                  </td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="showGroups" >
        <div>
          <div class='row'>
            <div class='col'>
              <h5 class='panel-heading'>
                  Visbo Project Groups
              </h5>
            </div>
            <div *ngIf="hasVPPerm(permVP.ManagePerm)" class='col'>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary float-right" (click)="initGroup(null)" data-toggle="modal" data-target="#VpGroupModalCreate">
                Add Group
              </button>
            </div>
          </div>
          <div class='panel-body'>
            <table class='table table-hover'>
              <!--Table head-->
              <thead>
                <tr>
                  <th>Nr.</th>
                  <th (click)="sortGroupTable(1)">Group</th>
                  <th (click)="sortGroupTable(2)">Members</th>
                  <th >Flag</th>
                  <th *ngIf="!deleted && hasVPPerm(permVP.ManagePerm)">Delete</th>
                  <th>Info</th>
                </tr>
              </thead>
              <!--Table body-->
              <tbody>
                <tr *ngFor="let member of vgGroups; let memberIndex=index">
                  <td>{{memberIndex+1}}</td>
                  <td (click)='initGroup(member)' data-toggle="modal" data-target="#VpGroupModalCreate">{{member.name}}</td>
                  <td>{{member.users.length}}</td>
                  <td *ngIf="member.global">Global</td>
                  <td *ngIf="!member.global"></td>
                  <td *ngIf="!deleted && hasVPPerm(permVP.ManagePerm) && member.groupType == 'VP' && member.internal == false">
                    <button class="btn btn-sm" title="Remove Group" (click)='helperRemoveGroup(memberIndex)'
                    data-toggle="modal" data-target="#VpGroupRemove">&times;</button>
                  </td>
                  <td *ngIf="!(!deleted && hasVPPerm(permVP.ManagePerm) && member.groupType == 'VP' && member.internal == false)">
                  </td>
                  <td>
                    <button class="Detail" title="Detail of Group"
                     (click)='initGroup(member)' data-toggle="modal" data-target="#VpGroupModalCreate">i</button>
                  </td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
          </div>
        </div>
      </div>

      <!-- Show Locks -->
      <div *ngIf="visboproject.lock.length >0">
        <div class='row'>
          <div class='col'>
            <h5 class='panel-heading'>
                Visbo Project Locks
            </h5>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead>
              <tr>
                <th>User</th>
                <th>Expires</th>
                <th>Variant</th>
                <th>Delete</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody>
              <tr *ngFor="let lock of visboproject.lock; let lockIndex=index">
                <td>{{visboproject.lock[lockIndex].email}}</td>
                <td>{{visboproject.lock[lockIndex].expiresAt | date :'dd.MM HH:mm'}}</td>
                <td>{{visboproject.lock[lockIndex].variantName}}</td>
                <td *ngIf="!deleted && hasVPPerm(permVP.Modify)">
                  <button class="btn btn-sm" title="Unlock" (click)='unlockVP(lockIndex)'
                  data-toggle="modal" data-target="#VpUnlock">&times;</button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
      </div>
    </div>
    <div>
      <button *ngIf="!deleted && hasVPPerm(permVP.Modify)" (click)="save()" class="btn btn-primary">save</button>
      <button *ngIf="deleted && hasVPPerm(permVP.DeleteVP)" (click)="save()" class="btn btn-primary">Restore</button>
      <button (click)="goBack()">go back</button>
      <button *ngIf="!deleted && hasVPPerm(permVP.DeleteVP)" class="bg-warning" style="float: right" title="Delete Visbo Project" data-toggle="modal" data-target="#VpDelete">
        Delete!
      </button>
      <button *ngIf="deleted && hasVPPerm(permVP.DeleteVP)" class="bg-danger text-white" style="float: right" title="Destroy Visbo Project" data-toggle="modal" data-target="#VpDelete">
        Destroy!
      </button>
    </div>
  </div>

  <!-- Modal Add VP User -->
  <div class="modal fade" id="VpUserModalCreate" tabindex="-1" role="dialog" aria-labelledby="VpUserModalCreateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpUserModalCenterTitle">Add a new User to the Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="newUserInvite" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <label for="email" class="col-form-label">Name:</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="newUserInvite.email" #email="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" autocomplete="email">
              <div *ngIf="f.submitted && !email.valid" class="help-block">E-Mail address is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !group.valid }">
              <label for="group" class="col-form-label">Group:</label>
              <select class="form-control" name="group" [(ngModel)]="newUserInvite.groupName" #group="ngModel" required>
                <option></option>
                <option *ngFor="let groupItem of vgGroupsInvite">{{groupItem.name}}</option>
              </select>
              <div *ngIf="f.submitted && !group.valid" class="help-block">Group must be defined</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !inviteMessage.valid }">
              <label for="inviteMessage" class="col-form-label">Message:</label>
              <textarea class="form-control" name="inviteMessage" [(ngModel)]="newUserInvite.inviteMessage" #inviteMessage="ngModel" > </textarea>
            </div>
            <div *ngIf="f.submitted && !inviteMessage.valid" class="help-block">Error in Message</div>
            <div class="form-group">
              <button *ngIf="!(email.valid && group.valid)" type="submit" class="btn btn-primary" >Invite</button>
              <button *ngIf="email.valid && group.valid" type="submit" class="btn btn-primary" (click)="addNewVPUser()" data-dismiss="modal">Invite</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete User -->
  <div class="modal fade" id="VpUserRemove" tabindex="-1" role="dialog" aria-labelledby="Remove User" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="userIndex >= 0 && userIndex < vgUsers.length">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpUserRemoveTitle">Remove User from Project Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">Do you really want to remove this User from the Project Group? </label>
          </div>
          <form>
            <div class="form-group">
              <label for="VpName" class="col-form-label">Project:</label>
              <label class="col-8 form-control-static">{{ visboproject.name }} </label>
            </div>
            <div class="form-group">
              <label class="col-form-label">User:</label>
              <label class="col-8 form-control-static">{{ vgUsers[userIndex].email }}</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">Group:</label>
              <label class="col-8 form-control-static">{{ vgUsers[userIndex].groupName }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" (click)="removeVPUser(vgUsers[userIndex], visboproject._id)" data-dismiss="modal">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Add/Change VP Group -->
  <div class="modal fade" id="VpGroupModalCreate" tabindex="-1" role="dialog" aria-labelledby="VpGroupModalCreateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="actGroup.confirm == 'Modify'" class="modal-title" id="VpGroupModalCenterTitle">Modify a Group in the Visbo Project</h5>
          <h5 *ngIf="actGroup.confirm == 'View'" class="modal-title" id="VpGroupModalCenterTitle">View a Group in the Visbo Project</h5>
          <h5 *ngIf="!actGroup.gid" class="modal-title" id="VpGroupModalCenterTitle">Add a new Group to the Visbo Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="actGroup" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <label for="groupName" class="col-form-label">Name:</label>
              <input *ngIf="!actGroup.internal" type="text" class="form-control" name="groupName" [(ngModel)]="actGroup.groupName" #groupName="ngModel" required>
              <label *ngIf="actGroup.internal" class="col-form-label">{{actGroup.groupName}}</label>
              <div *ngIf="f.submitted && !groupName.valid" class="help-block">Group Name is required</div>
            </div>
            <!-- VP Permissions -->
            <div>Define Visbo Project Permission</div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP1" name="checkedVPView" [(ngModel)]="actGroup.checkedVPView" #checkedVPView="ngModel">
                <label class="custom-control-label" for="permVP1">View Visbo Project</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP2" name="checkedVPViewAudit" [(ngModel)]="actGroup.checkedVPViewAudit" #checkedVPViewAudit="ngModel" >
                <label class="custom-control-label" for="permVP2">View Project Audit</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP3" name="checkedVPModify" [(ngModel)]="actGroup.checkedVPModify" #checkedVPModify="ngModel" >
                <label class="custom-control-label" for="permVP3">Modify Visbo Project</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP4" name="checkedCreateVariant" [(ngModel)]="actGroup.checkedCreateVariant" #checkedCreateVariant="ngModel" >
                <label class="custom-control-label" for="permVP4">Create Visbo Project Variant</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP5" name="checkedVPManagePerm" [(ngModel)]="actGroup.checkedVPManagePerm" #checkedVPManagePerm="ngModel" >
                <label class="custom-control-label" for="permVP5">Manage Permissions, Users and Groups</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="permVP6" name="checkedVPDelete" [(ngModel)]="actGroup.checkedVPDelete" #checkedVPDelete="ngModel" >
                <label class="custom-control-label" for="permVP6">Delete Visbo Project</label>
            </div>

            <div class="form-group">
              <button *ngIf="!(f.form.valid && !deleted && hasVPPerm(permVP.ManagePerm))" type="submit" class="btn btn-primary disabled" >{{this.actGroup.confirm}}</button>
              <button *ngIf="(f.form.valid && !deleted && hasVPPerm(permVP.ManagePerm))" type="submit" class="btn btn-primary" (click)="addModifyVPGroup()" data-dismiss="modal">{{this.actGroup.confirm}}</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Delete Group -->
  <div class="modal fade" id="VpGroupRemove" tabindex="-1" role="dialog" aria-labelledby="VpGroupModalRemoveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="groupIndex >= 0 && groupIndex < vgGroups.length">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpUserRemoveTitle">Remove Group from Visbo Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">Do you really want to remove this Group from Visbo Project? </label>
          </div>
          <form>
            <div class="form-group">
              <label for="VcName" class="col-form-label">Visbo Project:</label>
              <label class="col-8 form-control-static">{{ visboproject.name }} </label>
            </div>
            <div class="form-group">
              <label class="col-form-label">Group:</label>
              <label class="col-8 form-control-static">{{ vgGroups[groupIndex].name }}</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">Members:</label>
              <label class="col-8 form-control-static">{{ vgGroups[groupIndex].users.length }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" (click)="removeVPGroup(vgGroups[groupIndex], visboproject._id)" data-dismiss="modal">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete VP -->
  <div class="modal fade" id="VpDelete" tabindex="-1" role="dialog" aria-labelledby="Delete Project" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpDeleteTitle">Delete this Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label *ngIf="!deleted" class="bg-warning">Do you really want to delete this Project? </label>
            <label *ngIf="deleted" class="bg-danger text-white">Do you really want to destroy this Project? </label>
          </div>
          <form>
            <div class="form-group">
              <label for="VpName" class="col-form-label">Name:</label>
              <label class="col-8 form-control-static">{{ visboproject.name }} </label>
            </div>
            <div class="form-group">
              <label for="VpDescription" class="col-form-label">Description:</label>
              <label class="col-8 form-control-static">{{ visboproject.description }} </label>
            </div>
            <div class="form-group">
              <label for="VpVersions" class="col-form-label">Versions:</label>
              <label class="col-8 form-control-static">{{ visboproject.vpvCount }} </label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button *ngIf="!deleted" type="button" class="btn btn-warning text-white" (click)="delete(visboproject)" data-dismiss="modal">Delete</button>
          <button *ngIf="deleted" type="button" class="btn btn-danger text-white" (click)="delete(visboproject)" data-dismiss="modal">Destroy</button>
        </div>
      </div>
    </div>
  </div>
</div>
