<div *ngIf="visboproject">
  <div class='container'>
  <br>
  <h3>Details of: {{ visboproject.name | uppercase }}</h3>
    <div>
      <label class="col-sm-8 control-label">Name: <input [(ngModel)]="visboproject.name" placeholder="name"/>
      </label>
      <button class="delete" style="float: right;" title="Delete Visbo Project"
      (click)="delete(visboproject)">Delete!</button>
    </div>
    <form>
      <div>
        <label class="col-sm-8 control-label">Created at: </label>
        <label class="form-control-static">{{ visboproject.createdAt | date :'dd.MM.yyyy HH:mm'}} </label>
      </div>
      <div>
        <label class="col-sm-8 control-label">Updated at: </label>
        <label class="form-control-static">{{ visboproject.updatedAt | date :'dd.MM.yyyy HH:mm'}} </label>
      </div>
    </form>
    <div class='well'>
      <div class='panel-heading'>
          Visbo Project Users
      </div>
      <div class='panel-body'>
        <table class='table table-hover'>
          <!--Table head-->
          <thead>
            <tr>
              <th>Nr.</th>
              <th>e-Mail</th>
              <th>Role</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let member of visboproject.users; let memberIndex=index"> <!-- class="danger"> -->
              <td>{{memberIndex+1}}</td>
              <td>{{member.email}}</td>
              <td>{{member.role}}</td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!-- <p>{{ visboproject._id }}</p> -->
      </div>
    </div>
    <button (click)="save()" class="btn btn-primary">save</button>
    <button (click)="goBack()">go back</button>
  </div>
</div>
