<div *ngIf="visbokeymetrics" class='well'>
  <div class='container-fluid'>
    <div class="row text-dark">
      <div class="my-1 pl-0 col-11">
          <span>{{ 'compViewKeyMetric.lbl.show' | translate }} </span>
          <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfMetricSelector">{{getMetric('X')}}</a></span>
          <span> {{ 'compViewKeyMetric.lbl.and' | translate }} </span>
          <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfMetricSelector">{{getMetric('Y')}}</a></span>
          <span> {{ 'compViewKeyMetric.lbl.planVsBase' | translate }}</span>
          <span *ngIf="vpFilter != undefined">, {{ 'compViewKeyMetric.lbl.filtered' | translate }}</span>
          <input *ngIf="vpFilter != undefined" class="ml-2" type="text" (keyup)="visboKeyMetricsCalc()" [(ngModel)]="vpFilter" placeholder="Filter">
          <!-- <span *ngIf="vpFilter" class="font-weight-bold"> <a data-toggle="modal" data-target="#VpfMetricSelector"> {{vpFilter}}</a></span> -->
          <span class="ml-2"><a data-toggle="modal" data-target="#VpfMetricSelector"><i class="fa fa-cog" aria-hidden="true"></i></a></span>
      </div>
      <div class="col-1">
        <h5 class="text-right">
          <i *ngIf="!chart" (click)="toggleVisboChart()" class="mb-0 fa fa-signal" aria-hidden="true"></i>
          <i *ngIf="chart" (click)="toggleVisboChart()" class="mb-0 fa fa-list" aria-hidden="true"></i>
        </h5>
      </div>
    </div>
  </div>
  <div *ngIf="visbokeymetrics.length > 0" class='container-fluid'>
    <div *ngIf="hasKMCost" class="row">
      <span class="text-dark">{{ 'keyMetrics.shortEAC' | translate }} ({{ 'keyMetrics.longEAC' | translate }}) {{estimateAtCompletion | number:'1.0-0'}} T€ {{ 'keyMetrics.versus' | translate }} {{ 'keyMetrics.shortBAC' | translate }} ({{ 'keyMetrics.longBAC' | translate }}) {{budgetAtCompletion | number:'1.0-0'}} T€</span>
      <span *ngIf="estimateAtCompletion <= budgetAtCompletion"><strong class="mx-2 fas fa-check-circle" style="color:green"></strong></span>
      <span *ngIf="estimateAtCompletion > budgetAtCompletion && estimateAtCompletion <= budgetAtCompletion * 1.05"><strong class="mx-2 fas fa-exclamation-triangle" style="color:orange"></strong></span>
      <span *ngIf="estimateAtCompletion > budgetAtCompletion * 1.05"><strong class="mx-2 fas fa-exclamation-circle" style="color:red"></strong></span>
    </div>
  </div>
  <div>
    <div *ngIf="chart" class='container-fluid'>
      <div *ngIf="visbokeymetrics.length > 0 && graphBubbleData">
        <app-bubble-chart [graphData]="graphBubbleData" [graphOptions]="graphBubbleOptions" [parentThis]="parentThis" [language]="currentLang"></app-bubble-chart>
      </div>
    </div>

    <div *ngIf="chart==false" class='mt-3 container-fluid'>
      <div class='panel-body'>
        <table class='table table-hover table-sortable'>
          <thead>
            <tr>
              <th (click)="sortKeyMetricsTable(1)">{{ 'vpKeyMetric.lbl.project' | translate }}</th>
              <th *ngIf="selectedMetric('Costs')" class="text-right" (click)="sortKeyMetricsTable(2)">{{metricLabel('Costs', 'table')}}</th>
              <th *ngIf="selectedMetric('Costs')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(3)">{{ 'vpKeyMetric.lbl.bac' | translate }}</th>
              <th *ngIf="selectedMetric('EndDate')" class="text-right" (click)="sortKeyMetricsTable(4)">{{metricLabel('EndDate', 'table')}}</th>
              <th *ngIf="selectedMetric('EndDate')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(5)">{{ 'vpKeyMetric.lbl.endDate' | translate }}</th>
              <th *ngIf="selectedMetric('Deadlines')" class="text-right" (click)="sortKeyMetricsTable(6)">{{metricLabel('Deadlines', 'table')}}</th>
              <th *ngIf="selectedMetric('Deadlines')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(7)">{{ 'vpKeyMetric.lbl.deadlines' | translate }}</th>
              <th *ngIf="selectedMetric('DeadlinesFinishedDelay')" class="text-right" (click)="sortKeyMetricsTable(10)">{{metricLabel('DeadlinesFinishedDelay', 'table')}}</th>
              <th *ngIf="selectedMetric('DeadlinesUnFinishedDelay')" class="text-right" (click)="sortKeyMetricsTable(11)">{{metricLabel('DeadlinesUnFinishedDelay', 'table')}}</th>
              <th *ngIf="selectedMetric('Deliveries')" class="text-right" (click)="sortKeyMetricsTable(8)">{{metricLabel('Deliveries', 'table')}}</th>
              <th *ngIf="selectedMetric('Deliveries')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(9)">{{ 'vpKeyMetric.lbl.deliveries' | translate }}</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let vp of visbokeymetrics; let vpIndex=index" (click)='gotoClickedRow(vp)'
            data-toggle="modal" data-target="#ProjectDetail">
              <td>{{vp.name }}</td>
              <td *ngIf="selectedMetric('Costs')" class="text-right">{{vp.savingCostTotal*100 | number:'1.0-0'}} %</td>
              <td *ngIf="selectedMetric('Costs')" class="text-right">{{vp.keyMetrics.costBaseLastTotal | number:'1.0-0'}} k€</td>
              <td *ngIf="selectedMetric('EndDate')" class="text-right">{{vp.savingEndDate | number:'1.0-0' }} weeks</td>
              <td *ngIf="selectedMetric('EndDate')" class="text-right">{{vp.keyMetrics.endDateBaseLast | date :'dd.MM.yyyy'}}</td>
              <td *ngIf="selectedMetric('Deadlines')" class="text-right">{{vp.timeCompletionActual*100 | number:'1.0-0'}} %</td>
              <td *ngIf="selectedMetric('Deadlines')" class="text-right">{{vp.keyMetrics.timeCompletionBaseLastActual | number:'1.0-0'}}</td>
              <td *ngIf="selectedMetric('DeadlinesFinishedDelay')" class="text-right">{{vp.keyMetrics.timeDelayFinished || 0 | number:'1.0-0'}} {{ 'compViewKeyMetric.lbl.days' | translate }}</td>
              <td *ngIf="selectedMetric('DeadlinesUnFinishedDelay')" class="text-right">{{vp.keyMetrics.timeDelayUnFinished || 0 | number:'1.0-0'}} {{ 'compViewKeyMetric.lbl.days' | translate }}</td>
              <td *ngIf="selectedMetric('Deliveries')" class="text-right">{{vp.deliveryCompletionActual*100 | number:'1.0-0'}} %</td>
              <td *ngIf="selectedMetric('Deliveries')" class="text-right">{{vp.keyMetrics.deliverableCompletionBaseLastActual | number:'1.0-0'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="visbokeymetrics.length == 0">
    <h3 class="d-flex justify-content-center">
      {{ 'compViewKeyMetric.msg.noVersions' | translate }}
    </h3>
  </div>
</div>

<!-- Modal Change Key metrics -->
<div class="modal fade" id="VpfMetricSelector" tabindex="-1" role="dialog" aria-labelledby="VpfMetricSelectorTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VpfMetricSelectorTitle">{{ 'compViewKeyMetric.titleChange' | translate }}</h5>
        <button type="button" class="close"  (click)="changeChart()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" novalidate>
          <div class="form-group">
            <label for="XLabel" class="col-form-label">{{ 'vpKeyMetric.lbl.xAxis' | translate }}:</label>
            <select class="form-control" id="XLabel" name="metricX" [(ngModel)]="metricX">
              <option *ngFor="let metricItem of metricList; let metricIndex=index" value="{{metricIndex}}">{{metricItem.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="YLabel" class="col-form-label">{{ 'vpKeyMetric.lbl.yAxis' | translate }}:</label>
            <select class="form-control" id="YLabel" name="metricY" [(ngModel)]="metricY">
              <option *ngFor="let metricItem of metricList; let metricIndex=index" value="{{metricIndex}}">{{metricItem.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Filter" class="col-form-label">{{ 'compViewKeyMetric.lbl.filter' | translate }}:</label>
            <input class="form-control"  (keyup)="visboKeyMetricsCalc()" title="Filter by Project Name/Template/Description, Business Unit, Lead Person" id="Filter" name="vpFilter" [(ngModel)]="vpFilter">
          </div>
          <div class="modal-footer align-items-end">
            <button type="button" class="btn btn-secondary" (click)="changeChart()" data-dismiss="modal">{{ 'compViewKeyMetric.btn.cancel' | translate }}</button>
            <button type="submit" class="btn btn-primary" (click)="changeChart()" data-dismiss="modal">{{ 'compViewKeyMetric.btn.change' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
