#links { float: left; width: 300px; height: 500px}
#mitteLinks { margin: 0 300px; height: 500px;}
#rechts { height: 500px; width: 300px}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 800px; /* Should be removed. Only for demonstration */      
    border: 1px solid silver;
  }
  