<div class="row">
<div  *ngIf="!modusStoppedPaused" class="column overflow-scroll"> 

    <h4 class="card-header p-2">
    <!-- <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getFinancalLevel(getLevel(estimateAtCompletion, budgetAtCompletion),getLevel(RACSumBaseline, RACSumCurrent), profitCurrent) }"></ng-container></strong> -->
    <!-- <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getFinancalLevel(profitCurrent) }"></ng-container></strong> -->
    <!-- {{ 'compViewBubble.metric.financialSummary' | translate }} -->
    {{ 'compViewKanban.lbl.Initial' | translate }}
    <span class="text-right" style="font-size: small;">{{ initlistVPV.length | number: '2.0-0'}} Projects</span>     
    <!-- <p class="text-right" style="font-size: small;">EAC: {{ initlistIDs.EAC | number: '2.0-0'  }} T€</p>   -->     
    <p class="text-right" style="font-size: small;">Est. Profit: {{ initlistIDs.Profit | number: '2.0-0'  }} T€</p> 
    <p *ngIf="initlistIDs.EAC" class="text-right" style="font-size: small;">EAC: {{ initlistIDs.EAC | number: '2.0-0'  }} T€</p>
    <p *ngIf="!initlistIDs.EAC" class="text-right" style="font-size: small;"><br /></p>  
    <p *ngIf="initlistIDs.BAC" class="text-right" style="font-size: small;">BAC: {{ initlistIDs.BAC | number: '2.0-0'  }} T€</p>
    <p *ngIf="!initlistIDs.BAC" class="text-right" style="font-size: small;"><br /></p>  
    <p *ngIf="initlistIDs.RAC" class="text-right" style="font-size: small;">RAC: {{ initlistIDs.RAC | number: '2.0-0'  }} T€</p>
    <p *ngIf="!initlistIDs.RAC" class="text-right" style="font-size: small;"><br /></p>
    <!-- <p class="text-left" style="font-size: medium">Text:
    <input class="ml-2 col-form-control" style="font-size: medium" type="text"  [(ngModel)]="filter" placeholder="Filter"></p> -->
    <p class="text-left" style="font-size: medium">
        {{ 'compViewKanban.lbl.SortBy' | translate }}:     
      <select class="ml-2 col-form-control" style="font-size: medium" id="sortModeInit" name="sortModeInit" [(ngModel)]="sortModeInit" (click)="switchSort(initlistVPV, sortModeInit)">
        <option *ngFor="let item of dropDownSortType" value="{{item.id}}">{{item.name}}</option>
      </select>
    </p>
    <!-- <p class="text-right" style="font-size: small;">RAC: {{ initlistIDs.RAC | number: '2.0-0'  }} T€</p>   -->
    
    </h4>
    <div class="card-body p-2">  
        <table class='table table-hover table-sortable table-wrapper'>
            <tbody id="VPVInitList">
                <tr *ngFor="let vp of initlistVPV" >         
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-left">{{vp.name }}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="d-none d-lg-table-cell">{{vp.variantName}}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)"class="text-right">{{vp.profit | number:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>      
    </div>
</div>
<div  *ngIf="!modusStoppedPaused" class="column"> 
    <h4 class="card-header p-2">
        <!-- <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getFinancalLevel(getLevel(estimateAtCompletion, budgetAtCompletion),getLevel(RACSumBaseline, RACSumCurrent), profitCurrent) }"></ng-container></strong> -->
        <!-- <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getFinancalLevel(profitCurrent) }"></ng-container></strong> -->
        <!-- {{ 'compViewBubble.metric.financialSummary' | translate }} -->
        {{ 'compViewKanban.lbl.Proposed' | translate }}
        <span class="text-right" style="font-size: small;">{{ proposedlistVPV.length | number: '2.0-0'}} Projects</span>           
        <p class="text-right" style="font-size: small;">Est. Profit: {{ proposedlistIDs.Profit | number: '2.0-0'  }} T€</p> 
        <p class="text-right" style="font-size: small;">EAC: {{ proposedlistIDs.EAC | number: '2.0-0'  }} T€</p>        
        <p *ngIf="proposedlistIDs.BAC" class="text-right" style="font-size: small;">BAC: {{ proposedlistIDs.BAC | number: '2.0-0'  }} T€</p>
        <p *ngIf="!proposedlistIDs.BAC" class="text-right" style="font-size: small;"><br /></p>  
        <p *ngIf="proposedlistIDs.RAC" class="text-right" style="font-size: small;">RAC: {{ proposedlistIDs.RAC | number: '2.0-0'  }} T€</p>
        <p *ngIf="!proposedlistIDs.RAC" class="text-right" style="font-size: small;"><br /></p>
        <p class="text-left" style="font-size: medium">
            {{ 'compViewKanban.lbl.SortBy' | translate }}:     
          <select class="ml-2 col-form-control" style="font-size: medium" id="sortModeProposed" name="sortModeProposed" [(ngModel)]="sortModeProposed" (click)="switchSort(proposedlistVPV, sortModeProposed)">
            <option *ngFor="let item of dropDownSortType" value="{{item.id}}">{{item.name}}</option>
          </select>
        </p>
    </h4>
    <div class="card-body p-2">    
        <table class='table table-hover table-sortable table-wrapper'>
            <tbody id="VPVProposedList">
                <tr *ngFor="let vp of proposedlistVPV">         
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-left">{{ vp.name }}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="d-none d-lg-table-cell">{{vp.variantName}}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)"class="text-right">{{vp.profit | number:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>        
    </div>       
</div>
<div *ngIf="!modusStoppedPaused" class="column "> 
    <h4 class="card-header p-2">
        <!-- <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getFinancalLevel(getLevel(estimateAtCompletion, budgetAtCompletion),getLevel(RACSumBaseline, RACSumCurrent), profitCurrent) }"></ng-container></strong> -->
        <!-- <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getFinancalLevel(profitCurrent) }"></ng-container></strong> -->
        <!-- {{ 'compViewBubble.metric.financialSummary' | translate }} -->
        {{ 'compViewKanban.lbl.Ordered' | translate }}        
        <span class="text-right" style="font-size: small;">{{ orderedlistVPV.length | number: '2.0-0'}} Projects</span>         
        <p class="text-right" style="font-size: small;">Est. Profit: {{ orderedlistIDs.Profit | number: '2.0-0'  }} T€</p> 
        <p class="text-right" style="font-size: small;">EAC: {{ orderedlistIDs.EAC | number: '4.0-0'  }} T€</p>  
        <p *ngIf="orderedlistIDs.BAC" class="text-right" style="font-size: small;">BAC: {{ orderedlistIDs.BAC | number: '4.0-0'  }} T€</p>  
        <p *ngIf="!orderedlistIDs.BAC" class="text-right" style="font-size: small;"><br /></p> 
        <p *ngIf="orderedlistIDs.RAC" class="text-right" style="font-size: small;">RAC: {{ orderedlistIDs.RAC | number: '2.0-0'  }} T€</p>
        <p *ngIf="!orderedlistIDs.RAC" class="text-right" style="font-size: small;"><br /></p>
        <p class="text-left" style="font-size: medium">
            {{ 'compViewKanban.lbl.SortBy' | translate }}:     
          <select class="ml-2 col-form-control" style="font-size: medium" id="sortModeOrdered" name="sortModeOrdered" [(ngModel)]="sortModeOrdered" (click)="switchSort(orderedlistVPV, sortModeOrdered)">
            <option *ngFor="let item of dropDownSortType" value="{{item.id}}">{{item.name}}</option>
          </select>
        </p> 
    </h4>
    <div class="card-body p-2 overflow-scroll">       
        <table class='table table-hover table-sortable table-wrapper'>
            <tbody id="VPVOrderedList">
                <tr *ngFor="let vp of orderedlistVPV">         
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-left">{{ vp.name }}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="d-none d-lg-table-cell">{{ vp.variantName }}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-right">{{vp.profit | number:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>       
</div>

<div  *ngIf="!modusStoppedPaused" class="column "> 
    <h4 class="card-header p-2">
        <!-- <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getFinancalLevel(getLevel(estimateAtCompletion, budgetAtCompletion),getLevel(RACSumBaseline, RACSumCurrent), profitCurrent) }"></ng-container></strong> -->
        <!-- <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getFinancalLevel(profitCurrent) }"></ng-container></strong> -->
        <!-- {{ 'compViewBubble.metric.financialSummary' | translate }} -->
        {{ 'compViewKanban.lbl.Finished' | translate }} 
        <span class="text-right" style="font-size: small;">{{ finishedlistVPV.length | number: '2.0-0'}} Projects</span>     
        <p class="text-right" style="font-size: small;">Profit: {{ finishedlistIDs.Profit | number: '2.0-0'  }} T€</p> 
        <p class="text-right" style="font-size: small;">CAC: {{ finishedlistIDs.EAC | number: '2.0-0'  }} T€</p> 
        <p *ngIf="finishedlistIDs.BAC" class="text-right" style="font-size: small;">BAC: {{ finishedlistIDs.BAC | number: '2.0-0'  }} T€</p>  
        <p *ngIf="!finishedlistIDs.BAC" class="text-right" style="font-size: small;"><br /></p> 
        <p *ngIf="finishedlistIDs.RAC" class="text-right" style="font-size: small;">RAC: {{ finishedlistIDs.RAC | number: '2.0-0'  }} T€</p>
        <p *ngIf="!finishedlistIDs.RAC" class="text-right" style="font-size: small;"><br /></p>
        <p class="text-left" style="font-size: medium">
            {{ 'compViewKanban.lbl.SortBy' | translate }}:     
          <select class="ml-2 col-form-control" style="font-size: medium" id="sortModeFinished" name="sortModeFinished" [(ngModel)]="sortModeFinished" (click)="switchSort(finishedlistVPV, sortModeFinished)">
            <option *ngFor="let item of dropDownSortType" value="{{item.id}}">{{item.name}}</option>
          </select>
        </p> 
    </h4>
    <div class="card-body p-2">       
        <table class='table table-hover table-sortable table-wrapper'>
            <tbody id="VPVFinishedList">
                <tr *ngFor="let vp of finishedlistVPV">         
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-left">{{ vp.name }}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="d-none d-lg-table-cell">{{vp.variantName}}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-right">{{vp.profit | number:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>  
</div>    
<div *ngIf="modusStoppedPaused" class="column "> 
    <h4 class="card-header p-2">        
        {{ 'compViewKanban.lbl.Paused' | translate }} 
        <span class="text-right" style="font-size: small;">{{ pausedlistVPV.length  | number: '2.0-0'}} Projects</span>
        <p class="text-right" style="font-size: small;">Profit: {{ pausedlistIDs.Profit | number: '2.0-0'  }} T€</p> 
        <p class="text-right" style="font-size: small;">CAC: {{ pausedlistIDs.EAC | number: '2.0-0'  }} T€</p> 
        <p *ngIf="pausedlistIDs.BAC" class="text-right" style="font-size: small;">BAC: {{ pausedlistIDs.BAC | number: '2.0-0'  }} T€</p>  
        <p *ngIf="!pausedlistIDs.BAC" class="text-right" style="font-size: small;"><br /></p> 
        <p *ngIf="pausedlistIDs.RAC" class="text-right" style="font-size: small;">RAC: {{ pausedlistIDs.RAC | number: '2.0-0'  }} T€</p>
        <p *ngIf="!pausedlistIDs.RAC" class="text-right" style="font-size: small;"><br /></p>
        <p class="text-left" style="font-size: medium">
            {{ 'compViewKanban.lbl.SortBy' | translate }}:     
          <select class="ml-2 col-form-control" style="font-size: medium" id="sortModePaused" name="sortModePaused" [(ngModel)]="sortModePaused" (click)="switchSort(pausedlistVPV, sortModePaused)">
            <option *ngFor="let item of dropDownSortType" value="{{item.id}}">{{item.name}}</option>
          </select>
        </p> 
    </h4>
    <div class="card-body p-2">       
        <table class='table table-hover table-sortable table-wrapper'>
            <tbody id="VPVPausedList">
                <tr *ngFor="let vp of pausedlistVPV">         
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-left">{{ vp.name }}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="d-none d-lg-table-cell">{{vp.variantName}}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-right">{{vp.profit | number:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>  
</div>
<div *ngIf="modusStoppedPaused" class="column "> 
    <h4 class="card-header p-2">        
        {{ 'compViewKanban.lbl.Stopped' | translate }}
        <span class="text-right" style="font-size: small;">{{ stoppedlistVPV.length | number: '2.0-0'}} Projects</span>     
        <p class="text-right" style="font-size: small;">Profit: {{ stoppedlistIDs.Profit | number: '2.0-0'  }} T€</p> 
        <p class="text-right" style="font-size: small;">CAC: {{ stoppedlistIDs.EAC | number: '2.0-0'  }} T€</p> 
        <p *ngIf="stoppedlistIDs.BAC" class="text-right" style="font-size: small;">BAC: {{ stoppedlistIDs.BAC | number: '2.0-0'  }} T€</p>  
        <p *ngIf="!stoppedlistIDs.BAC" class="text-right" style="font-size: small;"><br /></p> 
        <p *ngIf="stoppedlistIDs.RAC" class="text-right" style="font-size: small;">RAC: {{ stoppedlistIDs.RAC | number: '2.0-0'  }} T€</p>
        <p *ngIf="!stoppedlistIDs.RAC" class="text-right" style="font-size: small;"><br /></p>
        <p class="text-left" style="font-size: medium">
            {{ 'compViewKanban.lbl.SortBy' | translate }}:     
          <select class="ml-2 col-form-control" style="font-size: medium" id="sortModeStopped" name="sortModeStopped" [(ngModel)]="sortModeStopped" (click)="switchSort(stoppedlistVPV, sortModeStopped)">
            <option *ngFor="let item of dropDownSortType" value="{{item.id}}">{{item.name}}</option>
          </select>
        </p> 
    </h4>
    <div class="card-body p-2">       
        <table class='table table-hover table-sortable table-wrapper'>
            <tbody id="VPVStoppedList">
                <tr *ngFor="let vp of stoppedlistVPV">         
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-left">{{ vp.name }}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="d-none d-lg-table-cell">{{vp.variantName}}</td>
                  <td [style.background-color]="getBUColor(vp.buColor)" [style.color]="getfontColor(vp.buColor)" class="text-right">{{vp.profit | number:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>  
</div>
