<app-sysnavbar></app-sysnavbar>
<div class='well'>
  <div class='row'>
    <div class='col'>
      <h2 class='panel-heading ml-0'>
        Visbo Centers
      </h2>
    </div>
    <div *ngIf="hasSystemPerm(permSystem.DeleteVC)" class='btn-group'>
        <button id="DeletedVC" *ngIf="!deleted" type="button" class="m-1 btn btn-secondary" (click)="toggleVisboCenters()">Show Deleted</button>
        <button id="UnDeletedVC" *ngIf="deleted" type="button" class="m-1 btn btn-secondary" (click)="toggleVisboCenters()">Show Existing</button>
        <button id="CreateVC" *ngIf="hasSystemPerm(permSystem.CreateVC)" type="button" class="m-1 btn btn-primary" data-toggle="modal" data-target="#VcModalCreate">Create New</button>
    </div>
  </div>

  <div class='panel-body'>
    <table class='table table-hover table-sortable'>

      <thead id="VCHead">
        <tr>
          <th class="d-none d-md-table-cell">Nr.</th>
          <th id="SortName" (click)="sortVCTable(1)">Name</th>
          <th id="SortDate" class="d-none d-sm-table-cell" (click)="sortVCTable(2)">Modified</th>
          <th id="SortProjects" class="d-none d-md-table-cell" (click)="sortVCTable(3)"># Projects</th>
          <th>Detail</th>
        </tr>
      </thead>

      <tbody id="VCList">
        <tr *ngFor="let vc of visbocenters; let vcIndex=index" (click)="gotoClickedRow(vc)" >
          <td class="d-none d-md-table-cell">{{vcIndex+1}}</td>
          <td id="ColName"><a>{{vc.name}}</a></td>
          <td id="ColDate" class="d-none d-md-table-cell">{{vc.updatedAt | date :'dd.MM.yyyy HH:mm'}}</td>
          <td id="ColDate" class="d-none d-sm-table-cell d-md-none">{{vc.updatedAt | date :'dd.MM.yy'}}</td>
          <td id="ColProjects" class="d-none d-md-table-cell">{{vc.vpCount}}</td>
          <td id="ColDetail">
            <button class="Detail" title="Detail of Visbo Center"
            (click)="gotoDetail(vc)">i</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal VC Create-->
<div class="modal fade" id="VcModalCreate" tabindex="-1" role="dialog" aria-labelledby="VcModalCreateTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VcModalCenterTitle">Create a new Visbo Center</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="vcName" class="col-form-label">Name:</label>
            <input id="CreateVCName" type="text" class="form-control" #vcName>
          </div>
          <div class="form-group">
            <label for="vcDescription" class="col-form-label">Description:</label>
            <textarea id="CreateVCDesc" class="form-control" #vcDescription></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer align-items-end">
        <button id="ButtonBack" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="CreateVCConfirm" type="button" class="btn btn-primary" (click)="add(vcName.value, vcDescription.value); vcName.value=''; vcDescription.value=''" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
