<app-usernavbar></app-usernavbar>
<div *ngIf="visboprojectversion">
  <h4>{{ 'vpvDetails.title' | translate }}: <a (click)="gotoVPVList(visboprojectversion)">{{ visboprojectversion.name | uppercase }}</a></h4>
  <form>
    <div class="form-group row">
      <label for="vpName" class="col-4 col-md-3 col-form-label">{{ 'vpvDetails.lbl.name' | translate }}:</label>
      <label class="col-8 form-control-static">{{ visboprojectversion.name }} </label>
    </div>
    <div class="form-group row">
      <label for="vpvDescription" class="col-4 col-md-3 col-form-label">{{ 'vpvDetails.lbl.description' | translate }}:</label>
      <label class="col-8 form-control-static">{{ visboprojectversion.description }} </label>
    </div>

    <div class="form-group row">
      <label for="Created" class="col-4 col-md-3 col-form-label">{{ 'vpvDetails.lbl.createdUpdated' | translate }}:</label>
      <label class="col form-control-static col-form-label">{{ visboprojectversion.createdAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
      <label class="col form-control-static col-form-label">{{ visboprojectversion.updatedAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
    </div>
    <div class="form-group row">
      <label for="Timestamp" class="col-4 col-md-3 col-form-label">{{ 'vpvDetails.lbl.timestamp' | translate }}:</label>
      <label class="col form-control-static col-form-label">{{ visboprojectversion.timestamp | date :'dd.MM.yyyy HH:mm:ss'}} </label>
    </div>
    <div *ngIf="visboprojectversion.variantName" class="form-group row">
      <label for="Variant" class="col-4 col-md-3 col-form-label">{{ 'vpvDetails.lbl.variant' | translate }}:</label>
      <label class="col form-control-static col-form-label">{{ visboprojectversion.variantName}} </label>
    </div>
  </form>

  <div>
    <button *ngIf="deleted && hasVPPerm(permVP.DeleteVP)" (click)="save()" class="btn btn-primary">{{ 'vpvDetails.btn.restore' | translate }}</button>
    <button (click)="goBack()">{{ 'vpvDetails.btn.back' | translate }}</button>
    <button *ngIf="!deleted && hasVPPerm(permVP.DeleteVP)" class="bg-warning" style="float: right" title="Delete Visbo Project Version" data-toggle="modal" data-target="#VpvDelete">
      {{ 'vpvDetails.btn.delete' | translate }}
    </button>
    <button *ngIf="deleted && hasVPPerm(permVP.DeleteVP)" class="bg-danger text-white" style="float: right" title="Destroy Visbo Project Version" data-toggle="modal" data-target="#VpvDelete">
      {{ 'vpvDetails.btn.destroy' | translate }}
    </button>
  </div>

  <!-- Modal Delete VPV  -->
  <div class="modal fade" id="VpvDelete" tabindex="-1" role="dialog" aria-labelledby="Delete Project Version" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VpvDeleteTitle">{{ 'vpvDetails.titleDeleteVPV' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label *ngIf="!deleted" class="bg-warning">{{ 'vpvDetails.msg.confirmDelete' | translate }}</label>
            <label *ngIf="deleted" class="bg-danger text-white">{{ 'vpvDetails.msg.confirmDestroy' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="VpvName" class="col-form-label">{{ 'vpvDetails.lbl.name' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visboprojectversion.name }} </label>
            </div>
            <div class="form-group">
              <label for="VpvVersions" class="col-form-label">{{ 'vpvDetails.lbl.timestamp' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visboprojectversion.timestamp }} </label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'vpvDetails.btn.cancel' | translate }}</button>
          <button *ngIf="!deleted" type="button" class="btn btn-warning text-white" (click)="delete(visboprojectversion)" data-dismiss="modal">{{ 'vpvDetails.btn.delete' | translate }}</button>
          <button *ngIf="deleted" type="button" class="btn btn-danger text-white" (click)="delete(visboprojectversion)" data-dismiss="modal">{{ 'vpvDetails.btn.destroy' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
