<div *ngIf="hasVPPerm(this.permVP.ViewAudit)" class='well' (resized)="onResized($event)">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col col-sm-12 col-lg-8">
      <div class="row text-dark">
      </div>
    </div>
    <div *ngIf="vpHasCost('')" class="col-sm-12 col-md-10 col-lg-4 card align-right px-0">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <h5 class="card-header p-2">
        <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getLevel(vpvTotalCostCurrent, vpvTotalCostBaseLine)}"></ng-container></strong>
        {{ 'vpViewCost.titleBox' | translate }}</h5>
      <div class="card-body p-2">
        <div class="row">
          <div class="col col-sm-8">
            {{ 'keyMetrics.shortEAC' | translate }}
            ({{ 'keyMetrics.longEAC' | translate }})
          </div>
          <div class="col col-sm-4 text-right">
            <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getLevel(vpvTotalCostCurrent, vpvTotalCostBaseLine)}"></ng-container></strong>
            {{vpvTotalCostCurrent | number:'1.0-0'}} T€
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-8">
            {{ 'keyMetrics.shortBAC' | translate }}
            ({{ 'keyMetrics.longBAC' | translate }})
          </div>
          <div class="col col-sm-4 text-right">
            {{vpvTotalCostBaseLine | number:'1.0-0'}} T€
          </div>
        </div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>

  <div *ngIf="graphDataComboChart.length > 0" >
    <app-combo-chart [graphData]="graphDataComboChart" [graphOptions]="graphOptionsComboChart" [parentThis]="parentThis" [language]="currentLang"></app-combo-chart>
  </div>

  <div *ngIf="!vpHasCost('cost')">
    <h3 class="d-flex justify-content-center">
      {{ 'vpViewCost.msg.noCost' | translate }}
    </h3>
  </div>
  <i class="fas fa-info-circle fa-lg mx-2 mt-2 text-secondary" title="{{ 'keyMetrics.lbl.showLegend' | translate }}" data-toggle="modal" data-target="#VpvLegend"></i>
</div>

<ng-template #indicator let-level="level">
  <strong><i class="fa" [ngClass]="{'fa-check-circle text-success': level == 1, 'fa-exclamation-triangle text-warning': level == 2, 'fa-exclamation-circle text-danger': level == 3}"></i></strong>
</ng-template>

<!-- Modal Show Shortcut explanation -->
<div class="modal fade" id="VpvLegend" tabindex="-1" role="dialog" aria-labelledby="VpvDetailsTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>{{ 'keyMetrics.lbl.shortcut' | translate }}</th>
              <th>{{ 'keyMetrics.lbl.explanation' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'keyMetrics.shortPV' | translate }}</td>
              <td>{{ 'keyMetrics.longPV' | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'keyMetrics.shortAC' | translate }}</td>
              <td>{{ 'keyMetrics.longAC' | translate }}</td>
            </tr>
            <!-- <tr>
              <td>{{ 'keyMetrics.shortAC' | translate }}</td>
              <td>{{ 'keyMetrics.longAC' | translate }}</td>
            </tr> -->
            <tr>
              <td>{{ 'keyMetrics.shortETC' | translate }}</td>
              <td>{{ 'keyMetrics.longETC' | translate }}</td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer align-items-end">
          <button class="btn btn-primary" data-dismiss="modal">{{ 'vpViewCost.btn.back' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
