
  .my_darkgreen {
    color: #005600;
  }

  .my_green {
    color: #008000;
  }

  .my_orange {
    color: #ffa500;
  }

  .my_red {
    color: #ff0000;
  }

  .my_bg_red {
    background-color: #ff0000;
  }

  .my_bg_yellow {
    background-color: #ffa500;
  }

  .my_bg_green {
    background-color: #008000;
  }

  .v_compact_t {
    margin: 0em;
    padding-top: 0em;
  }
