<app-usernavbar></app-usernavbar>
<div class='well'>
  <div *ngIf="visbocenters && visbocenters.length > 0" class='panel-body'>
    <h2 class='panel-heading'>
      {{ 'vc.title' | translate }}
    </h2>
    <table class='table table-hover table-sortable'>

      <thead id="VCHead">
        <tr>
          <th class="d-none d-md-table-cell">{{ 'vc.lbl.nr' | translate }}</th>
          <th id="SortName" (click)="sortVCTable(1)">{{ 'vc.lbl.name' | translate }}</th>
          <th id="SortDate" class="d-none d-sm-table-cell" (click)="sortVCTable(2)">{{ 'vc.lbl.modified' | translate }}</th>
          <th id="SortProjects" class="d-none d-md-table-cell" (click)="sortVCTable(3)">{{ 'vc.lbl.projects' | translate }}</th>
          <th>Detail</th>
        </tr>
      </thead>

      <tbody id="VCList">
        <tr *ngFor="let vc of visbocenters; let vcIndex=index" (click)="gotoClickedRow(vc)" > <!-- class="danger"> -->
          <td class="d-none d-md-table-cell">{{vcIndex+1}}</td>
          <td id="ColName"><a>{{vc.name}}</a></td>
          <td id="ColDate" class="d-none d-md-table-cell">{{vc.updatedAt | date :'dd.MM.yyyy HH:mm'}}</td>
          <td id="ColDate" class="d-none d-sm-table-cell d-md-none">{{vc.updatedAt | date :'dd.MM.yy'}}</td>
          <td id="ColProjects" class="d-none d-md-table-cell">{{vc.vpCount}}</td>
          <td id="ColDetail">
            <button class="Detail" title="{{ 'vc.msg.detail' | translate }}"
            (click)="gotoDetail(vc)">i</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="visbocenters && visbocenters.length == 0" class='panel-body'>
    <div class='panel-heading'>
      <h2>{{ 'vc.noVC' | translate }}</h2>
      <div> {{ 'vc.msg.noVC' | translate }} </div>
    </div>
  </div>

</div>
