<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/vc">Visbo Centers</a>
  <a routerLink="/vp">Visbo Projects</a>
  <a routerLink="/login">Logout</a>
</nav>
<p> </p>
<div class='well'>
  <div class='panel-heading'>
      Visbo Centers
  </div>
  <div class='panel-body'>
    <table class='table table-hover table-sortable'>
      <!--Table head-->
      <thead>
        <tr>
          <th>Nr.</th>
          <th>Name</th>
          <th>Modified</th>
          <th>Detail</th>
        </tr>
      </thead>
      <!--Table body-->
      <tbody>
        <tr *ngFor="let vc of visbocenters; let vcIndex=index" (click)="gotoClickedRow(vc)" > <!-- class="danger"> -->
          <td>{{vcIndex+1}}</td>
          <td>{{vc.name}}</td>
          <td>{{vc.updatedAt | date :'dd.MM.yyyy HH:mm'}}</td>
          <td>
            <button class="Detail" title="Detail of Visbo Center"
            (click)="gotoDetail(vc)">i</button>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <div>
      <label>Name:
        <input #vcName />
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <button (click)="add(vcName.value); vcName.value=''">
        add
      </button>
    </div>
  </div>
</div>

<!--

<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Employees"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'name'"
            [header]="'Name'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'date'"
            [header]="'Date'"
            [sortable]="true">
            <template #dataTableCell let-item="item">
                <span>{{item.date | date:'yyyy-MM-dd'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            property="phoneNumber"
            header="Phone number"
            width="150px">
        </data-table-column>
        <data-table-column
            [property]="'jobTitle'"
            [header]="'Job title'"
            [visible]="false">
        </data-table-column>
        <data-table-column
            [property]="'active'"
            [header]="'Active'"
            [width]="100"
            [resizable]="true">
            <template #dataTableHeader let-item="item">
                <span style="color: rgb(232, 0, 0)">Active</span>
            </template>
            <template #dataTableCell let-item="item">
                <span style="color: grey">
                <span class="glyphicon glyphicon-ok" *ngIf="item.active"></span>
                <span class="glyphicon glyphicon-remove" *ngIf="!item.active"></span>
                </span>
            </template>
        </data-table-column>
    </data-table>
</div>
-->
