<div class='well'>
  <app-usernavbar></app-usernavbar>
</div>

<div *ngIf="visbocenters" class="container-fluit" >
  <div class='panel-heading'>
    <h2>{{ 'dashboard.topvc' | translate }}</h2>
  </div>
  <div class="col-12">
  	<div class="row">
  		<div class="card-group col-sm-8 col-md-6 col-lg-4 mb-2" *ngFor="let vc of visbocenters">
        <div class="card" style="width: 18rem;">
          <div class="card-body d-flex flex-column">
            <h3 class="card-title" (click)="gotoClickedVc(vc)"><a>{{vc.name}}</a></h3>
            <h6 class="card-subtitle mb-2 text-muted">{{vc.updatedAt | date :'dd.MM.yyyy HH:mm'}}</h6>
            <p class="card-text">{{vc.description}}</p>
            <!-- <p class="card-subtitle">{{vc.users.length}} Users</p> -->
            <div class="align-self-bottom" style="margin-top: auto;">
              <button type="button" class="mx-1 btn btn-primary" (click)="gotoClickedVc(vc)">{{vc.vpCount}} {{'dashboard.projects' | translate}}</button>
              <button type="button" class="mx-1 btn btn-secondary" (click)="gotoClickedVcDetail(vc)">{{'dashboard.detail' | translate}}</button>
            </div>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div>
</div>

<div *ngIf="visboprojects && visboprojects.length > 0" class="container-fluit" >
  <div class='well'>
    <div class='panel-heading'>
        <h2>{{ 'dashboard.topvp' | translate }}</h2>
    </div>
  </div>
  <div class="col-12">
  	<div class="row">
  		<div class="card-group col-sm-8 col-md-6 col-lg-4 mb-2" *ngFor="let vp of visboprojects">
        <div class="card" style="width: 18rem;">
          <div class="card-body d-flex flex-column">
            <h3 class="card-title" (click)="gotoClickedVp(vp)"><a>{{vp.name}}</a></h3>
            <h6 class="card-subtitle mb-2 text-black" (click)="gotoClickedVpVc(vp)"><a>{{vp.vc.name}}</a></h6>
            <h6 class="card-subtitle mb-2 text-muted">{{vp.updatedAt | date :'dd.MM.yyyy HH:mm'}}</h6>
            <p class="card-text">{{vp.description}}</p>
            <!-- <p class="card-subtitle">{{vp.users.length}} Users</p> -->
            <div class="align-self-bottom" style="margin-top: auto;">
              <button type="button" class="mx-1 btn btn-primary" (click)="gotoClickedVp(vp)">{{vp.vpvCount}} {{'dashboard.versions' | translate}}</button>
              <button type="button" class="mx-1 btn btn-secondary" (click)="gotoClickedVpDetail(vp)">{{'dashboard.detail' | translate}}</button>
            </div>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div>
</div>

<div *ngIf="visbocenters && visbocenters.length == 0 && visboprojects && visboprojects.length == 0" class="container-fluit" >
  <div class='panel-heading'>
    <h2>{{ 'dashboard.noVC' | translate }}</h2>
    <div> {{ 'dashboard.msg.noVC' | translate }} </div>
  </div>
</div>
