<app-usernavbar></app-usernavbar>
<div *ngIf="visbocenter">
  <!-- <div class='container'> -->
    <h3>{{ 'vcDetail.title' | translate }}: <a (click)="gotoVPList(visbocenter)">{{ visbocenter.name | uppercase }}</a></h3>
    <form>
      <div class="form-group row">
        <label for="vcName" class="col-3 col-md-2 col-form-label">{{ 'vcDetail.lbl.name' | translate }}:</label>
        <input id="VCName" *ngIf="hasVCPerm(permVC.Modify)" type="text" name=vcName class="col-8 form-control" [(ngModel)]="visbocenter.name" placeholder="Name">
        <label id="VCName" *ngIf="!hasVCPerm(permVC.Modify)" class="col-8 form-control-static">{{ visbocenter.name }} </label>
      </div>
      <div class="form-group row">
        <label for="vcDescription" class="col-3 col-md-2 col-form-label">{{ 'vcDetail.lbl.description' | translate }}:</label>
        <textarea id="VCDesc" *ngIf="hasVCPerm(permVC.Modify)" name=vcDescription class="col-8 form-control" [(ngModel)]="visbocenter.description" placeholder="Type in your description"></textarea>
        <label id="VCDesc" *ngIf="!hasVCPerm(permVC.Modify)" class="col-8 form-control-static">{{ visbocenter.description }} </label>
      </div>
      <div class="form-group row d-none d-md-block">
        <label for="Created" class="col-3 col-md-2 col-form-label">{{ 'vcDetail.lbl.createdUpdated' | translate }}:</label>
        <label id="VCCreated" class="col-4 form-control-static col-form-label">{{ visbocenter.createdAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
        <label id="VCUpdated" class="col-4 form-control-static col-form-label">{{ visbocenter.updatedAt | date :'dd.MM.yyyy HH:mm:ss'}} </label>
      </div>
    </form>
    <div *ngIf="getVCPerm() != permVC.View">
      <div class="btn-toolbar" class="mb-2" style="">
        <button id="ViewAudit" *ngIf="hasVCPerm(permVC.ViewAudit)" type="button" class="btn btn-md btn-light mr-1" (click)="gotoVCAudit(visbocenter)">{{ 'vcDetail.btn.viewAudit' | translate }}</button>
        <button id="ViewGroup" *ngIf="showList == 'Users'" type="button" class="btn btn-md btn-light mx-1" (click)="switchView('Groups')">{{ 'vcDetail.btn.viewGroups' | translate }}</button>
        <button id="ViewUser" *ngIf="showList != 'Users'" type="button" class="btn btn-md btn-light mx-1" (click)="switchView('Users')">{{ 'vcDetail.btn.viewUsers' | translate }}</button>
        <button id="ViewProjectUser" *ngIf="vgVPUsers && vgVPUsers.length > 0" type="button" class="btn btn-md btn-light mx-1" (click)="switchView('ProjectUsers')">{{ 'vcDetail.btn.viewProjectUsers' | translate }}</button>
        <div class="btn-group">
          <button type="button" class="align-items-end btn btn-md btn-light" (click)="showOrganisation()">{{ 'vcDetail.btn.ViewOrganisation' | translate }}</button>
          <div class="dropdown-toggle btn btn-light" data-toggle="dropdown">
            <div class="dropdown-menu">
              <div id="ViewSetting" class="dropdown-item" (click)="showSetting()" >{{ 'vcDetail.btn.ViewSetting' | translate }} </div>
              <div id="ViewEnable" class="dropdown-item" (click)="showEnableDisable()" >{{ 'vcDetail.btn.ViewEnableDisable' | translate }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="getVCPerm() != permVC.View">
      <div *ngIf="showList == 'Users'" >
        <div class='row'>
          <div class='col'>
            <h4 class='panel-heading'>
                {{ 'vcDetail.titleUsers' | translate }}
            </h4>
          </div>
          <div *ngIf="hasVCPerm(permVC.ManagePerm)" class='col'>
            <!-- Button trigger modal -->
            <button id="AddUser" type="button" class="my-1 btn btn-primary float-right" data-toggle="modal" data-target="#VcUserModalCreate">
              {{ 'vcDetail.btn.addUser' | translate }}
            </button>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead id="UserHead">
              <tr>
                <th>{{ 'vcDetail.lbl.nr' | translate }}</th>
                <th (click)="sortUserTable(1)">{{ 'vcDetail.lbl.email' | translate }}</th>
                <th (click)="sortUserTable(2)">{{ 'vcDetail.lbl.group' | translate }}</th>
                <th *ngIf="hasVCPerm(permVC.ManagePerm)">{{ 'vcDetail.lbl.delete' | translate }}</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody id="UserList">
              <tr *ngFor="let member of vgUsers; let memberIndex=index"> <!-- class="danger"> -->
                <td>{{memberIndex+1}}</td>
                <td id="ColUser" (click)='calcCombinedPerm(memberIndex)' data-toggle="modal" data-target="#VCUserDetail"><a>{{member.email}}</a></td>
                <td id="ColGroup" (click)="switchView('Groups')"><a>{{member.groupName}}</a></td>
                <td *ngIf="hasVCPerm(permVC.ManagePerm)">
                  <button id="ColDeleteUser" class="Detail" title="{{ 'vcDetail.lbl.deleteUser' | translate }}" (click)='helperUserIndex(memberIndex)'
                  data-toggle="modal" data-target="#VcUserRemove">&times;</button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
      </div>

      <div *ngIf="showList == 'Groups'" >
        <div class='row'>
          <div class='col'>
            <h5 class='panel-heading'>
                {{ 'vcDetail.titleGroups' | translate }}
            </h5>
          </div>
          <div *ngIf="hasVCPerm(permVC.ManagePerm)" class='col'>
            <!-- Button trigger modal -->
            <button id="AddGroup" type="button" class="btn btn-primary float-right" (click)="initGroup(null)" data-toggle="modal" data-target="#VcGroupModalCreate">
              {{ 'vcDetail.btn.addGroup' | translate }}
            </button>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead id="GroupHead">
              <tr>
                <th>{{ 'vcDetail.lbl.nr' | translate }}</th>
                <th (click)="sortGroupTable(1)">{{ 'vcDetail.lbl.group' | translate }}</th>
                <th (click)="sortGroupTable(2)">{{ 'vcDetail.lbl.members' | translate }}</th>
                <th >{{ 'vcDetail.lbl.type' | translate }}</th>
                <th *ngIf="hasVCPerm(permVC.ManagePerm)">{{ 'vcDetail.lbl.delete' | translate }}</th>
                <th>{{ 'vcDetail.lbl.info' | translate }}</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody id="GroupList">
              <tr *ngFor="let member of vgGroups; let memberIndex=index">
                <td>{{memberIndex+1}}</td>
                <td id="ColGroup" (click)='groupIndex = memberIndex; initGroup(member)' data-toggle="modal" data-target="#VcGroupModalCreate"><a>{{member.name}}</a></td>
                <td id="ColMembers" (click)="switchView('Users')"><a>{{member.users.length}}</a></td>
                <td id="ColGlobal" *ngIf="member.global">{{ 'vcDetail.lbl.global' | translate }}</td>
                <td id="ColGlobal" *ngIf="!member.global"></td>
                <td *ngIf="hasVCPerm(permVC.ManagePerm)">
                  <button id="ColDeleteGroup" class="Detail" title="{{ 'vcDetail.msg.removeGroup' | translate }}" (click)='helperRemoveGroup(memberIndex)'
                  data-toggle="modal" data-target="#VcGroupRemove">&times;</button>
                </td>
                <td>
                  <button id="ColDetail" class="Detail" title="{{ 'vcDetail.msg.detailGroup' | translate }}"
                   (click)='initGroup(member)' data-toggle="modal" data-target="#VcGroupModalCreate">i</button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
      </div>

      <div *ngIf="showList == 'ProjectUsers'" >
        <div class='row'>
          <div class='col'>
            <h5 class='panel-heading'>
                {{ 'vcDetail.titleProjectUsers' | translate }}
            </h5>
          </div>
        </div>
        <div class='panel-body'>
          <table class='table table-hover'>
            <!--Table head-->
            <thead>
              <tr>
                <th>{{ 'vcDetail.lbl.nr' | translate }}</th>
                <th (click)="sortVPUserTable(1)">{{ 'vcDetail.lbl.email' | translate }}</th>
                <th (click)="sortVPUserTable(2)">{{ 'vcDetail.lbl.project' | translate }}</th>
                <th>{{ 'vcDetail.lbl.group' | translate }}</th>
              </tr>
            </thead>
            <!--Table body-->
            <tbody>
              <tr *ngFor="let member of vgVPUsers; let memberIndex=index" (click)="gotoVPDetail(member.vpid)"> <!-- class="danger"> -->
                <td>{{memberIndex+1}}</td>
                <td>{{member.users.email}}</td>
                <td>{{member.vp.name}}</td>
                <td>{{member.groupName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="showList == 'Organisation'">
      <div class='row'>
        <div class='col'>
          <h4 class='panel-heading'>
              {{ 'vcDetail.titleOrganisations' | translate }}
          </h4>
        </div>
        <div *ngIf="hasVCPerm(permVC.ManagePerm) && errorList.length == 0" class='col'>
          <!-- Button trigger modal -->
          <button id="AddOrganisation" type="button" class="my-1 btn btn-primary float-right" data-toggle="modal" data-target="#VcOrganisationModalUpload">
            {{ 'vcDetail.btn.changeOrganisation' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="errorList.length > 0" class="card col-10 px-0 mb-1">
        <h5 class="card-header p-2">
          <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: 3}"></ng-container></strong>
          {{ 'vcDetail.msg.errorList' | translate }}
          <button id="AddOrganisation" type="button" class="my-1 btn btn-secondary float-right" (click)="resetError()">
            {{ 'vcDetail.btn.reset' | translate }}
          </button>
        </h5>
        <div class="card-body p-2">
          <div *ngFor="let item of errorList" class="row">
            <div class="col col-sm-8">
              {{item}}
            </div>
          </div>
        </div>
      </div>
      <div class='panel-body'>
        <table class='table table-hover'>
          <!--Table head-->
          <thead id="OrganisationHead">
            <tr>
              <th>{{ 'vcDetail.lbl.nr' | translate }}</th>
              <th (click)="sortOrganisationTable(2)">{{ 'vcDetail.lbl.timestamp' | translate }}</th>
              <th (click)="sortOrganisationTable(1)">{{ 'vcDetail.lbl.settingName' | translate }}</th>
              <th (click)="sortOrganisationTable(3)">{{ 'vcDetail.lbl.updatedAt' | translate }}</th>
              <th *ngIf="hasVCPerm(permVC.ManagePerm)">{{ 'vcDetail.lbl.delete' | translate }}</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody id="OrganisationList">
            <tr *ngFor="let item of vcOrganisations; let itemIndex=index">
              <td>{{itemIndex+1}}</td>
              <!-- <button id="OrganisationDownload" type="submit" class="btn btn-primary mx-1" (click)="downloadOrganisation()" data-dismiss="modal">{{ 'vcDetail.btn.download' | translate }}</button> -->
              <td id="ColOrganisationTimestamp" (click)='downloadOrganisation(itemIndex)' title="{{ 'vcDetail.btn.download' | translate }}">{{item.timestamp | date : 'dd.MM.yyyy'}}</td>
              <td id="ColOrganisationName" (click)='downloadOrganisation(itemIndex)' title="{{ 'vcDetail.btn.download' | translate }}"><a>{{item.name}}</a></td>
              <td id="ColOrganisationDate">{{item.updatedAt | date : 'dd.MM.yy'}}</td>
              <td *ngIf="hasVCPerm(permVC.Modify)">
                <div *ngIf="canDeleteOrga(item)">
                  <button id="ColDeleteOrganisation" class="Detail" (click)='initOrganisation(itemIndex)' title="{{ 'vcDetail.lbl.deleteOrganisation' | translate }}"
                  data-toggle="modal" data-target="#VcOrganisationRemove">&times;</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="showList == 'Settings'">
      <div class='row'>
        <div class='col'>
          <h4 class='panel-heading'>
              {{ 'vcDetail.titleSettings' | translate }}
          </h4>
        </div>
        <!-- <div *ngIf="hasVCPerm(permVC.ManagePerm) && errorList.length == 0" class='col'>
          <button id="AddSetting" type="button" class="my-1 btn btn-primary float-right" data-toggle="modal" data-target="#VcSettingModalUpload">
            {{ 'vcDetail.btn.addSetting' | translate }}
          </button>
        </div> -->
      </div>
      <div class='panel-body'>
        <table class='table table-hover'>
          <!--Table head-->
          <thead id="SettingHead">
            <tr>
              <th>{{ 'vcDetail.lbl.nr' | translate }}</th>
              <th (click)="sortSettingTable(1)">{{ 'vcDetail.lbl.settingName' | translate }}</th>
              <th (click)="sortSettingTable(2)">{{ 'vcDetail.lbl.timestamp' | translate }}</th>
              <th (click)="sortSettingTable(3)">{{ 'vcDetail.lbl.updatedAt' | translate }}</th>
              <th *ngIf="hasVCPerm(permVC.ManagePerm)">{{ 'vcDetail.lbl.delete' | translate }}</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody id="SettingList">
            <tr *ngFor="let item of vcSettings; let itemIndex=index">
              <td>{{itemIndex+1}}</td>
              <td id="ColSettingName" (click)='initSetting(itemIndex)' data-toggle="modal" data-target="#VcSettingDetail"><a>{{item.name}}</a></td>
              <td id="ColSettingTimestamp">{{item.timestamp | date : 'dd.MM.yyyy'}}</td>
              <td id="ColSettingDate" *ngIf="isToday(item.updatedAt)">{{item.updatedAt | date : 'HH:mm:ss'}}</td>
              <td id="ColSettingDate" *ngIf="!isToday(item.updatedAt)">{{item.updatedAt | date : 'dd.MM.yy'}}</td>
              <td *ngIf="hasVCPerm(permVC.Modify)">
                <button id="ColDeleteSetting" class="Detail" (click)='initSetting(itemIndex)' title="{{ 'vcDetail.lbl.deleteSetting' | translate }}"
                data-toggle="modal" data-target="#VcSettingRemove">&times;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="showList == 'SettingEnableDisable'">
      <div class='row'>
        <div class='col'>
          <h5 class='panel-heading'>
              {{ 'vcDetail.titleEnableDisable' | translate }}
          </h5>
        </div>
      </div>
      <div class='panel-body'>
        <table class='table table-hover table-sortable'>
          <!--Table head-->
          <thead>
            <tr>
              <th (click)="sortSettingEnabledDisabled(1)">{{ 'vcDetail.lbl.settingName' | translate }}</th>
              <th class="d-none d-md-table-cell" (click)="sortSettingEnabledDisabled(5)">{{ 'vcDetail.lbl.settingLimit' | translate }}</th>
              <th class="d-none d-md-table-cell">{{ 'vcDetail.lbl.settingEnabled' | translate }}</th>
              <th (click)="sortSettingEnabledDisabled(10)">{{ 'vcDetail.lbl.updatedAt' | translate }}</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <tr *ngFor="let setting of vcSettingsEnableDisable; let settingIndex=index" (click)="editEnableDisable(settingIndex)" data-toggle="modal" data-target="#ViewEnableDisable">
              <td><a>{{setting.name}}</a></td>
              <td><a>
                  <ng-container *ngTemplateOutlet="showLimit; context:{level: setting.value.sysVCLimit == true}"></ng-container>
              </a></td>
              <td><a>
                  <ng-container *ngTemplateOutlet="showEnabled; context:{level: setting.value.VCEnabled == true}"></ng-container>
              </a></td>
              <td>{{setting.updatedAt | date :'dd.MM HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #showLimit let-level="level">
      <i class="fas fa-lg" [ngClass]="{'fa-toggle-on text-success': level == true}"></i>
    </ng-template>

    <ng-template #showEnabled let-level="level">
      <i class="far fa-lg" [ngClass]="{'fa-check-circle text-success': level == true, 'fa-times-circle text-danger': level == false}"></i>
    </ng-template>


    <div class="mb-3">
      <button id="Save" *ngIf="hasVCPerm(permVC.Modify)" (click)="save()" class="btn btn-primary mx-1">{{ 'vcDetail.btn.save' | translate }}</button>
      <button class="btn btn-secondary mx-1" (click)="goBack()">{{ 'vcDetail.btn.back' | translate }}</button>
    </div>

    <!-- Modal View & Edit Setting Enable / Disable -->
    <div class="modal fade" id="ViewEnableDisable" tabindex="-1" role="dialog" aria-labelledby="View Enable Disable" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document" *ngIf="vcSettingsEnableDisable && indexEnableDisable >= 0">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ConfigDetailTitle">{{ 'vcDetail.btn.edit' | translate }} {{vcSettingsEnableDisable[indexEnableDisable].name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
                <div *ngIf="vcSettingsEnableDisable[indexEnableDisable].value.sysVCLimit" class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check5" name="VCEnabled" [(ngModel)]="vcSettingsEnableDisable[indexEnableDisable].value.VCEnabled" #VCEnabled="ngModel" disabled>
                    <label class="custom-control-label" for="check5">{{ 'vcDetail.lbl.settingEnabled' | translate }}</label>
                </div>
                <div *ngIf="!vcSettingsEnableDisable[indexEnableDisable].value.sysVCLimit" class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check5" name="VCEnabled" [(ngModel)]="vcSettingsEnableDisable[indexEnableDisable].value.VCEnabled" #VCEnabled="ngModel">
                    <label class="custom-control-label" for="check5">{{ 'vcDetail.lbl.settingEnabled' | translate }}</label>
                </div>
            </form>
          </div>
          <div class="modal-footer align-items-end">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'vcDetail.btn.back' | translate }}</button>
            <button *ngIf="hasVCPerm(permVC.Modify) && !vcSettingsEnableDisable[indexEnableDisable].value.sysVCLimit" type="button" class="btn btn-primary" (click)="updateConfig(vcSettingsEnableDisable[indexEnableDisable])" data-dismiss="modal">{{ 'vcDetail.btn.save' | translate }}</button>
          </div>
        </div>
      </div>
    </div>

  <!-- Modal Add VC User -->
  <div class="modal fade" id="VcUserModalCreate" tabindex="-1" role="dialog" aria-labelledby="VcUserModalCreateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VcUserModalCenterTitle">{{ 'vcDetail.titleAddUser' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="newUserInvite" #f1="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !email.valid }">
              <label for="email" class="col-form-label">{{ 'vcDetail.lbl.email' | translate }}:</label>
              <input id="AddUserName" type="email" class="form-control" name="email" [(ngModel)]="newUserInvite.email" #email="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" autocomplete="email">
              <div *ngIf="f1.submitted && !email.valid" class="help-block">{{ 'vcDetail.msg.emailRequired' | translate }}</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !group.valid }">
              <label for="group" class="col-form-label">{{ 'vcDetail.lbl.group' | translate }}:</label>
              <select id="AddUserGroupName" class="form-control" name="group" [(ngModel)]="newUserInvite.groupName" #group="ngModel" required>
                <option></option>
                <option *ngFor="let groupItem of vgGroups">{{groupItem.name}}</option>
              </select>
              <div *ngIf="f1.submitted && !group.valid" class="help-block">{{ 'vcDetail.msg.groupRequired' | translate }}</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !inviteMessage.valid }">
              <label for="inviteMessage" class="col-form-label">{{ 'vcDetail.lbl.message' | translate }}:</label>
              <textarea id="AddUserMessage" class="form-control" name="inviteMessage" [(ngModel)]="newUserInvite.inviteMessage" #inviteMessage="ngModel" > </textarea>
            </div>
            <div *ngIf="f1.submitted && !inviteMessage.valid" class="help-block">{{ 'vcDetail.msg.invalidMessage' | translate }}</div>
            <div class="modal-footer align-items-end">
              <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vcDetail.btn.cancel' | translate }}</button>
              <button id="AddUserConfirm" *ngIf="!(email.valid && group.valid)" type="submit" class="btn btn-primary mx-1" >{{ 'vcDetail.btn.invite' | translate }}</button>
              <button id="AddUserConfirm" *ngIf="email.valid && group.valid" type="submit" class="btn btn-primary mx-1" (click)="addNewVCUser()" data-dismiss="modal">{{ 'vcDetail.btn.invite' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete User -->
  <div class="modal fade" id="VcUserRemove" tabindex="-1" role="dialog" aria-labelledby="VcUserModalRemoveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="userIndex >= 0 && userIndex < vgUsers.length">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VcUserRemoveTitle">{{ 'vcDetail.titleRemoveUser' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">{{ 'vcDetail.msg.removeUserConfirm' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="VcName" class="col-form-label">{{ 'vcDetail.lbl.vc' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visbocenter.name }} </label>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ 'vcDetail.lbl.user' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vgUsers[userIndex].email }}</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ 'vcDetail.lbl.group' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vgUsers[userIndex].groupName }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vcDetail.btn.back' | translate }}</button>
          <button id="DeleteUserConfirm" type="button" class="btn btn-warning mx-1" (click)="removeVCUser(vgUsers[userIndex], visbocenter._id)" data-dismiss="modal">{{ 'vcDetail.btn.delete' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Add/Change VC Group -->
  <div class="modal fade" id="VcGroupModalCreate" tabindex="-1" role="dialog" aria-labelledby="VcGroupModalCreateTitle" aria-hidden="true">
    <div *ngIf="actGroup" class="modal-dialog modal-dialog-centered" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="actGroup._id" class="modal-title" id="VcGroupModalCenterTitle">{{ 'vcDetail.titleModifyGroup' | translate }}</h5>
          <h5 *ngIf="!actGroup._id" class="modal-title" id="VcGroupModalCenterTitle">{{ 'vcDetail.titleAddGroup' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="actGroup" #f2="ngForm" novalidate>
            <div *ngIf="actGroup.internal" class="form-group" [ngClass]="{ 'has-error': f2.submitted }">
              <label for="groupName" class="col-form-label">{{ 'vcDetail.lbl.name' | translate }}:</label>
              <label name="groupName" class="col-form-label">{{actGroup.name}}</label>
            </div>
            <div *ngIf="!actGroup.internal" class="form-group" [ngClass]="{ 'has-error': f2.submitted }">
              <label for="groupName" class="col-form-label">{{ 'vcDetail.lbl.name' | translate }}:</label>
              <input id="AddGroupName" type="text" class="form-control" name="groupName" [(ngModel)]="actGroup.name" #groupName="ngModel" required minlength="3">
              <div *ngIf="groupName.errors && (groupName.dirty || groupName.touched)" class="help-block">{{ 'vcDetail.msg.groupNameRequired' | translate }}</div>
            </div>
            <!-- VC Permissions -->
            <div>{{ 'perm.titleVCPerm' | translate }}</div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="perm1" name="checkedView" [(ngModel)]="actGroup.checkedView" #checkedView="ngModel">
                <label class="custom-control-label" for="perm1">{{ 'perm.vcView' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="perm2" name="checkedViewAudit" [(ngModel)]="actGroup.checkedViewAudit" #checkedViewAudit="ngModel" >
                <label class="custom-control-label" for="perm2">{{ 'perm.vcViewAudit' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="perm3" name="checkedModify" [(ngModel)]="actGroup.checkedModify" #checkedModify="ngModel" >
                <label class="custom-control-label" for="perm3">{{ 'perm.vcModify' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="perm4" name="checkedCreateVP" [(ngModel)]="actGroup.checkedCreateVP" #checkedCreateVP="ngModel" >
                <label class="custom-control-label" for="perm4">{{ 'perm.vcCreateVP' | translate }}</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="perm5" name="checkedManagePerm" [(ngModel)]="actGroup.checkedManagePerm" #checkedManagePerm="ngModel" >
                <label class="custom-control-label" for="perm5">{{ 'perm.vcManagePerm' | translate }}</label>
            </div>
            <br>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="global" name="global" [(ngModel)]="actGroup.global" #global="ngModel" >
                <label class="custom-control-label" for="global">{{ 'perm.vcGlobal' | translate }}</label>
            </div>
            <div *ngIf="actGroup.global" class="mt-2">
            <!-- VP Permissions -->
              <div>{{ 'perm.titleVPPerm' | translate }}</div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP1" name="checkedVPView" [(ngModel)]="actGroup.checkedVPView" #checkedVPView="ngModel">
                  <label class="custom-control-label" for="permVP1">{{ 'perm.vpView' | translate }}</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP2" name="checkedVPViewAudit" [(ngModel)]="actGroup.checkedVPViewAudit" #checkedVPViewAudit="ngModel" >
                  <label class="custom-control-label" for="permVP2">{{ 'perm.vpViewAudit' | translate }}</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP3" name="checkedVPModify" [(ngModel)]="actGroup.checkedVPModify" #checkedVPModify="ngModel" >
                  <label class="custom-control-label" for="permVP3">{{ 'perm.vpModify' | translate }}</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP4" name="checkedCreateVariant" [(ngModel)]="actGroup.checkedCreateVariant" #checkedCreateVariant="ngModel" >
                  <label class="custom-control-label" for="permVP4">{{ 'perm.vpCreateVariant' | translate }}</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP5" name="checkedVPManagePerm" [(ngModel)]="actGroup.checkedVPManagePerm" #checkedVPManagePerm="ngModel" >
                  <label class="custom-control-label" for="permVP5">{{ 'perm.vpManagePerm' | translate }}</label>
              </div>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="permVP6" name="checkedVPDelete" [(ngModel)]="actGroup.checkedVPDelete" #checkedVPDelete="ngModel" >
                  <label class="custom-control-label" for="permVP6">{{ 'perm.vpDelete' | translate }}</label>
              </div>
            </div>
            <div *ngIf="helperUsersPerGroup(actGroup.name)" class="mt-2">
              <label class="form-control-static">{{ 'perm.lblGroupMembers' | translate }}</label>
              <ng-container class="row" *ngFor="let member of vgUsers; let memberIndex=index" >
                <div class="col-8 ml-3" *ngIf="member.groupName == actGroup.name">
                  <a (click)="activateUser(member)" data-dismiss="modal" data-toggle="modal" data-target="#VCUserDetail">{{ member.email }}</a>
                </div>
              </ng-container>
            </div>
            <div *ngIf="!helperUsersPerGroup(actGroup.name)" class="mt-2">
              <label class="form-control-static">{{ 'perm.lblNoGroupMembers' | translate }}</label>
            </div>
            <div class="modal-footer align-items-end">
              <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vcDetail.btn.back' | translate }}</button>
              <button id="AddGroupConfirm" *ngIf="!(f2.form.valid && hasVCPerm(permVC.ManagePerm))" class="btn btn-primary disabled mx-1" >{{this.confirm}}</button>
              <button id="AddGroupConfirm" *ngIf="(f2.form.valid && hasVCPerm(permVC.ManagePerm))" class="btn btn-primary mx-1" (click)="addModifyVCGroup()" data-dismiss="modal">{{this.confirm}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete Group -->
  <div class="modal fade" id="VcGroupRemove" tabindex="-1" role="dialog" aria-labelledby="VcGroupModalRemoveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="groupIndex >= 0 && groupIndex < vgGroups.length">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VcUserRemoveTitle">{{ 'vcDetail.titleDeleteGroup' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">{{ 'vcDetail.msg.removeGroupConfirm' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="VcName" class="col-form-label">{{ 'vcDetail.lbl.vc' | translate }}:</label>
              <label class="col-8 form-control-static">{{ visbocenter.name }} </label>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ 'vcDetail.lbl.group' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vgGroups[groupIndex].name }}</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ 'vcDetail.lbl.members' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vgGroups[groupIndex].users.length }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vcDetail.btn.back' | translate }}</button>
          <button id="DeleteGroupConfirm" type="button" class="btn btn-warning mx-1" (click)="removeVCGroup(vgGroups[groupIndex])" data-dismiss="modal">{{ 'vcDetail.btn.delete' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Show User Permission -->
  <div *ngIf="vgUsers && userIndex >= 0" class="modal fade" id="VCUserDetail" tabindex="-1" role="dialog" aria-labelledby="VCUserDetailTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VCUserDetailTitle">{{ 'vcDetail.titlePermUser' | translate:{'name': vgUsers[userIndex].email} }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="mt-2">{{ 'perm.titleVCPerm' | translate }}</div>
          <div class="custom-control custom-checkbox">
              <input *ngIf="hasUserVCPerm(permVC.View)" type="checkbox" checked disabled class="custom-control-input" id="perm1" name="checkedView" >
              <input *ngIf="!hasUserVCPerm(permVC.View)" type="checkbox" disabled class="custom-control-input" id="perm1" name="checkedView" >
              <label class="custom-control-label" for="perm1">{{ 'perm.vcView' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVCPerm(permVC.ViewAudit)" type="checkbox" checked disabled class="custom-control-input" id="perm2" name="checkedView" >
            <input *ngIf="!hasUserVCPerm(permVC.ViewAudit)" type="checkbox" disabled class="custom-control-input" id="perm2" name="checkedView" >
            <label class="custom-control-label" for="perm2">{{ 'perm.vcViewAudit' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVCPerm(permVC.Modify)" type="checkbox" checked disabled class="custom-control-input" id="perm3" name="checkedView" >
            <input *ngIf="!hasUserVCPerm(permVC.Modify)" type="checkbox" disabled class="custom-control-input" id="perm3" name="checkedView" >
            <label class="custom-control-label" for="perm3">{{ 'perm.vcModify' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVCPerm(permVC.CreateVP)" type="checkbox" checked disabled class="custom-control-input" id="perm4" name="checkedView" >
            <input *ngIf="!hasUserVCPerm(permVC.CreateVP)" type="checkbox" disabled class="custom-control-input" id="perm4" name="checkedView" >
            <label class="custom-control-label" for="perm4">{{ 'perm.vcCreateVP' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVCPerm(permVC.ManagePerm)" type="checkbox" checked disabled class="custom-control-input" id="perm5" name="checkedView" >
            <input *ngIf="!hasUserVCPerm(permVC.ManagePerm)" type="checkbox" disabled class="custom-control-input" id="perm5" name="checkedView" >
            <label class="custom-control-label" for="perm5">{{ 'perm.vcManagePerm' | translate }}</label>
          </div>
          <br>
          <!-- VP Permissions -->
          <div>{{ 'perm.titleVPPerm' | translate }}</div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.View)" type="checkbox" checked disabled class="custom-control-input" id="permVP1" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.View)" type="checkbox" disabled class="custom-control-input" id="permVP1" name="checkedView" >
            <label class="custom-control-label" for="permVP1">{{ 'perm.vpView' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.ViewAudit)" type="checkbox" checked disabled class="custom-control-input" id="permVP2" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.ViewAudit)" type="checkbox" disabled class="custom-control-input" id="permVP2" name="checkedView" >
            <label class="custom-control-label" for="permVP2">{{ 'perm.vpViewAudit' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.Modify)" type="checkbox" checked disabled class="custom-control-input" id="permVP3" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.Modify)" type="checkbox" disabled class="custom-control-input" id="permVP3" name="checkedView" >
            <label class="custom-control-label" for="permVP3">{{ 'perm.vpModify' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.CreateVariant)" type="checkbox" checked disabled class="custom-control-input" id="permVP4" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.CreateVariant)" type="checkbox" disabled class="custom-control-input" id="permVP4" name="checkedView" >
            <label class="custom-control-label" for="permVP4">{{ 'perm.vpCreateVariant' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.ManagePerm)" type="checkbox" checked disabled class="custom-control-input" id="permVP5" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.ManagePerm)" type="checkbox" disabled class="custom-control-input" id="permVP5" name="checkedView" >
            <label class="custom-control-label" for="permVP5">{{ 'perm.vpManagePerm' | translate }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input *ngIf="hasUserVPPerm(permVP.DeleteVP)" type="checkbox" checked disabled class="custom-control-input" id="permVP6" name="checkedView" >
            <input *ngIf="!hasUserVPPerm(permVP.DeleteVP)" type="checkbox" disabled class="custom-control-input" id="permVP6" name="checkedView" >
            <label class="custom-control-label" for="permVP6">{{ 'perm.vpDelete' | translate }}</label>
          </div>
          <label class="form-control-static mt-2">{{ 'perm.lblGroupMembership' | translate }}</label>
          <ng-container class="row" *ngFor="let member of vgUsers; let memberIndex=index" >
            <div class="col-8 ml-3" *ngIf="member.email == vgUsers[userIndex].email">
              <a (click)="activateGroup(member)" data-dismiss="modal" data-toggle="modal" data-target="#VcGroupModalCreate">{{ member.groupName }}</a>
            </div>
          </ng-container>

          <div class="modal-footer align-items-end">
            <button id="ButtonBack" class="btn btn-primary" data-dismiss="modal">{{ 'vcDetail.btn.back' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal View VCSetting -->
  <div class="modal fade" id="VcSettingDetail" tabindex="-1" role="dialog" aria-labelledby="VcSettingDetailTitle" aria-hidden="true">
    <div *ngIf="vcSetting" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VcSettingDetailTitle">{{ 'vcDetail.titleSettings' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="settingDetail">
            <div class="form-group">
              <label for="SettingName" class="col-4 col-form-label">{{ 'vcDetail.lbl.settingName' | translate }}:</label>
              <label id="SettingName" class="col-8 form-control-static">{{ vcSetting.name }} </label>
            </div>
            <div class="form-group">
              <label for="SettingType" class="col-4 col-form-label">{{ 'vcDetail.lbl.settingType' | translate }}:</label>
              <label id="SettingType" class="col-8 form-control-static">{{ vcSetting.type }} </label>
            </div>
            <div class="form-group">
              <label for="Timestamp" class="col-4 col-form-label">{{ 'vcDetail.lbl.timestamp' | translate }}:</label>
              <label id="Timestamp" class="col-8 form-control-static">{{ vcSetting.timestamp | date : 'dd.MM.yy' }} </label>
            </div>
            <div class="form-group">
              <label for="updatedAt" class="col-4 col-form-label">{{ 'vcDetail.lbl.updatedAt' | translate }}:</label>
              <label id="updatedAt" class="col-8 form-control-static">{{ vcSetting.updatedAt | date : 'dd.MM.yy'}} </label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vcDetail.btn.cancel' | translate }}</button>
          <button id="SettingDownload" type="submit" class="btn btn-primary mx-1" (click)="downloadSetting()" data-dismiss="modal">{{ 'vcDetail.btn.download' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete Setting -->
  <div class="modal fade" id="VcSettingRemove" tabindex="-1" role="dialog" aria-labelledby="VcSettingRemoveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="vcSetting">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VcSettingRemoveTitle">{{ 'vcDetail.titleDeleteSetting' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">{{ 'vcDetail.msg.removeSettingConfirm' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="SettingName" class="col-4 col-form-label">{{ 'vcDetail.lbl.setting' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vcSetting.name }} </label>
            </div>
            <div class="form-group">
              <label for="SettingType" class="col-4 col-form-label">{{ 'vcDetail.lbl.settingType' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vcSetting.type }} </label>
            </div>
            <div *ngIf="vcSetting.timestamp" class="form-group">
              <label for="SettingTS" class="col-4 col-form-label">{{ 'vcDetail.lbl.timestamp' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vcSetting.timestamp | date : 'dd.MM.yyyy HH:mm' }} </label>
            </div>
            <div class="form-group">
              <label for="SettingUpdated" class="col-4 col-form-label">{{ 'vcDetail.lbl.updatedAt' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vcSetting.updatedAt | date : 'dd.MM.yyyy HH:mm' }} </label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vcDetail.btn.back' | translate }}</button>
          <button id="DeleteGroupConfirm" type="button" class="btn btn-warning mx-1" (click)="removeVCSetting(vcSetting)" data-dismiss="modal">{{ 'vcDetail.btn.delete' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Upload Organisation -->
  <div class="modal fade" id="VcOrganisationModalUpload" tabindex="-1" role="dialog" aria-labelledby="VcOrganisationModalUploadTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VcSettingUploadTitle">{{ 'vcDetail.titleUploadOrga' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <input type="file" class="file-upload" (change)="onFileSelected($event)" accept=".json,.csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vcDetail.btn.cancel' | translate }}</button>
          <button *ngIf="newFile" id="AddSettingConfirm" type="button" class="btn btn-primary mx-1" (click)="addOrganisation()" data-dismiss="modal" data-toggle="modal" data-target="#VcOrganisationModalSave">{{ 'vcDetail.btn.upload' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Save Organisation -->
  <div class="modal fade" id="VcOrganisationModalSave" tabindex="-1" role="dialog" aria-labelledby="VcOrganisationModalSaveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VcSOrganisationSaveTitle">{{ 'vcDetail.titleSaveOrga' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="newOrgaList" class="modal-body">
          <select id="DropDownSave" class="form-control mx-1" name="orgaSaveMode" [(ngModel)]="orgaSaveMode">
            <option value = 'new'>{{ 'vcDetail.lbl.newOrga' | translate }}</option>
            <option value = 'update' *ngIf="vcOrganisations.length">{{ 'vcDetail.lbl.updateOrga' | translate }}</option>
          </select>
          <form class="mt-2">
            <div class="form-group row">
              <label for="nameOrga" class="col-4 col-form-label pt-2">{{ 'vcDetail.lbl.name' | translate }}:</label>
              <input id="nameOrga" name=newOrgaName type="text" class="col-6 form-control" [(ngModel)]="newOrgaName" placeholder="Name">
            </div>
            <div class="form-group row">
              <label for="timestampOrga" class="col-4 col-form-label">{{ 'vcDetail.lbl.valid' | translate }}:</label>
              <label *ngIf="orgaSaveMode == 'update'" id="timestampOrga" class="form-control-static pt-2">{{ latestOrgaTimestamp | date :'dd.MM.yyyy'}}</label>
              <!-- <label *ngIf="orgaSaveMode == 'new'" id="timestampOrga" class="form-control-static">{{ newOrgaTimestamp | date :'dd.MM.yyyy'}}</label> -->
              <input *ngIf="orgaSaveMode == 'new'" id="timestampOrga" type="date" class="col-6 col-form-label" name="newOrgaTimestamp" [ngModel]="newOrgaTimestamp | date:'yyyy-MM-dd'"  min="{{minOrgaTimestamp | date:'yyyy-MM-dd'}}" (input)="newOrgaTimestamp=parseDate($event.target.value, true)">
            </div>
            <div class="form-group row">
              <label for="orgaUnits" class="col-4 col-form-label">{{ 'vcDetail.lbl.nrRoles' | translate }}:</label>
              <label id="orgaUnits" class="form-control-static pt-2">{{ newOrgaList.length }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal" data-toggle="modal" data-target="#VcOrganisationModalUpload" (click)="initOrganisationCreate()">{{ 'vcDetail.btn.back' | translate }}</button>
          <button id="AddOrganisationConfirm" type="button" class="btn btn-primary mx-1" (click)="saveOrganisation()" data-dismiss="modal">{{ 'vcDetail.btn.save' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete Organisation -->
  <div class="modal fade" id="VcOrganisationRemove" tabindex="-1" role="dialog" aria-labelledby="VcOrganisationRemoveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="vcOrganisation">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="VcOrganisationRemoveTitle">{{ 'vcDetail.titleDeleteOrganisation' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label class="bg-warning">{{ 'vcDetail.msg.removeOrganisationConfirm' | translate }}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="OrganisationName" class="col-4 col-form-label">{{ 'vcDetail.lbl.name' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vcOrganisation.name }} </label>
            </div>
            <div *ngIf="vcOrganisation.timestamp" class="form-group">
              <label for="OrganisationTS" class="col-4 col-form-label">{{ 'vcDetail.lbl.timestamp' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vcOrganisation.timestamp | date : 'dd.MM.yyyy HH:mm' }} </label>
            </div>
            <div class="form-group">
              <label for="OrganisationUpdated" class="col-4 col-form-label">{{ 'vcDetail.lbl.updatedAt' | translate }}:</label>
              <label class="col-8 form-control-static">{{ vcOrganisation.updatedAt | date : 'dd.MM.yyyy HH:mm' }} </label>
            </div>
          </form>
        </div>
        <div class="modal-footer align-items-end">
          <button id="ButtonBack" type="button" class="btn btn-secondary mx-1" data-dismiss="modal">{{ 'vcDetail.btn.back' | translate }}</button>
          <button id="DeleteGroupConfirm" type="button" class="btn btn-warning mx-1" (click)="removeVCOrganisation(vcOrganisation)" data-dismiss="modal">{{ 'vcDetail.btn.delete' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #indicator let-level="level">
  <i class="fa" [ngClass]="{'fa-check-circle text-success': level == 1, 'fa-exclamation-triangle text-warning': level == 2, 'fa-exclamation-circle text-danger': level == 3}"></i>
</ng-template>
