#sortEmail {
    cursor: pointer;
}
#sortGroup {
    cursor: pointer;
}
#sortType {
    cursor: pointer;
}
#sortMembers {
    cursor: pointer;
}
#sortTS {
    cursor: pointer;
}
#sortUpdatedAt {
    cursor: pointer;
}
#sortSettTab {
    cursor: pointer;
}
#AddUserGroupName {
    cursor: pointer;
}
#startDateID {
    cursor: pointer;
}
#endDateID {
    cursor: pointer;
}