<app-usernavbar></app-usernavbar>
<div class="cld-date">
  <div class="calendar">
    {{"vtr.fromDate" | translate}}
    <input
      (change)="updateFilter()"
      [(ngModel)]="startDate"
      [max]="endDate"
      class="col-2 col-sm-2 form-control" id="startDate"
      type="date">
    {{"vtr.toDate" | translate}}
    <input
      (ngModelChange)="updateFilter()"
      [(ngModel)]="endDate"
      [min]="startDate"
      class="col-2 col-sm-2 form-control"
      id="endDate"
      type="date">
  </div>
  <button (click)="approveAllTimeRecords()"
          [disabled]="!managerTimeTrackerList?.length">{{"vtr.approveAll" | translate}}</button>
</div>

<table class="table table-hover table-sortable" style="width:100%">
  <thead>
  <tr class="col-center">
    <!-- <th (click)="sortVTRTable(1)">{{'vtr.title' | translate}} <i class="fa fa-sort"></i></th> -->
    <th class="d-none d-md-table-cell">{{'vtr.titleVCN' | translate}}</th>
    <th (click)="sortVTRTable(2)" class="d-none d-md-table-cell">
      {{'vtr.titleProject' | translate}}
      <i class="fa fa-sort"></i>
    </th>
    <th
      (click)="sortVTRTable(3)"
      class="d-none d-md-table-cell">
      {{'vtr.titleDate' | translate}}
    </th>
    <th
      class="d-none d-md-table-cell">
      {{'vtr.titleDescription' | translate}}
    </th>
    <th
      (click)="sortVTRTable(4)"
      class="d-none d-md-table-cell">
      {{'vtr.titleHours' | translate}}
      <i class="fa fa-sort"></i>
    </th>
    <th
      (click)="sortVTRTable(5)"
      class="d-none d-md-table-cell">
      {{'vtr.titleApprove' | translate}}
      <i class="fa fa-sort"></i>
    </th>
    <th></th>
    <!-- <th class="d-none d-md-table-cell"></th> -->
  </tr>
  </thead>
  <tbody>
  <tr (click)="selectRow(user)" *ngFor="let user of originalColumns; let vpIndex=index" class="col-center">
    <!-- <td>{{user.userId}}</td> -->
    <td class="d-none d-md-table-cell">{{user.vcName}}</td>
    <td class="d-none d-md-table-cell">{{user.vpName}}</td>
    <td class="d-none d-md-table-cell">{{user.date | date :'dd.MM.yyyy'}}</td>
    <td class="d-none d-md-table-cell"><span class="short">{{user.notes}}</span></td>
    <td class="d-none d-md-table-cell">{{user.time}}</td>
    <td class="d-none d-md-table-cell">{{user.status}}</td>
    <td>
      <button
        (click)="openEditModal(user)"
        *ngIf="!checkIsCreatorOfRecord(user)"
        [disabled]="user.status === 'Approved'"
        data-target="#VtrModalEdit"
        data-toggle="modal">
        Edit
      </button>
      <button
        (click)="openEditModal(user, true)"
        *ngIf="checkIsCreatorOfRecord(user)"
        [disabled]="user.status === 'Approved'"
        data-target="#VtrModalCreate"
        data-toggle="modal">
        Edit
      </button>
    </td>
  </tr>

  </tbody>
  <button
    (click)="this.clearEditModal()"
    class="btn btn-warning btn-circle"
    data-target="#VtrModalCreate"
    data-toggle="modal"
    type="button"
  >
    <i class="fa fa-plus" style="font-size:16px;"></i>
  </button>
</table>


<!-- Button to Open the Modal -->

<!-- <button type="button" class="m-2 btn btn-primary"  >{{ 'vp.btn.create' | translate }}</button> -->

<!-- The Modal Employee -->
<div
  #VtrModalCreate
  aria-hidden="true"
  class="modal fade"
  id="VtrModalCreate"
  role="dialog"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{!isCreatorOfRecord ? ("vtr.mdl.addNewEmployee" | translate) : 'Edit Record'}}</h4>
        <button (click)="clearEditModal()" aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="userForm">

          <div class="form-group">
            <label for="visboCenterSelect">{{"vtr.mdl.Centre" | translate}}</label>
            <select
              class="form-control"
              formControlName="vcid"
              id="visboCenterSelect">
              <option *ngFor="let center of visboCentersList" [value]="center._id">{{ center.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="projectNameSelect">{{"vtr.mdl.Project" | translate}}</label>
            <select class="form-control w-100" formControlName="vpid" id="projectNameSelect">
              <option *ngFor="let project of selectedCenterProjects" [value]="project?._id">{{ project.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="date">{{"vtr.mdl.Date" | translate}}</label>
            <input class="form-control" formControlName="date" id="date" type="date">
          </div>
          <div class="form-group">
            <label for="notes">{{"vtr.mdl.Description" | translate}}</label>
            <textarea class="form-control" formControlName="notes" id="notes"></textarea>
          </div>
          <div class="form-group">
            <label for="time">{{"vtr.mdl.Hours" | translate}}</label>
            <input class="form-control" formControlName="time" id="time" type="number">
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          (click)="clearEditModal()"
          class="btn btn-secondary mx-1"
          data-dismiss="modal"
          type="button">
          {{ 'vtr.btn.cancel' | translate }}
        </button>
        <button
          (click)="isCreatorOfRecord ? saveChanges() : addEmployee()"
          [disabled]="userForm.invalid"
          class="btn btn-primary mx-1"
          data-dismiss="modal"
          id="AddGroupConfirm"
          type="button"
        >
          {{ 'vtr.btn.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- The Modal Manager-->
<div
  aria-hidden="true"
  aria-labelledby="VtrModalEditLabel"
  class="modal fade"
  id="VtrModalEdit"
  role="dialog"
  tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- [disabled]="userForm.invalid" -->
      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="userForm">
          <div class="form-group">
            <div> Name - <b>{{userForm.get('userId').value}}</b></div>
            <div> Visbo Center - <b>{{userForm.get('vcid').value}}</b></div>
            <div> Visbo Project - <b>{{userForm.get('vpid').value}}</b></div>
            <div> Description - <b>{{userForm.get('notes').value}}</b></div>
            <div> Hours - <b>{{userForm.get('time').value}}</b></div>
          </div>

          <div class="form-group">
            <label for="approveStatus">{{"vtr.mdl.Approve" | translate}}</label>
            <select class="form-control" formControlName="status" id="approveStatus">
              <option
                *ngFor="let status of vtrApprove"
                [ngValue]="status"
                [selected]="status === userForm.value.status">{{ status }}</option>
            </select>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="saveChanges()" [disabled]="!userForm.valid" class="btn btn-primary"
                data-dismiss="modal"
                type="button">{{'vtr.btn.save' | translate}}</button>
      </div>

    </div>
  </div>
</div>

