<app-usernavbar></app-usernavbar>
<div class='well'>
  <div *ngIf="vpActive && vpfActive" class='row'>
    <div class='col'>
      <h2>
        {{ 'vpfVersion.title' | translate }}:
        <a (click)="gotoVPDetail(vpActive)"> {{vpActive.name}}</a>
        <span *ngIf="vpfActive.variantName" class="ml-2"> ({{vpfActive.variantName}})</span>
        <span class="ml-2">{{ 'vpfVersion.lbl.from' | translate }} </span>
        <span  class="ml-2" data-toggle="modal" data-target="#VPFVersionSelect"><a> {{ vpfActive.timestamp | date : 'dd.MM.yy' }}</a></span>
      </h2>
      <h5 *ngIf="vpActive">{{ 'vpfVersion.titleVC' | translate }}:
        <a (click)="gotoVC(vpActive)">{{ vpActive.vc.name }}</a>
      </h5>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <h3 class="col-6 px-0">
        <div class="d-none d-lg-block">{{ 'vpfVersion.titleKM' | translate }} {{vpvRefDate | date: 'dd.MM.yyyy'}}</div>
        <div class="d-block d-lg-none">{{ 'vpfVersion.titleKMShort' | translate }}: {{vpvRefDate | date: 'dd.MM'}}</div>
      </h3>
      <div class="col-4">
        <div class="row">
          <span style="font-size: 2.2em" class="mx-1 fas fa-caret-square-left" title="{{ 'vpViewCost.lbl.previousPeriod' | translate:{'refDate': vpvRefDate | date :'dd.MM'} }}" (click)='getNextVersion(-1)'></span>
          <select class="col-4 form-control" name="refDateInterval" [(ngModel)]="refDateInterval">
            <option value="day">{{ 'vpfVersion.lbl.day' | translate }}</option>
            <option value="week">{{ 'vpfVersion.lbl.week' | translate }}</option>
            <option value="month">{{ 'vpfVersion.lbl.month' | translate }}</option>
            <option value="quarter">{{ 'vpfVersion.lbl.quarter' | translate }}</option>
          </select>
          <span style="font-size: 2.2em" class="mx-1 fas fa-caret-square-right" title="{{ 'vpViewCost.lbl.nextPeriod' | translate:{'refDate': vpvRefDate | date :'dd.MM'} }}" (click)='getNextVersion(1)'></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 btn-toolbar" style="padding: unset;">
        <button type="button" class="btn btn-md btn-light mr-1" (click)='changeView("KeyMetrics")'>{{ 'vpfVersion.btn.viewKeyMetrics' | translate }}</button>
        <button *ngIf="hasVCPerm(permVC.ViewAudit)" type="button" class="btn btn-md btn-light mr-1" (click)='changeView("Capacity")'>{{ 'vpfVersion.btn.viewCapacity' | translate }}</button>
        <!-- <button type="button" class="btn btn-md btn-light mr-1" (click)='changeView("ProjectBoard")'>{{ 'vpfVersion.btn.viewProjectBoard' | translate }}</button> -->
        <button type="button" class="btn btn-md btn-light mr-1" (click)='changeView("List")'>{{ 'vpfVersion.btn.viewList' | translate }}</button>
      </div>
      <div class="col-3 mt-2 text-warning text-right" *ngIf="isVersionMismatch()">
          {{ 'vpfVersion.msg.warningVersionMismatch' | translate:{'count': this.vpvWithKM, 'total': vpList.length} }}
      </div>
    </div>
  </div>
    

  <div *ngIf="currentView == 'Capacity' && vpActive && vpfActive">
    <hr>
    <app-comp-viewcapacity [vpActive]="vpActive" [vpfActive]="vpfActive" [refDate]="vpvRefDate" [combinedPerm]="combinedPerm"></app-comp-viewcapacity>
  </div>
  <div *ngIf="currentView == 'KeyMetrics' && visboprojectversions">
    <hr>
    <app-comp-viewkeymetrics [activeID]="vpActive._id" [visboprojectversions]="visboprojectversions" [combinedPerm]="combinedPerm"></app-comp-viewkeymetrics>
  </div>
  <div *ngIf="currentView == 'List' && vpfActive" class="mt-3">
    <table class='table table-hover table-sortable'>
      <!--Table head-->
      <thead>
        <tr>
          <th class="d-none d-md-table-cell">{{ 'vpfVersion.lbl.nr' | translate }}</th>
          <th (click)="sortTable(1)">{{ 'vpfVersion.lbl.name' | translate }}</th>
          <th (click)="sortTable(2)">{{ 'vpfVersion.lbl.variant' | translate }}</th>
          <th (click)="sortTable(3)">{{ 'vpfVersion.lbl.timestamp' | translate }}</th>
          <th (click)="sortTable(4)">{{ 'vpfVersion.lbl.keyMetrics' | translate }}</th>
        </tr>
      </thead>
      <!--Table body-->
      <tbody>
        <tr *ngFor="let vpItem of vpList; let vpIndex=index" (click)="gotoVP(vpItem.vpid)" >
          <td class="d-none d-md-table-cell">{{vpIndex+1}}</td>
          <td><a>{{vpItem.name}}</a></td>
          <td>{{vpItem.variantName}}</td>
          <td>{{vpItem.timestamp | date: 'dd.MM.yy HH:mm'}}</td>
          <td><i *ngIf="vpItem.keyMetricsSet" class="fas fa-check-circle" style="color:green"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="VPFVersionSelect" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VPFVersionSelectTitle">{{ 'vpfVersion.titleSelectVersion' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="my-0">{{ 'vpfVersion.titleVersion' | translate }}:</label>
        <select class="form-control" id="dropDownSelected" name="dropDownSelected" [(ngModel)]="dropDownSelected">
          <option *ngFor="let item of dropDown">{{item.name}}</option>
        </select>
      </div>
      <div class="modal-footer align-items-end">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'vpfVersion.btn.back' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changePFVersion()">{{ 'vpfVersion.btn.change' | translate }}</button>
      </div>
    </div>
  </div>
</div>
