<div *ngIf="visbokeymetrics" class='well' (resized)="onResized($event)">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col col-sm-12 col-lg-8">
      <div *ngIf="metricList.length >= 2" class='container-fluid'>
        <div class="row text-dark hidden-print">
          <div class="my-1 pl-0 col-11">
              <span>{{ 'compViewBubble.lbl.show' | translate }} </span>
              <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfMetricSelector">{{getMetric('X')}}</a></span>
              <span> {{ 'compViewBubble.lbl.and' | translate }} </span>
              <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfMetricSelector">{{getMetric('Y')}}</a></span>
              <span> {{ 'compViewBubble.lbl.planVsBase' | translate }}</span>
              <span class="ml-2"><a data-toggle="modal" data-target="#VpfMetricSelector"><i class="fa fa-cog" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
      <div class='container-fluid'>
        <div class="row text-dark">
          <div class="my-1 pl-0 col-11">
            <span> {{ 'compViewBubble.lbl.filter' | translate }}:</span>
            <input class="ml-2" type="text" (keyup)="visboKeyMetricsCalc()" [(ngModel)]="vpFilter" placeholder="Filter">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="visbokeymetrics.length > 0 && hasKMCost" class="col-sm-12 col-md-10 col-lg-4 card align-right px-0">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <h5 class="card-header p-2">
        <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getLevel(estimateAtCompletion, budgetAtCompletion)}"></ng-container></strong>
        {{ 'compViewBubble.metric.costName' | translate }}
      </h5>
      <div class="card-body p-2">
        <!-- <ng-container *ngTemplateOutlet="cardRow; context:{label: 'compViewBubble.lbl.nrProjects', title: '', value: visboprojectversions.length }"></ng-container> -->
        <div class="row">
          <div class="col col-sm-8">
            {{ 'compViewBubble.lbl.nrProjects' | translate }}
          </div>
          <div class="col col-sm-4 text-right">
            <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: countKM < visbokeymetrics.length ? 2 : 1}"></ng-container></strong>
            {{countKM}} / {{visbokeymetrics.length}}
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-8" title="{{ 'keyMetrics.longEAC' | translate }}">
            {{ 'keyMetrics.shortEAC' | translate }} ({{ 'keyMetrics.longEAC' | translate }})
          </div>
          <div class="col col-sm-4 text-right">
            <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getLevel(estimateAtCompletion, budgetAtCompletion)}"></ng-container></strong>
            {{estimateAtCompletion | number:'1.0-0'}} T€
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-8" title="{{ 'keyMetrics.longBAC' | translate }}">
            {{ 'keyMetrics.shortBAC' | translate }} ({{ 'keyMetrics.longBAC' | translate }})
          </div>
          <div class="col col-sm-4 text-right">
            {{budgetAtCompletion | number:'1.0-0'}} T€
          </div>
        </div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>

  <div>
    <div *ngIf="chart" class='container-fluid'>
      <div *ngIf="countKM > 0 && graphBubbleData">
        <app-bubble-chart [graphData]="graphBubbleData" [graphOptions]="graphBubbleOptions" [parentThis]="parentThis" [language]="currentLang"></app-bubble-chart>
      </div>
    </div>

    <div *ngIf="chart==false" class='mt-3 container-fluid'>
      <div class='panel-body'>
        <table class='table table-hover table-sortable'>
          <thead>
            <tr>
              <th class="d-none d-lg-table-cell">{{ 'compViewBubble.lbl.nr' | translate }}</th>
              <th (click)="sortKeyMetricsTable(1)">{{ 'compViewBubble.lbl.project' | translate }}</th>
              <th *ngIf="hasVariant" class="d-none d-lg-table-cell" (click)="sortKeyMetricsTable(12)">{{ 'compViewBubble.lbl.variant' | translate }}</th>
              <th class="d-none d-xl-table-cell" (click)="sortKeyMetricsTable(13)">{{ 'compViewBubble.lbl.timestamp' | translate }}</th>
              <th (click)="sortKeyMetricsTable(14)">{{ 'keyMetrics.lbl.trafficLight' | translate }}</th>
              <th *ngIf="selectedMetric('Costs')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(3)">{{ 'compViewBubble.lbl.bac' | translate }}</th>
              <th *ngIf="selectedMetric('Costs')" class="text-right" (click)="sortKeyMetricsTable(2)">{{metricLabel('Costs', 'table')}}</th>
              <th *ngIf="selectedMetric('EndDate')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(5)">{{ 'compViewBubble.lbl.endDate' | translate }}</th>
              <th *ngIf="selectedMetric('EndDate')" class="text-right" (click)="sortKeyMetricsTable(4)">{{metricLabel('EndDate', 'table')}}</th>
              <th *ngIf="selectedMetric('Deadlines')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(7)">{{ 'compViewBubble.lbl.deadlines' | translate }}</th>
              <th *ngIf="selectedMetric('Deadlines')" class="text-right" (click)="sortKeyMetricsTable(6)">{{metricLabel('Deadlines', 'table')}}</th>
              <th *ngIf="selectedMetric('DeadlinesUnFinishedDelay')" class="text-right" (click)="sortKeyMetricsTable(11)">{{metricLabel('DeadlinesUnFinishedDelay', 'table')}}</th>
              <th *ngIf="selectedMetric('DeadlinesFinishedDelay')" class="text-right" (click)="sortKeyMetricsTable(10)">{{metricLabel('DeadlinesFinishedDelay', 'table')}}</th>
              <th *ngIf="selectedMetric('Deliveries')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(9)">{{ 'compViewBubble.lbl.deliveries' | translate }}</th>
              <th *ngIf="selectedMetric('Deliveries')" class="text-right" (click)="sortKeyMetricsTable(8)">{{metricLabel('Deliveries', 'table')}}</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let vp of visbokeymetrics; let vpIndex=index" (click)='gotoClickedRow(vp)'
                data-toggle="modal" data-target="#ProjectDetail">
              <td class="d-none d-lg-table-cell">{{vpIndex+1}}</td>
              <td>{{vp.name }}</td>
              <td *ngIf="hasVariant" class="d-none d-lg-table-cell">{{vp.variantName}}</td>
              <td class="d-none d-xl-table-cell" title="{{vp.timestamp | date :'dd.MM.yy HH:MM'}}">{{vp.timestamp | date :'dd.MM.yy'}}</td>
              <td title="{{vp.ampelErlaeuterung}}">
                <ng-container *ngTemplateOutlet="trafficLight; context:{level: vp.ampelStatus} " ></ng-container>
              </td>
                <td *ngIf="selectedMetric('Costs') && vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.keyMetrics.costBaseLastTotal | number:'1.0-0'}} k€</td>
                <td *ngIf="selectedMetric('Costs') && vp.keyMetrics" class="text-right"
                        title="{{vp.keyMetrics.costCurrentTotal | number:'1.0-0'}} k€">
                  <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.savingCostTotal, 'percentOver')} " ></ng-container>
                  {{vp.savingCostTotal*100 | number:'1.0-0'}} %
                </td>
                <td *ngIf="selectedMetric('Costs') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"></td>
                <td *ngIf="selectedMetric('Costs') && !vp.keyMetrics"></td>

                <td *ngIf="selectedMetric('EndDate') && vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.keyMetrics.endDateBaseLast | date :'dd.MM.yyyy'}}</td>
                <td *ngIf="selectedMetric('EndDate') && vp.keyMetrics" class="text-right"
                        title="{{vp.keyMetrics.endDateCurrent | date :'dd.MM.yyyy'}}">
                  <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.savingEndDate, 'delay')} " ></ng-container>
                  {{vp.savingEndDate | number:'1.0-0' }} weeks
                </td>
                <td *ngIf="selectedMetric('EndDate') && !vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.endDate | date :'dd.MM.yyyy'}}</td>
                <td *ngIf="selectedMetric('EndDate') && !vp.keyMetrics" class="text-right"></td>

                <td *ngIf="selectedMetric('Deadlines') && vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.keyMetrics.timeCompletionBaseLastActual | number:'1.0-0'}}</td>
                <td *ngIf="selectedMetric('Deadlines') && vp.keyMetrics" class="text-right"
                        title="{{vp.keyMetrics.timeCompletionCurrentActual | number:'1.0-0'}}">
                  <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.timeCompletionActual, 'percentUnder')} " ></ng-container>
                  {{vp.timeCompletionActual*100 | number:'1.0-0'}} %
                </td>
                <td *ngIf="selectedMetric('Deadlines') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"></td>
                <td *ngIf="selectedMetric('Deadlines') && !vp.keyMetrics" class="text-right"></td>

                <td *ngIf="selectedMetric('DeadlinesUnFinishedDelay') && vp.keyMetrics" class="text-right">{{vp.keyMetrics.timeDelayUnFinished || 0 | number:'1.0-0'}} {{ 'compViewBubble.lbl.days' | translate }}</td>
                <td *ngIf="selectedMetric('DeadlinesFinishedDelay') && vp.keyMetrics" class="text-right">{{vp.keyMetrics.timeDelayFinished || 0 | number:'1.0-0'}} {{ 'compViewBubble.lbl.days' | translate }}</td>
                <td *ngIf="selectedMetric('DeadlinesUnFinishedDelay') && !vp.keyMetrics" class="text-right"></td>
                <td *ngIf="selectedMetric('DeadlinesFinishedDelay') && !vp.keyMetrics" class="text-right"></td>

                <td *ngIf="selectedMetric('Deliveries') && vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.keyMetrics.deliverableCompletionBaseLastActual | number:'1.0-0'}}</td>
                <td *ngIf="selectedMetric('Deliveries') && vp.keyMetrics" class="text-right"
                        title="{{vp.keyMetrics.deliverableCompletionCurrentActual | number:'1.0-0'}}">
                  <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.deliveryCompletionActual, 'percentUnder')} " ></ng-container>
                  {{vp.deliveryCompletionActual*100 | number:'1.0-0'}} %
                </td>
                <td *ngIf="selectedMetric('Deliveries') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"></td>
                <td *ngIf="selectedMetric('Deliveries') && !vp.keyMetrics"></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="visbokeymetrics.length == 0">
    <h3 class="d-flex justify-content-center">
      {{ 'compViewBubble.msg.noVersions' | translate }}
    </h3>
  </div>
</div>

<ng-template #cardRow let-label="label" let-title="title" let-value="value">
  <div class="row">
    <div class="col col-sm-8" title="{{title | translate}}">
      {{label | translate }}
    </div>
    <div class="col col-sm-4 text-right">
      {{value}}
    </div>
  </div>
</ng-template>

<ng-template #indicator let-level="level">
  <i class="fa" [ngClass]="{'fa-check-circle text-success': level == 1, 'fa-exclamation-triangle text-warning': level == 2, 'fa-exclamation-circle text-danger': level == 3}"></i>
</ng-template>

<ng-template #trafficLight let-level="level">
  <i class="fas fa-lightbulb" [ngClass]="{'text-secondary': level == 0, 'text-success': level == 1, 'text-warning': level == 2, 'text-danger': level == 3}"></i>
</ng-template>

<!-- Modal Change Key metrics -->
<div class="modal fade" id="VpfMetricSelector" tabindex="-1" role="dialog" aria-labelledby="VpfMetricSelectorTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VpfMetricSelectorTitle">{{ 'compViewBubble.titleChange' | translate }}</h5>
        <button type="button" class="close"  (click)="changeChart()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" novalidate>
          <div class="form-group">
            <label for="XLabel" class="col-form-label">{{ 'compViewBubble.lbl.xAxis' | translate }}:</label>
            <select class="form-control" id="XLabel" name="metricX" [(ngModel)]="metricX">
              <option *ngFor="let metricItem of metricList; let metricIndex=index" value="{{metricIndex}}">{{metricItem.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="YLabel" class="col-form-label">{{ 'compViewBubble.lbl.yAxis' | translate }}:</label>
            <select class="form-control" id="YLabel" name="metricY" [(ngModel)]="metricY">
              <option *ngFor="let metricItem of metricList; let metricIndex=index" value="{{metricIndex}}">{{metricItem.name}}</option>
            </select>
          </div>
          <div class="modal-footer align-items-end">
            <button type="button" class="btn btn-secondary" (click)="changeChart()" data-dismiss="modal">{{ 'compViewBubble.btn.cancel' | translate }}</button>
            <button type="submit" class="btn btn-primary" (click)="changeChart()" data-dismiss="modal">{{ 'compViewBubble.btn.change' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
