<div *ngIf="visbokeymetrics" class='well' (resized)="onResized($event)">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col col-sm-12 col-lg-8">
      <div *ngIf="metricListFiltered && metricListFiltered.length >= 2 && !getPreView()" class='container-fluid d-print-none'>
        <div class="row text-dark hidden-print">
          <div class="my-1 pl-1 col-11">
              <span>{{ 'compViewBubble.lbl.show' | translate }} </span>
              <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfMetricSelector">{{getMetric(this.metricX).name}}</a></span>
              <span> {{ 'compViewBubble.lbl.and' | translate }} </span>
              <span class="font-weight-bold"><a data-toggle="modal" data-target="#VpfMetricSelector">{{getMetric(this.metricY).name}}</a></span>
              <span> {{ 'compViewBubble.lbl.planVsBase' | translate }}</span>
              <span class="ml-2"><a data-toggle="modal" data-target="#VpfMetricSelector"><i class="fa fa-cog" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
      <div *ngIf="filter || !getPreView()" class='container-fluid text-dark'>
        <div class="my-1 row">
          <div class="ml-2">
            <span> {{ 'compViewBubble.lbl.filter' | translate }}:</span>
            <input class="ml-2 col-form-control" type="text" (keyup)="filterKeyBoardEvent($event)" [(ngModel)]="filter" placeholder="Filter">
          </div>
          <span *ngIf="dropDownVPStatus && filterVPStatusIndex >= 0" class="dropdown ml-2 my-1 d-print-none">
            <span> {{ 'compViewBubble.lbl.vpStatus' | translate }}: </span>
            <a class="dropdown-toggle" data-toggle="dropdown" style="!important">{{ getVPStatus(true) }}</a>
            <div class="dropdown-menu">
              <a *ngFor="let item of dropDownVPStatus; let itemIndex = index" class="dropdown-item">
                <div class="dropdown-item" (click)="filterEventVPStatus(itemIndex)">{{ item.localName }}</div>
              </a>
            </div>
          </span>
          <span *ngIf="dropDownBU && filterBU != undefined" class="dropdown ml-2 my-1 d-print-none">
            <span> {{ 'compViewBubble.lbl.bu' | translate }}: </span>
            <a class="dropdown-toggle" data-toggle="dropdown" style="!important">{{filterBU || dropDownBU[0]}}</a>
            <div class="dropdown-menu">
              <a *ngFor="let item of dropDownBU; let itemIndex = index" class="dropdown-item">
                <div class="dropdown-item" (click)="filterEventBU(itemIndex)">{{ item }}</div>
              </a>
            </div>
          </span>
          <div class="ml-2" *ngIf="filterStrategicFit >= 0">
            <span> {{ 'compViewBubble.lbl.strategicFit' | translate }} >=</span>
            <input class="ml-2 col-form-control" type="number" (change)="filterKeyBoardEvent($event)" [(ngModel)]="filterStrategicFit" min=0 max=10>
          </div>
          <div class="ml-2" *ngIf="filterRisk >= 0">
            <span> {{ 'compViewBubble.lbl.risk' | translate }} >=</span>
            <input class="ml-2 col-form-control" type="number" (change)="filterKeyBoardEvent($event)" [(ngModel)]="filterRisk" min=0 max=10>
          </div>
          <div class="ml-2">
            <button type="button" class="btn btn-md btn-light my-0 py-1" id="exportExcel" (click)='exportExcel()'>
              {{ 'compViewBubble.btn.exportExcel' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="visbokeymetrics.length > 0 && hasKMCost" class="col-sm-12 col-md-10 col-lg-4 card align-right px-0">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <h5 class="card-header p-2">
        <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getLevel(estimateAtCompletion, budgetAtCompletion)}"></ng-container></strong>
        {{ 'compViewBubble.metric.costName' | translate }}
      </h5>
      <div class="card-body p-2">
        <!-- <ng-container *ngTemplateOutlet="cardRow; context:{label: 'compViewBubble.lbl.nrProjects', title: '', value: visboprojectversions.length }"></ng-container> -->
        <div class="row">
          <div class="col col-sm-8">
            {{ 'compViewBubble.lbl.nrProjects' | translate }}
          </div>
          <div class="col col-sm-4 text-right">
            <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: countKM < visbokeymetrics.length ? 2 : 1}"></ng-container></strong>
            {{countKM}} / {{visbokeymetrics.length}}
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-8" title="{{ 'keyMetrics.longEAC' | translate }}">
            {{ 'keyMetrics.shortEAC' | translate }} ({{ 'keyMetrics.longEAC' | translate }})
          </div>
          <div class="col col-sm-4 text-right">
            <strong class="mr-1"><ng-container *ngTemplateOutlet="indicator; context:{level: getLevel(estimateAtCompletion, budgetAtCompletion)}"></ng-container></strong>
            {{estimateAtCompletion | number:'1.0-0'}} T€
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-8" title="{{ 'keyMetrics.longBAC' | translate }}">
            {{ 'keyMetrics.shortBAC' | translate }} ({{ 'keyMetrics.longBAC' | translate }})
          </div>
          <div class="col col-sm-4 text-right">
            {{budgetAtCompletion | number:'1.0-0'}} T€
          </div>
        </div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>

  <div>
    <div *ngIf="chart" class='container-fluid'>
      <div *ngIf="countKM > 0 && graphBubbleData">
        <app-bubble-chart [graphData]="graphBubbleData" [graphOptions]="graphBubbleOptions" [parentThis]="parentThis" [language]="currentLang"></app-bubble-chart>
      </div>
    </div>

    <div *ngIf="chart==false" class='mt-3 container-fluid'>
      <div class='panel-body'>
        <table class='table table-hover table-sortable'>
          <thead>
            <tr>
              <th class="d-none d-lg-table-cell">{{ 'compViewBubble.lbl.nr' | translate }}</th>
              <th (click)="sortKeyMetricsTable(1)">{{ 'compViewBubble.lbl.project' | translate }}</th>
              <th *ngIf="hasVariant" class="d-none d-lg-table-cell" (click)="sortKeyMetricsTable(12)">{{ 'compViewBubble.lbl.variant' | translate }}</th>

              <th *ngIf="selectedMetric('ActualCost')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(16)">{{ 'compViewBubble.lbl.pv' | translate }}</th>
              <th *ngIf="selectedMetric('ActualCost')" class="text-right" (click)="sortKeyMetricsTable(15)">{{getMetric('ActualCost').table}}</th>
              <th *ngIf="selectedMetric('Cost')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(3)">{{ 'compViewBubble.lbl.bac' | translate }}</th>
              <th *ngIf="selectedMetric('Cost')" class="text-right" (click)="sortKeyMetricsTable(2)">{{getMetric('Cost').table}}</th>
              <th *ngIf="selectedMetric('CostPredict')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(3)">{{ 'compViewBubble.lbl.bac' | translate }}</th>
              <th *ngIf="selectedMetric('CostPredict')" class="text-right" (click)="sortKeyMetricsTable(17)">{{getMetric('CostPredict').table}}</th>

              <th *ngIf="selectedMetric('EndDate')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(5)">{{ 'compViewBubble.lbl.endDate' | translate }}</th>
              <th *ngIf="selectedMetric('EndDate')" class="text-right" (click)="sortKeyMetricsTable(4)">{{getMetric('EndDate').table}}</th>
              <th *ngIf="selectedMetric('Deadline')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(7)">{{ 'compViewBubble.lbl.deadlines' | translate }}</th>
              <th *ngIf="selectedMetric('Deadline')" class="text-right" (click)="sortKeyMetricsTable(6)">{{getMetric('Deadline').table}}</th>
              <th *ngIf="selectedMetric('DeadlineUnFinishedDelay')" class="text-right" (click)="sortKeyMetricsTable(11)">{{getMetric('DeadlineUnFinishedDelay').table}}</th>
              <th *ngIf="selectedMetric('DeadlineFinishedDelay')" class="text-right" (click)="sortKeyMetricsTable(10)">{{getMetric('DeadlineFinishedDelay').table}}</th>
              <th *ngIf="selectedMetric('Delivery')" class="text-right d-none d-md-table-cell" (click)="sortKeyMetricsTable(9)">{{ 'compViewBubble.lbl.deliveries' | translate }}</th>
              <th *ngIf="selectedMetric('Delivery')" class="text-right" (click)="sortKeyMetricsTable(8)">{{getMetric('Delivery').table}}</th>

              <th class="d-none d-lg-table-cell" (click)="sortKeyMetricsTable(19)">{{ 'keyMetrics.lbl.vpStatus' | translate }}</th>
              <th (click)="sortKeyMetricsTable(14)">{{ 'keyMetrics.lbl.trafficLight' | translate }}</th>
              <th class="text-right d-none d-xl-table-cell" (click)="sortKeyMetricsTable(13)">{{ 'compViewBubble.lbl.timestamp' | translate }}</th>
              <th *ngIf="hasCommitDate()" class="text-right d-none d-lg-table-cell" (click)="sortKeyMetricsTable(18)">{{ 'compViewBubble.lbl.commit' | translate }}</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let vp of visbokeymetrics; let vpIndex=index" (click)='gotoClickedRow(vp)'
                data-toggle="modal" data-target="#ProjectDetail">
              <td class="d-none d-lg-table-cell">{{vpIndex+1}}</td>
              <td>{{vp.name }}</td>
              <td *ngIf="hasVariant" class="d-none d-lg-table-cell">{{vp.variantName}}</td>
              <td class="text-right d-none d-xl-table-cell"  title="{{getTimestampTooltip(vp)}}">{{vp.timestamp | date :'dd.MM.yy'}}</td>               
              <td id="ColCommitDate" class="text-right d-none d-md-table-cell" title="{{getPMCommitTooltip(vp.vp)}}" *ngIf="hasCommitDate()" >{{getCommitDate(vp.vp)  | date :'dd.MM.yy'}}</td>
                           
              <td title="{{vp.ampelErlaeuterung}}">
                <ng-container *ngTemplateOutlet="trafficLight; context:{level: vp.ampelStatus} " ></ng-container>
              </td>
              <td *ngIf="selectedMetric('ActualCost') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"></td>
              <td *ngIf="selectedMetric('ActualCost') && !vp.keyMetrics"></td>
                      title="{{(vp.keyMetrics.costCurrentActual || 0) | number:'1.0-0'}} T€">
                <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.savingCostActual, 'percentOver')} " ></ng-container>
                {{vp.savingCostActual*100 | number:'1.0-0'}} %
              
              <td *ngIf="selectedMetric('Cost') && vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.keyMetrics.costBaseLastTotal | number:'1.0-0'}} T€</td>
              <td *ngIf="selectedMetric('Cost') && vp.keyMetrics" class="text-right"
                      title="{{vp.keyMetrics.costCurrentTotal | number:'1.0-0'}} T€">
                <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.savingCostTotal, 'percentOver')} " ></ng-container>
                {{vp.savingCostTotal*100 | number:'1.0-0'}} %
              </td>
              <td *ngIf="selectedMetric('Cost') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"></td>
              <td *ngIf="selectedMetric('Cost') && !vp.keyMetrics"></td>

              <td *ngIf="selectedMetric('CostPredict') && vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.keyMetrics.costBaseLastTotal | number:'1.0-0'}} T€</td>
              <td *ngIf="selectedMetric('CostPredict') && vp.keyMetrics" class="text-right"
                      title="{{vp.keyMetrics.costCurrentTotalPredict | number:'1.0-0'}} T€">
                <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.savingCostTotalPredict, 'percentOver')} " ></ng-container>
                {{vp.savingCostTotalPredict*100 | number:'1.0-0'}} %
              </td>
              <td *ngIf="selectedMetric('CostPredict') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"></td>
              <td *ngIf="selectedMetric('CostPredict') && !vp.keyMetrics"></td>

              <td *ngIf="selectedMetric('EndDate') && vp.keyMetrics" class="text-right d-none d-md-table-cell"
                      title="{{vp.keyMetrics.endDateCurrent | date :'dd.MM.yyyy HH:mm'}}">{{vp.keyMetrics.endDateBaseLast | date :'dd.MM.yy'}}</td>
              <td *ngIf="selectedMetric('EndDate') && vp.keyMetrics" class="text-right"
                      title="{{vp.keyMetrics.endDateCurrent | date :'dd.MM.yyyy HH:mm'}}">
                <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.savingEndDate, 'delay')} " ></ng-container>
                {{vp.savingEndDate | number:'1.0-0' }} weeks
              </td>
              <td *ngIf="selectedMetric('EndDate') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"
                  title="{{vp.endDate | date :'dd.MM.yyyy HH:mm'}}">{{vp.endDate | date :'dd.MM.yy'}}</td>
              <td *ngIf="selectedMetric('EndDate') && !vp.keyMetrics" class="text-right"></td>

              <td *ngIf="selectedMetric('Deadline') && vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.keyMetrics.timeCompletionBaseLastActual | number:'1.0-0'}}</td>
              <td *ngIf="selectedMetric('Deadline') && vp.keyMetrics" class="text-right"
                      title="{{vp.keyMetrics.timeCompletionCurrentActual | number:'1.0-0'}}">
                <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.timeCompletionActual, 'percentUnder')} " ></ng-container>
                {{vp.timeCompletionActual*100 | number:'1.0-0'}} %
              </td>
              <td *ngIf="selectedMetric('Deadline') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"></td>
              <td *ngIf="selectedMetric('Deadline') && !vp.keyMetrics" class="text-right"></td>

              <td *ngIf="selectedMetric('DeadlineUnFinishedDelay') && vp.keyMetrics" class="text-right">{{vp.keyMetrics.timeDelayUnFinished || 0 | number:'1.0-0'}} {{ 'compViewBubble.lbl.days' | translate }}</td>
              <td *ngIf="selectedMetric('DeadlineFinishedDelay') && vp.keyMetrics" class="text-right">{{vp.keyMetrics.timeDelayFinished || 0 | number:'1.0-0'}} {{ 'compViewBubble.lbl.days' | translate }}</td>
              <td *ngIf="selectedMetric('DeadlineUnFinishedDelay') && !vp.keyMetrics" class="text-right"></td>
              <td *ngIf="selectedMetric('DeadlineFinishedDelay') && !vp.keyMetrics" class="text-right"></td>

              <td *ngIf="selectedMetric('Delivery') && vp.keyMetrics" class="text-right d-none d-md-table-cell">{{vp.keyMetrics.deliverableCompletionBaseLastActual | number:'1.0-0'}}</td>
              <td *ngIf="selectedMetric('Delivery') && vp.keyMetrics" class="text-right"
                      title="{{vp.keyMetrics.deliverableCompletionCurrentActual | number:'1.0-0'}}">
                <ng-container *ngTemplateOutlet="indicator; context:{level: calcLevel(vp.deliveryCompletionActual, 'percentUnder')} " ></ng-container>
                {{vp.deliveryCompletionActual*100 | number:'1.0-0'}} %
              </td>
              <td *ngIf="selectedMetric('Delivery') && !vp.keyMetrics" class="text-right d-none d-md-table-cell"></td>
              <td *ngIf="selectedMetric('Delivery') && !vp.keyMetrics"></td>
 
              <td class="d-none d-lg-table-cell">{{ vp.vpStatus && getVPStatus(true, vp.vpStatus) }}</td>
              <td title="{{vp.ampelErlaeuterung}}">
                <ng-container *ngTemplateOutlet="trafficLight; context:{level: vp.ampelStatus} " ></ng-container>
              </td>
              <td class="text-right d-none d-xl-table-cell"  title="{{getTimestampTooltip(vp)}}">{{vp.timestamp | date :'dd.MM.yy'}}</td>
              <td id="ColCommitDate" class="text-right d-none d-lg-table-cell" title="{{getPMCommitTooltip(vp.vp)}}" *ngIf="hasCommitDate()" >{{getCommitDate(vp.vp)  | date :'dd.MM.yy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="visbokeymetrics.length == 0">
    <h3 class="d-flex justify-content-center">
      {{ 'compViewBubble.msg.noVersions' | translate }}
    </h3>
  </div>
</div>

<ng-template #cardRow let-label="label" let-title="title" let-value="value">
  <div class="row">
    <div class="col col-sm-8" title="{{title | translate}}">
      {{label | translate }}
    </div>
    <div class="col col-sm-4 text-right">
      {{value}}
    </div>
  </div>
</ng-template>

<ng-template #indicator let-level="level">
  <i class="fa" [ngClass]="{'fa-check-circle text-success': level == 1, 'fa-exclamation-triangle text-warning': level == 2, 'fa-exclamation-circle text-danger': level == 3}"></i>
</ng-template>

<ng-template #trafficLight let-level="level">
  <i class="fas fa-lightbulb" [ngClass]="{'text-secondary': level == 0, 'text-success': level == 1, 'text-warning': level == 2, 'text-danger': level == 3}"></i>
</ng-template>

<!-- Modal Change Key metrics -->
<div class="modal fade" id="VpfMetricSelector" tabindex="-1" role="dialog" aria-labelledby="VpfMetricSelectorTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VpfMetricSelectorTitle">{{ 'compViewBubble.titleChange' | translate }}</h5>
        <button type="button" class="close"  (click)="changeChart()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" novalidate>
          <div class="form-group">
            <label for="XLabel" class="col-form-label">{{ 'compViewBubble.lbl.xAxis' | translate }}:</label>
            <select class="form-control" id="XLabel" name="metricX" [(ngModel)]="metricX">
              <option *ngFor="let metricItem of metricListSorted" value="{{metricItem.metric}}">{{metricItem.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="YLabel" class="col-form-label">{{ 'compViewBubble.lbl.yAxis' | translate }}:</label>
            <select class="form-control" id="YLabel" name="metricY" [(ngModel)]="metricY">
              <option *ngFor="let metricItem of metricListSorted" value="{{metricItem.metric}}">{{metricItem.name}}</option>
            </select>
          </div>
          <div class="modal-footer align-items-end">
            <!-- <button type="button" class="btn btn-secondary" (click)="changeChart()" data-dismiss="modal">{{ 'compViewBubble.btn.cancel' | translate }}</button> -->
            <button type="submit" class="btn btn-primary" (click)="changeChart()" data-dismiss="modal">{{ 'compViewBubble.btn.change' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
