<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required autocomplete="on">
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required autocomplete="on">
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" name="company" [(ngModel)]="model.company" #company="ngModel" required autocomplete="on">
            <div *ngIf="f.submitted && !company.valid" class="help-block">Company Name is required</div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel">
        </div>
        <div *ngIf="!userRegister">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">e-mail</label>
            <input type="email" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required autocomplete="on">
            <div *ngIf="f.submitted && !username.valid" class="help-block">Correct e-mail address is required</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password-new" data-toggle="tooltip" data-placement="top" data-delay='50'
              title="Password Rule: At least one alpha, one capital, one number and one special character and a length of minimum 8.">
              Password (*)
            </label>
            <input type="password" class="form-control" name="password-new" [(ngModel)]="model.password" #password="ngModel" required autocomplete="off" pattern= {{policyPW}} >
            <div *ngIf="!password.valid" class="help-block">New password has to follow the Policy.</div>
            <div *ngIf="!password.valid" class="help-block">Password Rule: At least one alpha, one capital, one number and one special character and a length of minimum 8.</div>
        </div>
        <form name="legal" #fLegal="ngForm" novalidate>
          <div>Terms of Use & Data Protection</div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="IDcheckTOU" name="checkTOU" [(ngModel)]="model.checkTOU" #checkTOU="ngModel" required>
              <label class="custom-control-label" for="IDcheckTOU">Accept Terms of Use: </label>
              <a href="https://visbo.de/visbo-terms-conditions" target="_blank">Terms of Use</a>
          </div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="IDcheckDP" name="checkDP" [(ngModel)]="model.checkDP" #checkDP="ngModel" required>
              <label class="custom-control-label" for="IDcheckDP">Accept Data Protection: </label>
              <a href="https://visbo.de/visbo-data-protection" target="_blank">Data Protection</a>
          </div>
        </form>
        <div class="form-group">
          <button [disabled]=!fLegal.form.valid type="submit" class="btn btn-primary">Register</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
